<div style="height: 100vh;">
  <div class="container h-100 d-flex justify-content-center">
    <div class="my-auto text-center">
      <img class="rounded-circle shadow" style="width: 60px; height: 60px;"
        src="./assets/img/support/email-Icon.png">
      <h5 class="mt-2">โปรดตรวจสอบอีเมลและทำตามลิงก์เพื่อยืนยันที่อยู่อีเมลของคุณ</h5>
      <p>(หากไม่พบอีเมลโปรดตรวจสอบใน "ถังขยะ")</p>
      <p (click)="gotoHome()" style="color: #FE5721; cursor: pointer;">กลับสู่หน้าหลัก</p>
    </div>
  </div>
</div>
