<!-- modalPopupAds -->
  <!-- Modal Popup Ads -->
  <div class="modal fade" id="modalPopupAds" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="border-radius: 10px;">
        <!-- <video width="100%" height="auto" controls autoplay>
          <source src="./assets/img/Ksher-vdo.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video> -->

        <!-- 16:9 aspect ratio -->
        <!-- <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="./assets/img/Ksher-vdo.mp4" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
        </div> -->

        <img class="img-fluid" src="../assets/img/abidmore_ads.png" style="border-radius: 10px;">
        <div class="row mt-3 mb-3 ml-2 mr-2">
          <div class="col align-self-center">
            <p class="mb-0">รับชมวีดีโอเพื่อสะสมเหรียญ</p>
          </div>
          <div class="col-auto text-right">
            <img class="img-fluid img-wallet" src="./assets/img/coins_color_modal.png">
            <a class="text-coin"> x 10</a>
          </div>
        </div>

        <!-- <div class="icon-start">
          <button type="button" class="btn btn-circle" style="background-color: #fff; color: #FE5721; border: 1px solid #FE5721;">
            <p class="mb-0">20</p>
          </button>
        </div> -->

        <div class="icon-start text-center">
          <p class="mb-0 time-text-now">{{ timeCount }}</p>
          <div class="img-sm">
            <canvas id="timeCountChart" style="width: 30px; height: 30px;"></canvas>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Modal Popup Ads -->
