.card-border-3 {
  border: 3px solid #E7EDF4; 
  border-radius: 10px;
  padding: 20px;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 480px) {
  .card-border-3 {
    border: 1.5px solid #E7EDF4;
    border-radius: 0px;
    padding: 10px;
  }
}