<div class="container">
  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <p class="text-white text-center mb-0">แก้ไขชื่อ</p>
    </div>

    <div class="card-body">
      <div class="input-style">
        <p class="mb-0" style="font-size: 17px;">ชื่อ</p>
        <input class="form-control border-0 p-0" style="box-shadow: none; background-color: #F2F6FA;" id="name"
          placeholder="สุทัศน์">
      </div>
      <button type="button" class="btn btn-mt"
        style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #FE5721;">
        บันทึก
      </button>
    </div>
    <!-- Card Body -->
  </div>
</div>
<!-- End Container -->