<div class="container">
  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <p class="text-white text-center mb-0">รายละเอียด</p>
    </div>

    <div *ngIf="item != null" class="card-body">
      <!-- Order Item 1 -->
      <div class="card-list card-padding">
        <div class="row row-mlr mt-2">
          <div class="col-auto col-product col-plr">
            <img (click)="gotoProductDes(item.productKey)" class="img-fluid align-self-center img-product" style="border-radius: 10px; cursor: pointer;"
              src="{{ item.imgProduct[0].imgUrl }}">
          </div>
          <div class="col col-plr pl-0">
            <div class="row row-mlr">
              <div class="col col-plr align-self-center">
                <h5 class="mb-0 font-topic">คำสั่งซื้อ #{{ item.orderNo }}</h5>
              </div>
              <div class="col-auto col-plr align-self-center text-right">
                <p class="mb-0 font-des">{{ item.createAt.seconds*1000 | date: 'd/M/yyyy' }}</p>
              </div>
            </div>
            <h5 (click)="gotoProductDes(item.productKey)" class="mb-0 font-topic productName" style="cursor: pointer;">{{ item.productName | slice:0:30 }}<a *ngIf="item.productName.length > 30">...</a></h5>
            <p class="mb-0 text-left font-sm-7">ที่อยู่ : {{ item.delivery.buyyerAddress.addressString }}</p>
          </div>
        </div>
        <div class="row row-mlr mt-3">
          <div class="col col-md-6 col-xl-6 col-plr align-self-center">
            <div class="row row-mlr">
              <div class="col-auto col-plr">
                <p class="mb-0 font-sm-7">ขนส่ง : {{ item.delivery.priceDelivery.deliveryName }}</p>
              </div>
              <div class="col-auto col-sm-pl col-plr">
                <p class="mb-0 font-sm-7" style="color: #FE5721;">฿{{ item.delivery.priceDelivery.priceDeliveryInput | currency: 'THB' : '' : '0.0' }}</p>
              </div>
            </div>
          </div>
          <div class="col-auto col-md-6 col-xl-6 col-plr text-right align-self-center" style="color: #FE5721;">
            <a class="font-sm-1">ราคาสินค้า </a>
            <a class="font-sm-1">฿{{ item.priceOfProduct | currency: 'THB' : '' : '0.0' }}</a>
          </div>
        </div>
        <div class="row row-mlr">
          <div class="col-12 col-plr text-right align-self-center" style="color: #FE5721;">
            <a class="font-sm-1">ราคารวม </a>
            <a class="font-sm-1">฿{{ (item.priceOfProduct + item.delivery.priceDelivery.priceDeliveryInput) | currency: 'THB' : '' : '0.0' }}</a>
          </div>
        </div>
      </div>
      <!-- End Order Item 1 -->

      <!-- Transport Description -->
      <div class="card-list card-padding mt-3">
        <p class="mb-0">ผู้ส่งสินค้า : {{ item.delivery.priceDelivery.deliveryName }}</p>
        <div class="row row-mlr">
          <div class="col-auto pr-0 col-plr">
            <p *ngIf="transport == null" class="mb-0">ข้อมูลการติดตาม : ไม่พบรหัสติดตามสินค้า</p>
            <p *ngIf="transport != null" class="mb-0">ข้อมูลการติดตาม : {{ transport.pno }}</p>
          </div>
          <div class="col-auto col-plr">
            <button type="button" class="btn btn-circle-clone" data-toggle="modal" data-target="#ModalPopupCopyTrackNumber" (click)="copyTrackNumber()">
              <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <!-- DESCRIPTION-->
        <div class="mt-2" style="background-color: #373E48; border-radius: 5px; padding: 15px;">
          <!-- TRANSPORT -->
          <p class="text-white mb-0">การขนส่ง</p>
          <!-- TRANSPORT EMPTY -->
          <div *ngIf="transport == null" class="mt-4 mb-4">
            <p class="text-center text-danger mb-0">ไม่พบข้อมูลรายละเอียดการจัดส่ง</p>
            <p class="text-center text-danger mb-0">โปรดติดตามสินค้าผ่านเว็บไซต์</p>
          </div>
          <!-- TRANSPORT !EMPTY -->
          <div *ngIf="transport != null">
            <div *ngFor="let data of transport.routes; let i = index;" class="row row-mlr mt10">
              <div class="col-auto col-plr pr-0 align-self-center">
                <div [class.dot-start]="i+1 < transport.routes.length"></div>
                <div [class.line-start]="i+1 > 1 && i+1 != transport.routes.length"></div>
                <div [class.dot-now-opa]="i+1 == transport.routes.length"></div>
                <div [class.dot-now]="i+1 == transport.routes.length"></div>
                <div [class.line-start]="i+1 != 1 && i+1 == transport.routes.length"></div>
              </div>
              <div class="col col-plr">
                <!-- FOR FLASH EX -->
                <div *ngIf="item.delivery.priceDelivery.deliveryName == 'Flash Express'">
                  <p class="mb-0 text-white font-sm-1">{{ data.stateTextTH }}</p>
                  <p class="mb-0 font-sm-7" style="color: #A2A2A2;">{{ data.stateDate | date: 'd/M/yyyy' }} {{ data.stateDate | date: "HH:mm" }}</p>
                </div>
                <!-- FOR THAI POST -->
                <div *ngIf="item.delivery.priceDelivery.deliveryName == 'Thailand Post'">
                  <p class="mb-0 text-white font-sm-1">{{ data.statusDescription }}</p>
                  <p class="mb-0 font-sm-7" style="color: #A2A2A2;">{{ data.statusDate }}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- END TRANSPORT -->
        </div>

        <div class="mt-2">
          <a class="mb-0">ขนส่งจัดส่งสินค้าสำเร็จ โปรดตรวจสอบและยืนยันสินค้าหรือคุณสามารถติดตามสถานะสินค้าที่คุณสั่งซื้อจาก </a>
          <a class="mb-0" style="color: #FE5721;">{{ item.delivery.priceDelivery.deliveryName }}</a>
          <a class="mb-0"> เว็บไซต์สำหรับการติดตามสถานะสินค้า</a>
        </div>
        <button *ngIf="item.delivery.priceDelivery.deliveryName == 'Kerry Express'" 
        type="button" class="btn mt-2" style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #FE5721;"
        onclick="window.open('https://th.kerryexpress.com/th/track/')" target="_blank">ติดตามสินค้าผ่านเว็บไซต์</button>
        <button *ngIf="item.delivery.priceDelivery.deliveryName == 'Thailand Post'" 
        type="button" class="btn mt-2" style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #FE5721;"
        onclick="window.open('https://track.thailandpost.co.th/')" target="_blank">ติดตามสินค้าผ่านเว็บไซต์</button>
        <button *ngIf="item.delivery.priceDelivery.deliveryName == 'SCG Express'" 
        type="button" class="btn mt-2" style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #FE5721;"
        onclick="window.open('https://www.scgexpress.co.th/tracking')" target="_blank">ติดตามสินค้าผ่านเว็บไซต์</button>
      </div>
      <!-- End Transport Description -->

      <!-- SUBMIT & REVIEW -->
      <div class="card-list card-padding mt-3">
        <div class="row">
          <div class="col">
            <p class="mb-0">สถานะ : ยืนยันสินค้าสำเร็จ</p>
          </div>
          <div class="col-auto">
            <p class="mb-0">{{ item.submitOrderAt.seconds*1000 | date: 'd/M/yyyy' }}</p>
          </div>
        </div>
        <!-- REVIEW -->
        <div *ngFor="let data of reviewProduct" class="mt-2">
          <ul class="rating-stars">
          <li>
            <i class="fa fa-lg star-color" [class.fa-star]="data.value.ratingStars >= 1" [class.fa-star-o]="data.value.ratingStars < 1" (click)="selectStar(1)"></i>
            <i class="ml-1 fa fa-lg star-color" [class.fa-star]="data.value.ratingStars >= 2" [class.fa-star-o]="data.value.ratingStars < 2" (click)="selectStar(2)"></i>
            <i class="ml-1 fa fa-lg star-color" [class.fa-star]="data.value.ratingStars >= 3" [class.fa-star-o]="data.value.ratingStars < 3" (click)="selectStar(3)"></i>
            <i class="ml-1 fa fa-lg star-color" [class.fa-star]="data.value.ratingStars >= 4" [class.fa-star-o]="data.value.ratingStars < 4" (click)="selectStar(4)"></i>
            <i class="ml-1 fa fa-lg star-color" [class.fa-star]="data.value.ratingStars >= 5" [class.fa-star-o]="data.value.ratingStars < 5" (click)="selectStar(5)"></i>
          </li>
        </ul>
          <p class="mb-0">ความคิดเห็น : {{ data.value.comment }}</p>
        </div>
      </div>
      <!-- END SUBMIT & REVIEW -->
    </div>
    <!-- End Card Body -->
  </div>
  <!-- End Card -->

  <!-- MODAL POPUP COPY -->
<div class="modal fade" id="ModalPopupCopyTrackNumber" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">คัดลอกรหัสติดตามสินค้าเรียบร้อย</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ENG MODAL POPUP COPY -->

</div>
<!-- End Container -->