<div class="container">
  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <div class="row m-0">
        <div class="col pr-0 align-self-center">
          <p class="text-white text-center mb-0">บัตรของฉัน</p>
        </div>
        <div class="col-auto p-0">
          <a href="#" class="card-link add-text" style="color: #FE5721;" data-toggle="modal"
            data-target="#modalAddCard">เพิ่มบัตร</a>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row m-0">
        <!-- Row 1 -->
        <div class="col-12 col-md-6 col-xl-6 mt-3 pl-0 col-r-card">
          <!-- List 1-1 -->
          <div class="card border-0 border-ra13">
            <img class="card-img img-cover" src="./assets/img/card/kbank-card.png">
            <div class="card-img-overlay overlay-cover">
              <div class="row m-0">
                <div class="col-auto col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 p-0 align-self-center">
                  <div class="row m-0">
                    <div class="col-auto-bank">
                      <img class="img-fluid rounded-circle img-bank" src="./assets/img/card/kbank-icon.png">
                    </div>
                    <div class="col-auto pl-0 align-self-center text-white text-bank">
                      <h5 class="mb-0 text-bank text-left">KBANK</h5>
                      <p class="mb-0">บัตรเดบิต</p>
                    </div>
                  </div>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-0 text-right">
                  <button type="button" class="btn btn-circle">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                <h4 class="mb-0 text-right text-white">**** **** **** 6666</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-6 mt-3 col-l-card pr-0">
          <!-- List 1-2 -->
          <div class="card border-0 border-ra13">
            <img class="card-img img-cover" src="./assets/img/card/KRUNGSRI-card.png">
            <div class="card-img-overlay overlay-cover">
              <div class="row m-0">
                <div class="col-auto col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 p-0 align-self-center">
                  <div class="row m-0">
                    <div class="col-auto-bank">
                      <img class="img-fluid rounded-circle img-bank" src="./assets/img/card/logo-krungsri.png">
                    </div>
                    <div class="col-auto pl-0 align-self-center text-white text-bank">
                      <h5 class="mb-0 text-bank text-left">KRUNGSRI</h5>
                      <p class="mb-0">บัตรเดบิต</p>
                    </div>
                  </div>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-0 text-right">
                  <button type="button" class="btn btn-circle">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                <h4 class="mb-0 text-right text-white">**** **** **** 6666</h4>
              </div>
            </div>
          </div>
        </div>

        <!-- Row 2 -->
        <div class="col-12 col-md-6 col-xl-6 mt-3 pl-0 col-r-card">
          <!-- List 1-1 -->
          <div class="card border-0 border-ra13">
            <img class="card-img img-cover" src="./assets/img/card/KRUNGSRI-card.png">
            <div class="card-img-overlay overlay-cover">
              <div class="row m-0">
                <div class="col-auto col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 p-0 align-self-center">
                  <div class="row m-0">
                    <div class="col-auto-bank">
                      <img class="img-fluid rounded-circle img-bank" src="./assets/img/card/logo-krungsri.png">
                    </div>
                    <div class="col-auto pl-0 align-self-center text-white text-bank">
                      <h5 class="mb-0 text-bank text-left">KRUNGSRI</h5>
                      <p class="mb-0">บัตรเดบิต</p>
                    </div>
                  </div>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-0 text-right">
                  <button type="button" class="btn btn-circle">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                <h4 class="mb-0 text-right text-white">**** **** **** 6666</h4>
              </div>
            </div>
          </div>
        </div>

      </div>
      
      <!-- Modal Add Card -->
      <div class="modal fade" id="modalAddCard" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-bottom">
        <div class="modal-content p-3" style="border-radius: 20px 20px 0px 0px;">

          <div class="row">
            <div class="col text-center">
              <p>เพิ่มที่อยู่ใหม่</p>
            </div>
            <div class="col-auto">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          </div>

          <div class="modal-body p-0">
            <!-- Row 1 -->
            <div class="row mt-2 ml-0 mr-0">
              <div class="col pl-0 pr-0">
                <div class="input-style">
                  <p class="mb-0 text-input">หมายเลขบัตรเครดิต/เดบิต</p>
                  <input class="form-control border-0 p-0 text-placeholder"
                    style="box-shadow: none; background-color: #F2F6FA;" id="cardnumber" placeholder="xxxxxxxxxxxxxxxx">
                </div>
              </div>
            </div>
            <!-- Row 2 -->
            <div class="row mt-2 ml-0 mr-0">
              <div class="col col-r-add pl-0">
                <div class="input-style">
                  <p class="mb-0 text-input">วันหมดอายุ</p>
                  <input class="form-control border-0 p-0 text-placeholder"
                    style="box-shadow: none; background-color: #F2F6FA;" id="date" placeholder="ข้อความ">
                </div>
              </div>
              <div class="col col-l-add pr-0">
                <div class="input-style">
                  <p class="mb-0 text-input">CCV/CVV</p>
                  <input class="form-control border-0 p-0 text-placeholder"
                    style="box-shadow: none; background-color: #F2F6FA;" id="ccv" placeholder="ข้อความ">
                </div>
              </div>
            </div>
            <!-- Row 3 -->
            <div class="row mt-2 ml-0 mr-0">
              <div class="col pl-0 pr-0">
                <div class="input-style">
                  <p class="mb-0 text-input">ชื่อผู้ถือบัตร</p>
                  <input class="form-control border-0 p-0 text-placeholder"
                    style="box-shadow: none; background-color: #F2F6FA;" id="namecard"
                    placeholder="ข้อความ">
                </div>
              </div>
            </div>
            <!-- Button Submit -->
            <button type="button" class="btn mt-2"
              style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #FE5721;">
              เพิ่มบัตร
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal New Address -->

    </div>
    <!-- Card Body -->
  </div>
</div>
<!-- End Container -->