/* .nav-pills .nav-link.active, .nav-pills .show .nav-link {
  color: #fff;
  background-color: #FE5721;
} */

.auction-type-active {
  border-radius: 25px;
  color: #FFF; 
  background-color: #FE5721;
}

/* Card Product */
.p-1-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.p-1-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.p-2-1 {
  padding-left: 5px;
  padding-right: 5px;
} 

.p-2-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.card-border-3 {
  border: 3px solid #E7EDF4; 
  border-radius: 15px;
}

.img-card-auto-win {
  background-color: #fff;
  border: 3px solid #F0F0F0; 
  border-radius: 0px 15px 15px 0px;
}
.img-auto-win-other {
  max-width: 40px;
}

.p-text-other {
  font-size: 1rem;
}

.img-card-time {
  background-color: #fff;
  border: 3px solid #F0F0F0; 
  border-radius: 15px 0px 0px 15px; 
}

.img-time-other {
  max-width: 40px;
}

.rating-stars {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1;
}
/* Card Product */

.card-radius {
  border-radius: 10px; 
  background-color: #383D47;
}

.card-tab-radius {
  border-radius: 10px; 
  background-color: #202229;
}

.container {
  margin-bottom: 16px;
}


/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 480px) {
  .p-1-1 {
    padding-left: 3px;
    padding-right: 3px;
  }
  
  .p-1-2 {
    padding-left: 3px;
    padding-right: 3px;
  }
  
  .p-2-1 {
    padding-left: 3px;
    padding-right: 3px;
  } 
  
  .p-2-2 {
    padding-left: 3px;
    padding-right: 3px;
  }
  
  .card-border-3 {
    border: 1.5px solid #E7EDF4;
    border-radius: 15px;
  }
  
  .img-card-auto-win {
    background-color: #fff;
    border: 0.5px solid #F0F0F0; 
    border-radius: 0px 15px 15px 0px; 
  }
  
  .img-auto-win-other {
    max-width: 30px;
  }
  
  .p-text-other {
    font-size: 0.5rem;
    line-height: -50rem;
  }
  
  .img-card-time {
    background-color: #fff;
    border: 0.5px solid #F0F0F0; 
    border-radius: 15px 0px 0px 15px; 
  }
  
  .img-time-other {
    max-width: 30px;
  }
  
  .card-body-padding {
    padding: 10px;
  }

  .container {
    padding: 0px;
  }

  .card-body {
    padding-left: 8px;
    padding-right: 8px;
  }

  .card-radius {
    border-radius: 0px; 
    background-color: #383D47;
  }
  
  .card-tab-radius {
    border-radius: 0px; 
    background-color: #202229;
  }

  .container {
    margin-bottom: 0px;
  }
}