<div class="container">
  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <p class="text-white text-center mb-0">การซื้อของฉัน</p>
    </div>
  
    <div class="card-body">
      <!-- List 1 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col align-self-center">
            <p class="mb-0 font-store">ที่ต้องชำระ</p>
          </div>
          <div class="col-auto align-self-center">
            <span class="badge badge-pill" 
            style="position: relative; padding: 5px 7px; color: #FFF; background-color: #E54040;">
              9
            </span>
          </div>
        </div>
      </div>
      <!-- List 2 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col align-self-center">
            <p class="mb-0 font-store">รอยืนยันชำระเงิน</p>
          </div>
          <div class="col-auto align-self-center">
            <span class="badge badge-pill" 
            style="position: relative; padding: 5px 7px; color: #FFF; background-color: #E54040;">
              9
            </span>
          </div>
        </div>
      </div>
      <!-- List 3 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col align-self-center">
            <p class="mb-0 font-store">เตรียมจัดส่ง</p>
          </div>
          <div class="col-auto align-self-center">
            <span class="badge badge-pill" 
            style="position: relative; padding: 5px 7px; color: #FFF; background-color: #E54040;">
              9
            </span>
          </div>
        </div>
      </div>
      <!-- List 4 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col align-self-center">
            <p class="mb-0 font-store">ระหว่างขนส่ง</p>
          </div>
          <div class="col-auto align-self-center">
            <span class="badge badge-pill" 
            style="position: relative; padding: 5px 7px; color: #FFF; background-color: #E54040;">
              9
            </span>
          </div>
        </div>
      </div>
      <!-- List 5 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col align-self-center">
            <p class="mb-0 font-store">สำเร็จ</p>
          </div>
          <div class="col-auto align-self-center">
            <span class="badge badge-pill" 
            style="position: relative; padding: 5px 7px; color: #FFF; background-color: #E54040;">
              9
            </span>
          </div>
        </div>
      </div>
      <!-- List 6 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col align-self-center">
            <p class="mb-0 font-store">สินค้าที่ยกเลิก</p>
          </div>
          <div class="col-auto align-self-center">
            <span class="badge badge-pill" 
            style="position: relative; padding: 5px 7px; color: #FFF; background-color: #E54040;">
              9
            </span>
          </div>
        </div>
      </div>      
      <!-- List 7 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col align-self-center">
            <p class="mb-0 font-store">การคืนเงินคืนสินค้า</p>
          </div>
          <div class="col-auto align-self-center">
            <span class="badge badge-pill" 
            style="position: relative; padding: 5px 7px; color: #FFF; background-color: #E54040;">
              9
            </span>
          </div>
        </div>
      </div>
      
  </div>
  <!-- Card Body -->
  </div>


  </div>
  <!-- End Container -->