.search-input {
  /* padding-left: 20px;  */
  border-radius: 40px;
}

.search-symbol {
  margin-left: -40px; 
  z-index: 3; 
  border-radius: 40px; 
  background-color: transparent; 
  border:none;
}

.search-symbol-span {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
}

.search-symbol2 {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
}

.input-width {
  width: 500px;
}

.dropdown-menu-width {
  width: 500px;
}

.nav-item-text {
  display: none;
}

.nav-icon {
  display: inline;
}

.dropdown-menu-profile-width {
  width: 170px;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.line-left-100 {
  border-left: 2px solid #eaeaea; 
  color: #eaeaea;
  height: 100%;
  top: 0px; 
  left: 0px;
  overflow: hidden;
}

.line-left-50 {
  border-left: 2px solid #eaeaea; 
  color: #eaeaea;
  height: 55%;
  top: 0px; 
  left: 0px;
  overflow: hidden;
}

.sub-cat-item:hover {
  background-color: #f4f4f4;
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .input-width {
    width: 100%;
  }

  .dropdown-menu-width {
    width: 100%;
  }
  
  .dropdown-menu {
    position: absolute;
  }

  .nav-item-text {
    display: inline;
  }

  .nav-icon {
    display: none;
  }

  .dropdown-menu-right {
    left: 0;
    right: auto;
  }

  /* .dropdown-menu-profile-width {
    width: 100%;
  } */

  .line-left-50 {
    height: 58%;
  }

  .nav-mt-2-sm {
    margin-top: 15px;
  }

}
/* Medium devices (tablets, 768px and up) */


/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  .input-width {
    width: 100%;
  }

  .dropdown-menu-width {
    width: 100%;
  }
  
  .dropdown-menu {
    position: absolute;
  }

  .nav-item-text {
    display: inline;
  }

  .nav-icon {
    display: none;
  }

  .dropdown-menu-right {
    left: 0;
    right: auto;
  }

  .nav-mt-2-sm {
    margin-top: 15px;
  }
  /* .dropdown-menu-profile-width {
    width: 100%;
  } */
}

@media only screen and (max-width: 480px) {
  .nav-mt-2-sm {
    margin-top: 15px;
  }
}
/* Small devices (landscape phones, 576px and up) */
