<nav class="mb-1 navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./assets/img/WebsiteLogo-hourglass-B-Edit2_MoreBubble_shadow.png" width="30" height="30" class="d-inline-block align-top" alt="">
      aBidMore
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
      aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-symbol"></span> -->
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav ml-auto mr-auto">
        <li class="nav-item d-flex">
          <form class="d-flex dropdown input-width">
            <!-- Search-Input -->
            <input id="search-input" data-toggle="dropdown" class="form-control search-input" style="box-shadow: none;" type="text"
              placeholder="ค้นหา...">
            <div class="input-group-addon search-symbol">
              <span class="fa fa-search search-symbol2"></span>
            </div>
            <!-- Dropdown-Menu -->
            <div class="dropdown-menu dropdown-menu-width p-3" style="border-radius: 15px;">
              <div class="card border-0">
                <div class="card-body p-0">

                  <div class="row">
                    <div class="col">
                      <p class="mb-0" style="font-size: 0.8rem; color: #A4A4A4;">ประวัติ</p>
                    </div>
                    <div class="col">
                      <a href="#" class="nav-link p-0" style="text-decoration: none; cursor: pointer;">
                        <p class="mb-0 text-right" style="font-size: 0.8rem; color: #A4A4A4;">ลบ</p>
                      </a>
                    </div>
                  </div>
                  <div class="mt-2 ml-2">
                    <p class="mb-0">กางเกงขาสั้น</p>
                    <p class="mb-0">รองเท้าหนัง</p>
                    <p class="mb-0">iPhone XS</p>
                    <p class="mb-0">นาฬิกาข้อมือสายเหล็ก</p>
                    <p class="mb-0">รองเท้าแตะสีสัน</p>
                  </div>

                  <p class="mt-2 mb-0" style="font-size: 0.8rem; color: #A4A4A4;">หมวดหมู่</p>
                  <!-- ROW 1 -->
                  <div class="row ml-0 mr-0">
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/men-shirt-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">เสื้อผ้าชาย</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/men-shoes-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">รองเท้าชาย</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/dress-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">เสื้อผ้าหญิง</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/high-heels-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">รองเท้าหญิง</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/cosmetics-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">ความงาม</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/bag-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">กระเป๋า</p>
                      </a>
                    </div>
                    <!-- ROW 1 -->
                    <!-- ROW 2 -->
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/accessories-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">เครื่องประดับ</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/sofa-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">เครื่องใช้ในบ้าน</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/phone-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">มือถือ</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/game-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">เกม</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/camera-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">กล้อง</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/sport-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">กีฬา</p>
                      </a>
                    </div>
                    <!-- ROW 2 -->
                    <!-- ROW 3 -->
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/computer-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">คอมพิวเตอร์</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/food-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">อาหาร</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/Washing-machine-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">เครื่องใช้ไฟฟ้า</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/car-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">ยานยนต์</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/HandGroup-icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">บริจาค</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/voucher icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">voucher</p>
                      </a>
                    </div>
                    <!-- ROW 2 -->
                    <!-- ROW 3 -->
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/fetish icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">เครื่องราง</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/collectibles icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">ของสะสม</p>
                      </a>
                    </div>
                    <div class="col-3 col-md-2 col-lg-2 text-center p-1">
                      <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
                        <img class="img-border-radius" style="width: 50px;" src="./assets/img/search-icon/Other icon.png">
                        <p class="mb-0" style="font-size: 0.8rem;">อื่นๆ</p>
                      </a>
                    </div>
                    <!-- ROW 3 -->
                    </div>

                </div>
                
              </div>
            </div>
          </form>
        </li>
      </ul>
      <form class="form-inline">
        <div class="md-form my-0">
          <!-- RIGHT -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item d-flex">
              <a href="#" class="nav-link" style="text-decoration: none; cursor: pointer;">
                <img style="width: 25px;" src="./assets/img/auction-black-icon.png">
                <p class="nav-item-text mb-0 pl-2">ร่วมประมูล</p>
              </a>
            </li>
            <li class="nav-item d-flex">
              <a href="#" class="nav-link" style="text-decoration: none; cursor: pointer;">
                <img style="width: 25px;" src="./assets/img/noti-chat-icon-bg-gray.png">
                <span class="badge badge-pill" style="position: relative; top: -10px; right: -10px; padding: 1px 7px; margin-left: -23px; color: #FFF; background-color: #E54040; border: 1px solid #EEE;">
                  8
                </span>
                <p class="nav-item-text mb-0 pl-2">ข้อความ</p>
              </a>
            </li>
            
            <li class="nav-item d-flex dropdown">
              <a class="nav-link" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" style="text-decoration: none; cursor: pointer;">
                <img style="width: 25px;" src="./assets/img/noti-icon.png">
                <span class="badge badge-pill" style="position: relative; top: -10px; right: -10px; padding: 1px 7px; margin-left: -23px; color: #FFF; background-color: #E54040; border: 1px solid #EEE;">
                  9
                </span>
                <p class="nav-item-text mb-0 pl-2">การแจ้งเตือน</p>
              </a>
              <div class="dropdown-menu p-3" style=" border-radius: 15px;">
                <div class="row">
                  <div class="col-auto pr-2">
                    <img style="width: 25px;" src="./assets/img/noti-noti-icon.png">
                  </div>
                  <div class="col pl-0 align-self-center">
                    <p class="mb-0">การแจ้งเตือน</p>
                  </div>
                </div>
                <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;">

                </div>
                <div class="row">
                  <div class="col-auto pr-2">
                    <img style="width: 25px;" src="./assets/img/noti-pro-icon.png">
                  </div>
                  <div class="col pl-0 align-self-center">
                    <p class="mb-0">โปรโมชั่น</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item d-flex">
              <a href="#" class="nav-link" style="text-decoration: none; cursor: pointer;">
                <img style="width: 25px;" src="./assets/img/Cart-icon.png">
                <p class="nav-item-text mb-0 pl-2">รอยืนยันชำระเงิน</p>
              </a>
            </li>
            <li class="nav-item d-flex">
              <a href="#" class="nav-link" style="text-decoration: none; cursor: pointer;">
                <img style="width: 25px;" src="./assets/img/wallet-icon.png">
                <p class="nav-item-text mb-0 pl-2">การเงิน</p>
              </a>
            </li>

            <li class="nav-item d-flex dropdown">
              <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; cursor: pointer;">
                <img class="rounded-circle" style="width: 25px;" src="./assets/img/business-man.png">
                <p class="nav-item-text mb-0 pl-2">บัญชีผู้ใช้</p>
              </a>
              <div class="dropdown-menu dropdown-menu-profile-width dropdown-menu-right p-3" style="border-radius: 15px;">
                <a href="#" class="row" style="text-decoration: none; cursor: pointer;">
                  <div class="col-auto pr-2">
                    <img style="width: 25px;" src="./assets/img/profile-dropdown/list-icon.png">
                  </div>
                  <div class="col pl-0 align-self-center">
                    <p class="text-dark mb-0">การซื้อของฉัน</p>
                  </div>
                </a>
                <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
                <a href="#" class="row" style="text-decoration: none; cursor: pointer;">
                  <div class="col-auto pr-2">
                    <img style="width: 25px;" src="./assets/img/profile-dropdown/store-icon-color.png">
                  </div>
                  <div class="col pl-0 align-self-center">
                    <p class="text-dark mb-0">กำลังติดตาม</p>
                  </div>
                </a>
                <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
                <a href="#" class="row" style="text-decoration: none; cursor: pointer;">
                  <div class="col-auto pr-2">
                    <img style="width: 25px;" src="./assets/img/profile-dropdown/heart_vector_color.png">
                  </div>
                  <div class="col pl-0 align-self-center">
                    <p class="text-dark mb-0">ที่ฉันถูกใจ</p>
                  </div>
                </a>
                <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
                <a href="#" class="row" style="text-decoration: none; cursor: pointer;">
                  <div class="col-auto pr-2">
                    <img style="width: 25px;" src="./assets/img/profile-dropdown/Share-Friend-color-2-icon.png">
                  </div>
                  <div class="col pl-0 align-self-center">
                    <p class="text-dark mb-0">ชวนเพื่อน</p>
                  </div>
                </a>
                <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
                <a href="#" class="row" style="text-decoration: none; cursor: pointer;">
                  <div class="col-auto pr-2">
                    <img style="width: 25px;" src="./assets/img/profile-dropdown/coins_color_2.png">
                  </div>
                  <div class="col pl-0 align-self-center">
                    <p class="text-dark mb-0">สะสมเหรียญ
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </p>
                  </div>
                </a>
                <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
                <a href="#" class="row" style="text-decoration: none; cursor: pointer;">
                  <div class="col-auto pr-2">
                    <img style="width: 25px;" src="./assets/img/profile-dropdown/setting-icon.png">
                  </div>
                  <div class="col pl-0 align-self-center">
                    <p class="text-dark mb-0">ตั้งค่าบัญชี</p>
                  </div>
                </a>
                <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
                <a href="#" class="row" style="text-decoration: none; cursor: pointer;">
                  <div class="col-auto pr-2">
                    <img style="width: 25px;" src="./assets/img/profile-dropdown/HelpCenter.png">
                  </div>
                  <div class="col pl-0 align-self-center">
                    <p class="text-dark mb-0">ศูนย์ช่วยเหลือ</p>
                  </div>
                </a>
                <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>

                <a href="#" class="row" style="text-decoration: none; cursor: pointer;">
                  <div class="col-auto pr-2">
                    <img style="width: 25px; border-radius: 5px;" src="./assets/img/profile-dropdown/language-icon.png">
                  </div>
                  <div class="col pl-0 align-self-center">
                    <p class="text-dark mb-0">ภาษา</p>
                  </div>
                </a>
                <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
                <a href="#" class="row" style="text-decoration: none; cursor: pointer;">
                  <div class="col-auto pr-2">
                    <img style="width: 25px;" src="./assets/img/profile-dropdown/seller-icon.png">
                  </div>
                  <div class="col pl-0 align-self-center">
                    <p class="text-dark mb-0">สนใจขายสินค้า</p>
                  </div>
                </a>

              </div>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>




<!-- <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
</div>
<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
  <label class="custom-control-label" for="customSwitch2">Disabled switch element</label>
</div> -->