<!-- <div class="row">
  <div class="col">
    <p>กำลังประมูล</p>
  </div>
  <div class="col text-right">
    <p>ดูเพิ่มเติม</p>
  </div>
</div> -->

<!-- ----------------------------------------- -->
<div class="row pt-5 pb-5" style="background-color: #F26E24;">
  <div class="col-2">
    <p class="text-white text-right">กำลังประมูล</p>
  </div>
  <div class="col-10">
    <!-- 10000000 -->
    <div class="row">
      <div class="col-2 p-1" style="min-width: 255px;">
        <div class="card" style="border: 3px solid #E7EDF4; border-radius: 15px;">
          <div class="card" style="border: none;">
            <img class="card-img"  src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <div class="row">
                <div class="col-6 pr-1">
                  <div class="img-card-auto-win">
                    <img class="img-fluid" style="margin: -25px 0px -20px -17px; max-width: 50px;" src="./assets/img/auto-win-text-icon.png">
                    <p class="mb-0 pl-2" style="display:inline">฿15,000</p>
                  </div>
                </div>
                <div class="col-6 pl-1">
                  <div class="img-card-time text-right">
                    <p class="mb-0 pr-2" style="display:inline">฿7,500</p>
                    <img class="img-fluid" style="display: inline; margin: -25px -17px -20px 0px; max-width: 50px;" src="./assets/img/auto-win-text-icon.png">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body">
            <h5 class="card-title">Herschel Supply Retreat Backpack...</h5>
            <p class="card-text">กระเป๋ารุ่นยอดนิยมของ...</p>
            <ul class="rating-stars">
              <li>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i> 
              </li>
            </ul>
            <var class="float-right">
              <i class="fa fa-heart" style="color: #FE5721"></i>
            </var>
          </div>
        </div>
      </div>
      <div class="col-2 p-1" style="min-width: 255px;">
        <div class="card" style="border: 3px solid #E7EDF4; border-radius: 15px;">
          <img class="card-img-top" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Herschel Supply Retreat Backpack...</h5>
            <p class="card-text">กระเป๋ารุ่นยอดนิยมของ...</p>
            <div class="row">
              <div class="col-10">
                <i class="fa fa-star pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star-o pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
              </div>
              <div class="col-2 text-right">
                <i class="fa fa-heart" style="color: #FE5721"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 p-1" style="min-width: 255px;">
        <div class="card" style="border: 3px solid #E7EDF4; border-radius: 15px;">
          <img class="card-img-top" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Herschel Supply Retreat Backpack...</h5>
            <p class="card-text">กระเป๋ารุ่นยอดนิยมของ...</p>
            <div class="row">
              <div class="col-10">
                <i class="fa fa-star pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star-o pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
              </div>
              <div class="col-2 text-right">
                <i class="fa fa-heart" style="color: #FE5721"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 p-1" style="min-width: 255px;">
        <div class="card" style="border: 3px solid #E7EDF4; border-radius: 15px;">
          <img class="card-img-top" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Herschel Supply Retreat Backpack...</h5>
            <p class="card-text">กระเป๋ารุ่นยอดนิยมของ...</p>
            <div class="row">
              <div class="col-10">
                <i class="fa fa-star pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star-o pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
              </div>
              <div class="col-2 text-right">
                <i class="fa fa-heart" style="color: #FE5721"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 p-1" style="min-width: 255px;">
        <div class="card" style="border: 3px solid #E7EDF4; border-radius: 15px;">
          <img class="card-img-top" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Herschel Supply Retreat Backpack...</h5>
            <p class="card-text">กระเป๋ารุ่นยอดนิยมของ...</p>
            <div class="row">
              <div class="col-10">
                <i class="fa fa-star pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star-o pr-1" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
              </div>
              <div class="col-2 text-right">
                <i class="fa fa-heart" style="color: #FE5721"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 p-1" style="display: flex; align-items: center;">
        <button type="button" class="btn btn-circle">
          <img class="img-fluid" src="./assets/img/arrow-right-white.svg">
        </button>
      </div>
    </div>
  </div>
</div>




<!-- <div class="card" style="width:500px">
  <img class="card-img-top" src="./assets/img/bag.png" alt="Card image">
  <div class="card-img-overlay">
    <div class="row">
      <div class="col">
        <img src="./assets/img/auto-win-text-icon.png" class="img-fluid img-circle" style="max-width: 100px;"
          alt="Responsive image">
        
      </div>
      <div class="col text-right">
        2222
      </div>
    </div>
  </div>
</div> -->



<!-- Card Final -->
<!-- <div class="mt-5"></div>
<div class="card" style="width: 18rem; border: 3px solid #E7EDF4; border-radius: 15px;">
  <img class="card-img-top" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Herschel Supply Retreat Backpack...</h5>
    <p class="card-text">กระเป๋ารุ่นยอดนิยมของ...</p>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col pr-0">
            <i class="fa fa-star" style="color: #FFA101;"></i>
          </div>
          <div class="col p-0">
            <i class="fa fa-star" style="color: #FFA101;"></i>
          </div>
          <div class="col p-0">
            <i class="fa fa-star" style="color: #FFA101;"></i>
          </div>
          <div class="col p-0">
            <i class="fa fa-star-o" style="color: #FFA101;"></i>
          </div>
          <div class="col p-0">
            <i class="fa fa-star-o" style="color: #FFA101;"></i>
          </div>
        </div>
      </div>
      <div class="col text-right">
        <i class="fa fa-heart" style="color: #FE5721"></i>
      </div>
    </div>
  </div>
</div> -->





<div class="container my-4">

    <!-- <hr class="my-4"> -->

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-3 p-1">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title 1-1</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 p-1 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title 1-2</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 p-1 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title 1-3</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 p-1 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title 1-4</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-3 p-1">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title 2-1</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 p-1 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title 2-2</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 p-1 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title 2-3</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 p-1 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title 2-4</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-3 p-1">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title 3-1</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 p-1 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title 3-2</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 p-1 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title 3-3</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 p-1 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title 3-4</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.Third slide-->
      </div>
      <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->

  </div>
  <div class="card">
    <div class="row ml-0 mr-0">
      <div class="col">
        1-1
      </div>
      <div class="col">
        1-2
      </div>
    </div>
    <div class="row ml-0 mr-0">
      <div class="col">
        2-1
      </div>
      <div class="col">
        2-2
      </div>
    </div>
    
  </div>

  <!-- <div class="card" style="border: 3px solid #E7EDF4; border-radius: 10px;">

    <div class="row m-0 p-0">
      <div class="col m-0 p-4" style="background-color: blueviolet; border-right: 0.5px solid #E7EDF4; border-bottom: 0.5px solid #E7EDF4;">
        <p>นับถอยหลัง</p>
      </div>
      <div class="col m-0 p-0" style="border-bottom: 0.5px solid #E7EDF4;">
        <p>ราคา</p>
      </div>
    </div>
    <div class="row m-0 p-0">
      <div class="col m-0 p-0" style="border-right: 0.5px solid #E7EDF4;">
        <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
        เพิ่มสินค้าลงรถเข็น<i class="fa fa-question-circle ml-1" aria-hidden="true"></i>
      </a>
        <div class="row m-0 p-0">
          <div class="col-4 m-0 p-0">
            <img class="img-fluid" src="./assets/img/auto-bid-text-icon.svg">
          </div>
          <div class="col-8 m-0 p-0">
            <h6>฿15,000</h6>
            <p>สามารถซื้อในราคาเต็ม</p>
          </div>
        </div>
      </div>
      <div class="col m-0 p-0">
        <p>Auto Bid</p>
        <div class="row m-0 p-0">
          <div class="col-6 m-0 p-0">
            <a href="#" class="text-dark" style="text-decoration: none; cursor: pointer;">
              <i class="fa fa-question-circle mr-1" aria-hidden="true"></i>รายละเอียด
            </a>
          </div>
          <div class="col-6 m-0 p-0 text-right">
            <img class="card-img-top img-border-radius" style="width: 30px;" src="./assets/img/coins_color_2-1.png">
            x 127
          </div>
        </div>
      </div>
    </div>
  </div> -->
