<!-- Modal New Address -->
<div class="modal fade" id="modalReason" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
style="display: none;" aria-hidden="true">
<div class="modal-dialog modal-bottom">
  <div class="modal-content p-3" style="border-radius: 20px 20px 0px 0px;">
   
    <div class="row">
      <div class="col-auto">
        <a class="" style="text-decoration: none; cursor: pointer; color: #FE5721;">
          ตกลง
        </a>
      </div>
      <div class="col text-center">
        <p>เหตุผลการคืนสินค้า</p>
      </div>
      <div class="col-auto">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>

    <div class="modal-body p-0">
      <p class="mt-1 mb-1 font-weight-bold text-center" style="cursor: pointer;">สินค้าชำรุด</p>
      <div style="border-bottom: 1.5px solid #6D6D6D;"></div>
      <p class="mt-1 mb-1 text-center" style="cursor: pointer;">สินค้าไม่ตรงตามรายระเอียด</p>
      <div style="border-bottom: 1.5px solid #6D6D6D;"></div>
      <p class="mt-1 mb-1 text-center" style="cursor: pointer;">ร้านค้าส่งสินค้าไม่ครบ</p>
    </div>
  </div>
</div>
</div>
<!-- Modal New Address -->