<div *ngIf="showContent" class="container">
  <div class="card-collection">
    <!-- CARD IMG COVER TOP -->
    <div class="card bg-dark border-0 border-ra13">
      <img class="card-img img-cover-shop" src="{{ userSeller.coverImg.imgUrl }}">
      <div class="card-img-overlay overlay-cover text-center d-flex flex-column justify-content-center">
        <div class="row m-0">
          <div class="col-auto col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 align-self-center">
            <div class="row">
              <div class="col-auto-store">
                <img class="img-fluid rounded-circle img-store" src="{{ userSeller.profileImg.imgUrl }}">
              </div>
              <div class="col-auto pl-2 align-self-center text-white text-left text-shop">
                <h5 class="mb-0 text-shop">{{ userSeller.shopName }}</h5>
                <i class="fa fa-users mr-2"></i>{{ userSeller.followerBuyer }}
                <!-- <i class="fa fa-star ml-3 mr-2"></i>4.0 -->
              </div>
            </div>
          </div>

          <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-sm-8">
            <button (click)="followShop()" type="button" class="btn button-store-color text-white text-btn" [class.disabled]="userBuyer == undefined"
              style="width: 100%;">
              <img class="mr-1" style="margin-top: -5px; width: 20px;" src="./assets/img/store-icon-white.png">
              {{ userSeller.follow }}
            </button><br />
            <button (click)="gotoChatRoom()" type="button" class="btn button-store mt-2 text-dark text-btn" style="width: 100%;" [class.disabled]="userBuyer == undefined">
              <img class="mr-1" style="margin-top: -5px; width: 20px;" src="./assets/img/noti-chat-icon-bg-gray.svg">
              ข้อความ
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END CARD IMG COVER TOP -->

    <!-- BUTTON MENU TOP #3 -->
    <div class="row ml-0 mr-0 mb-1 btn-list">
      <div class="col btn text-center p-1" [class.auction-type-active]="selectProduct" (click)="selectButtonProduct()">
        สินค้า
      </div>
      <div class="col text-center btn p-1 dropdown" [class.auction-type-active]="selectGroupProduct">
        <div id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          หมวดหมู่
        </div>
        <div class="dropdown-menu p-3" aria-labelledby="dropdownCategory" style="width: 100%; border-radius: 10px;">
          <div *ngFor="let dataGroupProduct of groupProductShow">
            <div class="row" [class.disabled]="dataGroupProduct.groupName == 'ไม่มีหมวดหมู่' || dataGroupProduct.amountProduct == 0" (click)="selectButtonGroupProduct(dataGroupProduct)">
              <div class="col align-self-center">
                <p class="mb-0 drop-list-top">{{ dataGroupProduct.groupName }}</p>
                <p *ngIf="dataGroupProduct.groupName != 'ไม่มีหมวดหมู่'" class="mb-0 drop-list-des">{{
                  dataGroupProduct.amountProduct }} รายการสินค้า</p>
              </div>
            </div>
            <div *ngIf="dataGroupProduct.groupName != 'ไม่มีหมวดหมู่'" class="mt-2 mb-2"
              style="border-bottom: 0.5px solid #E7EDF4;"></div>
          </div>
        </div>
      </div>
      <div class="col text-center btn p-1 dropdown" [class.auction-type-active]="selectReview">
        <div id="dropdownReviews" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          รีวิว
        </div>
        <div class="dropdown-menu p-3 dropdown-menu-right" aria-labelledby="dropdownReviews"
          style="width: 100%; border-radius: 10px;">
          <div class="row" [class.disabled]="ratingStars5.amountProduct == 0" (click)="selectButtonReview(ratingStars5)">
            <div class="col align-self-center">
              <ul class="rating-stars">
                <li>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                </li>
              </ul>
              <p class="mb-0 drop-list-des">{{ ratingStars5.amountProduct }} รายการสินค้า</p>
            </div>
          </div>
          <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
          <div class="row" [class.disabled]="ratingStars4.amountProduct == 0" (click)="selectButtonReview(ratingStars4)">
            <div class="col align-self-center">
              <ul class="rating-stars">
                <li>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                </li>
              </ul>
              <p class="mb-0 drop-list-des">{{ ratingStars4.amountProduct }} รายการสินค้า</p>
            </div>
          </div>
          <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
          <div class="row" [class.disabled]="ratingStars3.amountProduct == 0" (click)="selectButtonReview(ratingStars3)">
            <div class="col align-self-center">
              <ul class="rating-stars">
                <li>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                </li>
              </ul>
              <p class="mb-0 drop-list-des">{{ ratingStars3.amountProduct }} รายการสินค้า</p>
            </div>
          </div>
          <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
          <div class="row" [class.disabled]="ratingStars2.amountProduct == 0" (click)="selectButtonReview(ratingStars2)">
            <div class="col align-self-center">
              <ul class="rating-stars">
                <li>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                </li>
              </ul>
              <p class="mb-0 drop-list-des">{{ ratingStars2.amountProduct }} รายการสินค้า</p>
            </div>
          </div>
          <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
          <div class="row" [class.disabled]="ratingStars1.amountProduct == 0" (click)="selectButtonReview(ratingStars1)">
            <div class="col align-self-center">
              <ul class="rating-stars">
                <li>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                </li>
              </ul>
              <p class="mb-0 drop-list-des">{{ ratingStars1.amountProduct }} รายการสินค้า</p>
            </div>
          </div>
          <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
          <div class="row" [class.disabled]="ratingStars0.amountProduct == 0" (click)="selectButtonReview(ratingStars0)">
            <div class="col align-self-center">
              <ul class="rating-stars">
                <li>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                </li>
              </ul>
              <p class="mb-0 drop-list-des">{{ ratingStars0.amountProduct }} รายการสินค้า</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END BUTTON MENU TOP #3 -->

    <!-- PRODUCT BIDDING LIST -->
    <div class="mt-2 mb-2" *ngIf="selectProduct && productBiddingList.length != 0">
      <p class="text-drak mb-0">กำลังประมูล</p>
      <div class="row m-row-card-product">
        <div *ngFor="let dataProductBidding of productBiddingList"
          class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-col-card-product">
          <div class="card-border-3 bg-white">
            <div (click)="gotoProductDes(dataProductBidding.key)" class="posi-card" style="cursor: pointer;">
              <img class="product-img-card img-cover" src="{{ dataProductBidding.value.imgProduct[0].imgUrl }}">
              <div class="card-img-overlay overlay-cover">
                <div class="text-center p-1 w-auto" style="background-color: rgba(254, 87, 33, 0.5); backdrop-filter: blur(5px); border-radius: 5px;">
                  <!-- TIME COUNTING DOWN -->
                  <p *ngIf="dataProductBidding.value.dateTime.count.hoursToDday + dataProductBidding.value.dateTime.count.minutesToDday + dataProductBidding.value.dateTime.count.secondsToDday != '000000'" class="text-white text-date-time mb-0 w-auto">{{ dataProductBidding.value.dateTime.count.hoursToDday }}:{{ dataProductBidding.value.dateTime.count.minutesToDday }}:{{ dataProductBidding.value.dateTime.count.secondsToDday }}</p>
                  <!-- TIME 00:00:00 SET TEXT LOADING (FOR LATENCY) -->
                  <p *ngIf="dataProductBidding.value.dateTime.count.hoursToDday == '00' && dataProductBidding.value.dateTime.count.minutesToDday == '00' && dataProductBidding.value.dateTime.count.secondsToDday == '00'" class="text-white text-date-time mb-0 w-auto">LOADING</p>
                </div>
              </div>
              <!-- RIGHT [AUTO WIN] -->
              <div class="bg-left-auto">
                <a class="img-card-auto-win p-text-other">
                  <img class="img-fluid img-auto-win-other" src="./assets/img/auto-win-text-icon-gray.svg">
                  <a *ngIf="dataProductBidding.value.priceData.priceAutoWin != 0" class="mb-0 last-price">฿{{ dataProductBidding.value.priceData.priceAutoWin | currency: 'THB' : '' : '0.0' }}</a>
                  <a *ngIf="dataProductBidding.value.priceData.priceAutoWin == 0" class="mb-0 last-price">ประมูล</a>
                </a>
              </div>
              <!-- LEFT [BIDDING PRICE] -->
              <div class="bg-right-time-a">
                <div class="row m-0">
                  <div class="col-auto p-0 time-position">
                    <a class="img-card-time p-text-other">
                      ฿{{ dataProductBidding.value.priceData.lastPriceBidding | currency: 'THB' : '' : '0.0'}}
                    </a>
                  </div>
                  <div class="col-auto p-0">
                    <!-- ICON BIDDING WAITING SET PRODUCT DATA && TIME 00:00:00 SET STOP SPIN & BLACK COLOR -->
                    <img *ngIf="dataProductBidding.value.dateTime.count.hoursToDday == '00' && dataProductBidding.value.dateTime.count.minutesToDday == '00' && dataProductBidding.value.dateTime.count.secondsToDday == '00'" class="img-fluid rounded-circle img-time-other-set-price" src="./assets/img/waitAuction-border-bg.svg">
                    <!-- ICON BIDDING TIME Hr:--:-- SET SPIN 100 -->
                    <img *ngIf="dataProductBidding.value.dateTime.count.hoursToDday != '00'" class="img-fluid rounded-circle img-time-other-set-price" src="./assets/img/bidding-border-100.gif">
                    <!-- ICON BIDDING TIME --:Min:-- SET SPIN 75 -->
                    <img *ngIf="dataProductBidding.value.dateTime.count.hoursToDday == '00' && dataProductBidding.value.dateTime.count.minutesToDday != '00'" class="img-fluid rounded-circle img-time-other-set-price" src="./assets/img/bidding-border-75.gif">
                    <!-- ICON BIDDING TIME --:--:Sec SET SPIN 50 -->
                    <img *ngIf="dataProductBidding.value.dateTime.count.hoursToDday == '00' && dataProductBidding.value.dateTime.count.minutesToDday == '00' && dataProductBidding.value.dateTime.count.secondsToDday != '00'" class="img-fluid rounded-circle img-time-other-set-price" src="./assets/img/bidding-border-50.gif">
                  </div>
                </div>
              </div>

            </div>
            <div class="card-body-padding">
              <div (click)="gotoProductDes(dataProductBidding.key)" style="cursor: pointer;">
                <h5 class="card-title productName">{{ dataProductBidding.value.name | slice:0:18 }}<a *ngIf="dataProductBidding.value.name.length > 18">...</a></h5>
              </div>
              <ul class="rating-stars">
                <li>
                  <i class="fa star-color" [class.fa-star]="dataProductBidding.value.ratingStars >= 0.5"
                    [class.fa-star-o]="dataProductBidding.value.ratingStars < 0.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductBidding.value.ratingStars >= 1.5"
                    [class.fa-star-o]="dataProductBidding.value.ratingStars < 1.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductBidding.value.ratingStars >= 2.5"
                    [class.fa-star-o]="dataProductBidding.value.ratingStars < 2.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductBidding.value.ratingStars >= 3.5"
                    [class.fa-star-o]="dataProductBidding.value.ratingStars < 3.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductBidding.value.ratingStars >= 4.5"
                    [class.fa-star-o]="dataProductBidding.value.ratingStars < 4.5"></i>
                </li>
              </ul>
              <var (click)="likeThisProduct(dataProductBidding.key, dataProductBidding.value)" class="float-right heart" style="cursor: pointer;">
                <i class="fa fa-heart" [class.heart-color]="dataProductBidding.value.likeStatus"
                  [class.heart-grey]="!dataProductBidding.value.likeStatus"></i>
              </var>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PRODUCT BIDDING LIST  -->

    <!-- PRODUCT WAIT AUCTION LIST -->
    <div class="mt-2 mb-2" *ngIf="selectProduct && productWaitAuctionList.length != 0">
      <p class="text-drak mb-0">เริ่มประมูลเร็ว ๆ นี้</p>
      <div class="row m-row-card-product">
        <div *ngFor="let dataProductWaitAuction of productWaitAuctionList"
          class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-col-card-product">
          <div class="card-border-3 bg-white">
            <div (click)="gotoProductDes(dataProductWaitAuction.key)" class="posi-card" style="cursor: pointer;">
              <img class="product-img-card img-cover" src="{{ dataProductWaitAuction.value.imgProduct[0].imgUrl }}">
              <div class="card-img-overlay overlay-cover">
                <div class="text-center p-1 w-auto" style="background-color: rgba(99, 99, 99, 0.7); backdrop-filter: blur(5px); border-radius: 5px;">
                  <p class="text-white text-date-time mb-0 w-auto">{{ dataProductWaitAuction.value.dateTime.dateTime.seconds*1000 | date: 'd/M/yyyy' }} | {{ dataProductWaitAuction.value.dateTime.dateTime.seconds*1000 | date: "HH:mm" }}</p>
                </div>
              </div>
              <div class="bg-left-auto">
                <a class="img-card-auto-win p-text-other">
                  <img class="img-fluid img-auto-win-other" src="./assets/img/auto-win-text-icon.svg">
                  <a *ngIf="dataProductWaitAuction.value.priceData.priceAutoWin != 0" class="mb-0">฿{{ dataProductWaitAuction.value.priceData.priceAutoWin | currency: 'THB' : '' : '0.0' }}</a>
                  <a *ngIf="dataProductWaitAuction.value.priceData.priceAutoWin == 0" class="mb-0">ประมูล</a>
                </a>
              </div>
              <div class="bg-right-time-a">
                <div class="row m-0">
                  <div class="col-auto p-0 time-position">
                    <a class="img-card-time p-text-other last-price">
                      ฿{{ dataProductWaitAuction.value.priceData.lastPriceBidding | currency: 'THB' : '' : '0.0' }}
                    </a>
                  </div>
                  <div class="col-auto p-0">
                    <img class="img-fluid rounded-circle img-time-other-set-price" src="./assets/img/waitAuction-border-bg-b.svg">
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body-padding">
              <div (click)="gotoProductDes(dataProductWaitAuction.key)"  style="cursor: pointer;">
                <h5 class="card-title productName">{{ dataProductWaitAuction.value.name | slice:0:18 }}<a *ngIf="dataProductWaitAuction.value.name.length > 18">...</a></h5>
                <a class="text-left pt-1 pb-1 pl-2 pr-2" style="background-color: rgba(99, 99, 99, 0.7); backdrop-filter: blur(5px); border-radius: 5px;">
                  <a class="text-white text-date-time mb-0">{{ dataProductWaitAuction.value.dateTime.timeCountMax.value }} {{ dataProductWaitAuction.value.dateTime.timeCountMax.typeTH }}</a>
                </a>
              </div>
              <ul class="rating-stars">
                <li>
                  <i class="fa star-color" [class.fa-star]="dataProductWaitAuction.value.ratingStars >= 0.5"
                    [class.fa-star-o]="dataProductWaitAuction.value.ratingStars < 0.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductWaitAuction.value.ratingStars >= 1.5"
                    [class.fa-star-o]="dataProductWaitAuction.value.ratingStars < 1.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductWaitAuction.value.ratingStars >= 2.5"
                    [class.fa-star-o]="dataProductWaitAuction.value.ratingStars < 2.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductWaitAuction.value.ratingStars >= 3.5"
                    [class.fa-star-o]="dataProductWaitAuction.value.ratingStars < 3.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductWaitAuction.value.ratingStars >= 4.5"
                    [class.fa-star-o]="dataProductWaitAuction.value.ratingStars < 4.5"></i>
                </li>
              </ul>
              <var (click)="likeThisProduct(dataProductWaitAuction.key, dataProductWaitAuction.value)" class="float-right heart" style="cursor: pointer;">
                <i class="fa fa-heart" [class.heart-color]="dataProductWaitAuction.value.likeStatus"
                  [class.heart-grey]="!dataProductWaitAuction.value.likeStatus"></i>
              </var>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PRODUCT WAIT AUCTION LIST  -->

    <!-- PRODUCT FOR SALE & 14 DAYS LIST -->
    <div class="mt-2 mb-2" *ngIf="selectProduct && productForSaleList.length != 0">
      <p class="text-drak mb-0">สินค้าอื่น ๆ</p>
      <div class="row m-row-card-product">
        <div *ngFor="let dataProductForSale of productForSaleList"
          class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-col-card-product">
          <div class="card-border-3 bg-white">
            <div (click)="gotoProductDes(dataProductForSale.key)" style="cursor: pointer;" class="posi-card">
              <img src="{{ dataProductForSale.value.imgProduct[0].imgUrl }}" class="product-img-card">
              <div class="bg-left-auto">
                <a class="img-card-auto-win p-text-other">
                  <img class="img-fluid img-auto-win-other" src="./assets/img/auto-win-text-icon.png">
                  ฿{{ dataProductForSale.value.priceData.priceProduct | currency: 'THB' : '' : '0.0' }}
                </a>
              </div>
            </div>
            <div class="card-body-padding">
              <div (click)="gotoProductDes(dataProductForSale.key)"  style="cursor: pointer;">
                <h5 class="card-title productName">{{ dataProductForSale.value.name | slice:0:18 }}<a *ngIf="dataProductForSale.value.name.length > 18">...</a></h5>
              </div>
              <ul class="rating-stars">
                <li>
                  <i class="fa star-color" [class.fa-star]="dataProductForSale.value.ratingStars >= 0.5"
                    [class.fa-star-o]="dataProductForSale.value.ratingStars < 0.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductForSale.value.ratingStars >= 1.5"
                    [class.fa-star-o]="dataProductForSale.value.ratingStars < 1.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductForSale.value.ratingStars >= 2.5"
                    [class.fa-star-o]="dataProductForSale.value.ratingStars < 2.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductForSale.value.ratingStars >= 3.5"
                    [class.fa-star-o]="dataProductForSale.value.ratingStars < 3.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductForSale.value.ratingStars >= 4.5"
                    [class.fa-star-o]="dataProductForSale.value.ratingStars < 4.5"></i>
                </li>
              </ul>
              <var (click)="likeThisProduct(dataProductForSale.key, dataProductForSale.value)" class="float-right heart" style="cursor: pointer;">
                <i class="fa fa-heart" [class.heart-color]="dataProductForSale.value.likeStatus"
                  [class.heart-grey]="!dataProductForSale.value.likeStatus"></i>
              </var>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PRODUCT FOR SALE & 14 DAYS LIST  -->

    <!-- PRODUCT GROUP PRODUCT -->
    <div *ngIf="selectGroupProduct && groupProductList.length != 0">
      <p class="text-drak mb-0">{{ groupProductList.groupName }}</p>
      <div class="row m-row-card-product">
        <div *ngFor="let dataProductGroupProduct of groupProductList.dataProduct"
          class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-col-card-product">
          <div (click)="gotoProductDes(dataProductGroupProduct.key)" class="card-border-3 bg-white" style="cursor: pointer;">
            <div class="posi-card">
              <img src="{{ dataProductGroupProduct.value.imgProduct[0].imgUrl }}" class="product-img-card">
              <div class="bg-left-auto">
                <a class="img-card-auto-win p-text-other">
                  <img class="img-fluid img-auto-win-other" src="./assets/img/auto-win-text-icon.png">
                  ฿{{ dataProductGroupProduct.value.priceData.priceAutoWin }}
                </a>
              </div>
              <div *ngIf="dataProductGroupProduct.value.productStatus == 'bidding' || dataProductGroupProduct.value.productStatus == 'waitAuction'" class="bg-right-time">
                <a class="img-card-time p-text-other">
                  ฿10,000
                  <img class="img-fluid img-time-other" src="./assets/img/Clock.png">
                </a>
              </div>
            </div>
            <div class="card-body-padding">
              <h5 class="card-title productName">{{ dataProductGroupProduct.value.name | slice:0:18 }}...</h5>
              <ul class="rating-stars">
                <li>
                  <i class="fa star-color" [class.fa-star]="dataProductGroupProduct.value.ratingStars >= 0.5"
                    [class.fa-star-o]="dataProductGroupProduct.value.ratingStars < 0.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductGroupProduct.value.ratingStars >= 1.5"
                    [class.fa-star-o]="dataProductGroupProduct.value.ratingStars < 1.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductGroupProduct.value.ratingStars >= 2.5"
                    [class.fa-star-o]="dataProductGroupProduct.value.ratingStars < 2.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductGroupProduct.value.ratingStars >= 3.5"
                    [class.fa-star-o]="dataProductGroupProduct.value.ratingStars < 3.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductGroupProduct.value.ratingStars >= 4.5"
                    [class.fa-star-o]="dataProductGroupProduct.value.ratingStars < 4.5"></i>
                </li>
              </ul>
              <var (click)="likeThisProduct(dataProductGroupProduct.key, dataProductGroupProduct.value)" class="float-right heart" style="cursor: pointer;">
                <i class="fa fa-heart" [class.heart-color]="dataProductGroupProduct.value.likeStatus"
                  [class.heart-grey]="!dataProductGroupProduct.value.likeStatus"></i>
              </var>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PRODUCT GROUP PRODUCT  -->

    <!-- PRODUCT REVIEW -->
    <div *ngIf="selectReview && reviewProductList.length != 0">
      <div class="row m-row-card-product">
        <div *ngFor="let dataProductReview of reviewProductList"
          class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-col-card-product">
          <div (click)="gotoProductReview(dataProductReview.key)" class="card-border-3 bg-white" style="cursor: pointer;">
            <div class="posi-card">
              <img src="{{ dataProductReview.value.imgProduct[0].imgUrl }}" class="product-img-card">
            </div>
            <div class="card-body-padding">
              <h5 class="card-title productName">{{ dataProductReview.value.name | slice:0:18 }}...</h5>
              <ul class="rating-stars">
                <li>
                  <i class="fa star-color" [class.fa-star]="dataProductReview.value.ratingStars >= 0.5"
                    [class.fa-star-o]="dataProductReview.value.ratingStars < 0.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductReview.value.ratingStars >= 1.5"
                    [class.fa-star-o]="dataProductReview.value.ratingStars < 1.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductReview.value.ratingStars >= 2.5"
                    [class.fa-star-o]="dataProductReview.value.ratingStars < 2.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductReview.value.ratingStars >= 3.5"
                    [class.fa-star-o]="dataProductReview.value.ratingStars < 3.5"></i>
                  <i class="fa star-color" [class.fa-star]="dataProductReview.value.ratingStars >= 4.5"
                    [class.fa-star-o]="dataProductReview.value.ratingStars < 4.5"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PRODUCT REVIEW -->

    <!-- Backward - Forward -->
    <!-- <div class="row pt-3 pb-3 FB-ml-mr">
      <div class="col">
        <a style="text-decoration: none; cursor: pointer;">
          <i class="fa fa-angle-left font-weight-bold" aria-hidden="true"></i>
          ก่อนหน้า
        </a>
      </div>
      <div class="col text-right">
        <a style="text-decoration: none; cursor: pointer;">
          ถัดไป
          <i class="fa fa-angle-right font-weight-bold" aria-hidden="true"></i>
        </a>
      </div>
    </div> -->
    <!-- Backward - Forward -->
  </div>
  <!-- End card-collection -->
</div>
<!-- End Container -->