<div class="container">
  <div class="card-collection">
    <div class="card bg-dark border-0 border-ra13">
      <img class="card-img img-cover" src="./assets/img/shop-cover.png">
      <div class="card-img-overlay overlay-cover text-center d-flex flex-column justify-content-center">
        <div class="row m-0">
          <div class="col-auto col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 align-self-center">
            <div class="row">
              <div class="col-auto-store">
                <img class="img-fluid rounded-circle img-store" src="./assets/img/store-band-name.png">
              </div>
              <div class="col-auto pl-0 align-self-center text-white text-shop">
                <h5 class="mb-0 text-shop text-left">STORE NAME</h5>
                <i class="fa fa-users mr-2"></i>1.7k
                <i class="fa fa-star ml-3 mr-2"></i>4.0
              </div>
            </div>
          </div>

          <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-sm-8">
            <button type="button" class="btn button-store-color text-white text-btn" style="width: 100%;">
              <img class="mr-1" style="margin-top: -5px; width: 20px;" src="./assets/img/store-icon-white.png">
              ติดตาม
            </button><br />
            <button type="button" class="btn button-store mt-2 text-dark text-btn" style="width: 100%;">
              <img class="mr-1" style="margin-top: -5px; width: 20px;" src="./assets/img/noti-chat-icon.png">
              ข้อความ
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row ml-0 mr-0 mb-1 btn-list">
      <div class="col btn text-center p-1 auction-type-active">
        สินค้า
      </div>
      <div class="col text-center btn p-1 dropdown">
        <div id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          หมวดหมู่
        </div>
        <div class="dropdown-menu p-3" aria-labelledby="dropdownCategory" style="width: 100%; border-radius: 10px;">
          <div class="row">
            <div class="col align-self-center">
              <p class="mb-0 drop-list-top">สินค้านาทีทอง</p>
              <p class="mb-0 drop-list-des">3 รายการสินค้า</p>
            </div>
          </div>
          <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
          <div class="row">
            <div class="col align-self-center">
              <p class="mb-0 drop-list-top">สินค้าราคา 1 บาท</p>
              <p class="mb-0 drop-list-des">1 รายการสินค้า</p>
            </div>
          </div>
          <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
          <div class="row">
            <div class="col align-self-center">
              <p class="mb-0 drop-list-top">กางเกง</p>
              <p class="mb-0 drop-list-des">1 รายการสินค้า</p>
            </div>
          </div>
          <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
          <div class="row">
            <div class="col align-self-center">
              <p class="mb-0 drop-list-top">รองเท้า</p>
              <p class="mb-0 drop-list-des">1 รายการสินค้า</p>
            </div>
          </div>
          <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
          <div class="row">
            <div class="col align-self-center">
              <p class="mb-0 drop-list-top">เสื้อ</p>
              <p class="mb-0 drop-list-des">1 รายการสินค้า</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col text-center btn p-1 dropdown">
        <div id="dropdownReviews" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          รีวิว
        </div>
        <div class="dropdown-menu p-3 dropdown-menu-right" aria-labelledby="dropdownReviews"
          style="width: 100%; border-radius: 10px;">
          <div class="row">
            <div class="col align-self-center">
              <ul class="rating-stars">
                <li>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                </li>
              </ul>
              <p class="mb-0 drop-list-des">3 รายการสินค้า</p>
            </div>
          </div>
          <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
          <div class="row">
            <div class="col align-self-center">
              <ul class="rating-stars">
                <li>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                </li>
              </ul>
              <p class="mb-0 drop-list-des">1 รายการสินค้า</p>
            </div>
          </div>
          <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
          <div class="row">
            <div class="col align-self-center">
              <ul class="rating-stars">
                <li>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                </li>
              </ul>
              <p class="mb-0 drop-list-des">1 รายการสินค้า</p>
            </div>
          </div>
          <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
          <div class="row">
            <div class="col align-self-center">
              <ul class="rating-stars">
                <li>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                </li>
              </ul>
              <p class="mb-0 drop-list-des">1 รายการสินค้า</p>
            </div>
          </div>
          <div class="mt-2 mb-2" style="border-bottom: 0.5px solid #E7EDF4;"></div>
          <div class="row">
            <div class="col align-self-center">
              <ul class="rating-stars">
                <li>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  <i class="fa fa-star-o" style="color: #FFA101;"></i>
                </li>
              </ul>
              <p class="mb-0 drop-list-des">1 รายการสินค้า</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <p class="mt-1 mb-1" style="color: #FE5721;">#หมวดหมู่/สินค้านาทีทอง</p> -->

    <!-- Review 1 -->
    <!-- <div class="row">
      <div class="col">
        <div class="card-list card-padding">
          <div class="row">
            <div class="col-auto sm-pr">
              <img class="img-fluid rounded-circle img-store" src="./assets/img/business-man.png">
            </div>
            <div class="col pl-0 align-self-center">
              <h5 class="mb-0 font-topic">USER NAME</h5>
              <ul class="rating-stars">
                <li>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="row p-des">
            <div class="col align-self-center">
              <p class="mb-0 font-des">สินค้าตรงตามรูป รายละเอียดครบสอบถามข้อความทางร้านร้านตอบดีมากให้รายละเอียดครบถ้วน แพคส่งสินค้า
                กันกระแทกดีสุดๆ มีเก็บเงินปลายทางด้วยโหวตให้เลย</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Review 2 -->
    <!-- <div class="row">
      <div class="col">
        <div class="card-list card-padding">
          <div class="row">
            <div class="col-auto sm-pr">
              <img class="img-fluid rounded-circle img-store" src="./assets/img/business-man.png">
            </div>
            <div class="col pl-0 align-self-center">
              <h5 class="mb-0 font-topic">USER NAME</h5>
              <ul class="rating-stars">
                <li>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                  <i class="fa fa-star" style="color: #FFA101;"></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="row p-des">
            <div class="col align-self-center">
              <p class="mb-0 font-des">สินค้าตรงตามรูป รายละเอียดครบสอบถามข้อความทางร้านร้านตอบดีมากให้รายละเอียดครบถ้วน แพคส่งสินค้า
                กันกระแทกดีสุดๆ มีเก็บเงินปลายทางด้วยโหวตให้เลย</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->


    <!-- Product List Row 1 -->
    <div class="row" style="margin-left: -5px; margin-right: -5px;">
      <div class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-1-1">
        <div class="card card-border-3">
          <div class="card" style="border: none;">
            <img class="card-img" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <div class="row">
                <div class="col-6 pr-1">
                  <div class="img-card-auto-win">
                    <img class="img-fluid img-auto-win-other" style="margin: -25px 0px -20px -17px;"
                      src="./assets/img/auto-win-text-icon.png">
                    <p class="p-text-other mb-0 pl-1" style="display:inline;">฿15,000</p>
                  </div>
                </div>
                <div class="col-6 pl-1">
                  <div class="img-card-time text-right">
                    <p class="p-text-other mb-0 pr-1" style="display:inline">฿10,500</p>
                    <img class="img-fluid img-time-other" style="display: inline; margin: -25px -17px -20px 0px;"
                      src="./assets/img/Clock.png">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card-body-padding">
            <h5 class="card-title font-product-topic">Herschel Supply Retreat Backpack...</h5>
            <p class="card-text font-product-des">กระเป๋ารุ่นยอดนิยมของ...</p>
            <ul class="rating-stars">
              <li>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
              </li>
            </ul>
            <var class="float-right">
              <i class="fa fa-heart" style="color: #FE5721"></i>
            </var>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-1-2">
        <div class="card card-border-3">
          <div class="card" style="border: none;">
            <img class="card-img" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <div class="row">
                <div class="col-6 pr-1">
                  <div class="img-card-auto-win">
                    <img class="img-fluid img-auto-win-other" style="margin: -25px 0px -20px -17px;"
                      src="./assets/img/auto-win-text-icon.png">
                    <p class="p-text-other mb-0 pl-1" style="display:inline">฿15,000</p>
                  </div>
                </div>
                <div class="col-6 pl-1">
                  <div class="img-card-time text-right">
                    <p class="p-text-other mb-0 pr-1" style="display:inline">฿10,500</p>
                    <img class="img-fluid img-time-other" style="display: inline; margin: -25px -17px -20px 0px;"
                      src="./assets/img/Clock.png">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card-body-padding">
            <h5 class="card-title font-product-topic">Herschel Supply Retreat Backpack...</h5>
            <p class="card-text font-product-des">กระเป๋ารุ่นยอดนิยมของ...</p>
            <ul class="rating-stars">
              <li>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
              </li>
            </ul>
            <var class="float-right">
              <i class="fa fa-heart" style="color: #FE5721"></i>
            </var>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-2-1">
        <div class="card card-border-3">
          <div class="card" style="border: none;">
            <img class="card-img" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <div class="row">
                <div class="col-6 pr-1">
                  <div class="img-card-auto-win">
                    <img class="img-fluid img-auto-win-other" style="margin: -25px 0px -20px -17px;"
                      src="./assets/img/auto-win-text-icon.png">
                    <p class="p-text-other mb-0 pl-1" style="display:inline">฿15,000</p>
                  </div>
                </div>
                <div class="col-6 pl-1">
                  <div class="img-card-time text-right">
                    <p class="p-text-other mb-0 pr-1" style="display:inline">฿10,500</p>
                    <img class="img-fluid img-time-other" style="display: inline; margin: -25px -17px -20px 0px;"
                      src="./assets/img/Clock.png">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card-body-padding">
            <h5 class="card-title font-product-topic">Herschel Supply Retreat Backpack...</h5>
            <p class="card-text font-product-des">กระเป๋ารุ่นยอดนิยมของ...</p>
            <ul class="rating-stars">
              <li>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
              </li>
            </ul>
            <var class="float-right">
              <i class="fa fa-heart" style="color: #FE5721"></i>
            </var>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-2-2">
        <div class="card card-border-3">
          <div class="card" style="border: none;">
            <img class="card-img" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <div class="row">
                <div class="col-6 pr-1">
                  <div class="img-card-auto-win">
                    <img class="img-fluid img-auto-win-other" style="margin: -25px 0px -20px -17px;"
                      src="./assets/img/auto-win-text-icon.png">
                    <p class="p-text-other mb-0 pl-1" style="display:inline">฿15,000</p>
                  </div>
                </div>
                <div class="col-6 pl-1">
                  <div class="img-card-time text-right">
                    <p class="p-text-other mb-0 pr-1" style="display:inline">฿10,500</p>
                    <img class="img-fluid img-time-other" style="display: inline; margin: -25px -17px -20px 0px;"
                      src="./assets/img/Clock.png">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card-body-padding">
            <h5 class="card-title font-product-topic">Herschel Supply Retreat Backpack...</h5>
            <p class="card-text font-product-des">กระเป๋ารุ่นยอดนิยมของ...</p>
            <ul class="rating-stars">
              <li>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
              </li>
            </ul>
            <var class="float-right">
              <i class="fa fa-heart" style="color: #FE5721"></i>
            </var>
          </div>
        </div>
      </div>
    </div>
    <!-- End Product List Row 1 -->

    <!-- Product List Row 2 -->
    <div class="row" style="margin-left: -5px; margin-right: -5px;">
      <div class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-1-1">
        <div class="card card-border-3">
          <div class="card" style="border: none;">
            <img class="card-img" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <div class="row">
                <div class="col-6 pr-1">
                  <div class="img-card-auto-win">
                    <img class="img-fluid img-auto-win-other" style="margin: -25px 0px -20px -17px;"
                      src="./assets/img/auto-win-text-icon.png">
                    <p class="p-text-other mb-0 pl-1" style="display:inline;">฿15,000</p>
                  </div>
                </div>
                <div class="col-6 pl-1">
                  <div class="img-card-time text-right">
                    <p class="p-text-other mb-0 pr-1" style="display:inline">฿10,500</p>
                    <img class="img-fluid img-time-other" style="display: inline; margin: -25px -17px -20px 0px;"
                      src="./assets/img/Clock.png">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card-body-padding">
            <h5 class="card-title font-product-topic">Herschel Supply Retreat Backpack...</h5>
            <p class="card-text font-product-des">กระเป๋ารุ่นยอดนิยมของ...</p>
            <ul class="rating-stars">
              <li>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
              </li>
            </ul>
            <var class="float-right">
              <i class="fa fa-heart" style="color: #FE5721"></i>
            </var>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-1-2">
        <div class="card card-border-3">
          <div class="card" style="border: none;">
            <img class="card-img" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <div class="row">
                <div class="col-6 pr-1">
                  <div class="img-card-auto-win">
                    <img class="img-fluid img-auto-win-other" style="margin: -25px 0px -20px -17px;"
                      src="./assets/img/auto-win-text-icon.png">
                    <p class="p-text-other mb-0 pl-1" style="display:inline">฿15,000</p>
                  </div>
                </div>
                <div class="col-6 pl-1">
                  <div class="img-card-time text-right">
                    <p class="p-text-other mb-0 pr-1" style="display:inline">฿10,500</p>
                    <img class="img-fluid img-time-other" style="display: inline; margin: -25px -17px -20px 0px;"
                      src="./assets/img/Clock.png">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card-body-padding">
            <h5 class="card-title font-product-topic">Herschel Supply Retreat Backpack...</h5>
            <p class="card-text font-product-des">กระเป๋ารุ่นยอดนิยมของ...</p>
            <ul class="rating-stars">
              <li>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
              </li>
            </ul>
            <var class="float-right">
              <i class="fa fa-heart" style="color: #FE5721"></i>
            </var>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-2-1">
        <div class="card card-border-3">
          <div class="card" style="border: none;">
            <img class="card-img" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <div class="row">
                <div class="col-6 pr-1">
                  <div class="img-card-auto-win">
                    <img class="img-fluid img-auto-win-other" style="margin: -25px 0px -20px -17px;"
                      src="./assets/img/auto-win-text-icon.png">
                    <p class="p-text-other mb-0 pl-1" style="display:inline">฿15,000</p>
                  </div>
                </div>
                <div class="col-6 pl-1">
                  <div class="img-card-time text-right">
                    <p class="p-text-other mb-0 pr-1" style="display:inline">฿10,500</p>
                    <img class="img-fluid img-time-other" style="display: inline; margin: -25px -17px -20px 0px;"
                      src="./assets/img/Clock.png">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card-body-padding">
            <h5 class="card-title font-product-topic">Herschel Supply Retreat Backpack...</h5>
            <p class="card-text font-product-des">กระเป๋ารุ่นยอดนิยมของ...</p>
            <ul class="rating-stars">
              <li>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
              </li>
            </ul>
            <var class="float-right">
              <i class="fa fa-heart" style="color: #FE5721"></i>
            </var>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-2-2">
        <div class="card card-border-3">
          <div class="card" style="border: none;">
            <img class="card-img" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <div class="row">
                <div class="col-6 pr-1">
                  <div class="img-card-auto-win">
                    <img class="img-fluid img-auto-win-other" style="margin: -25px 0px -20px -17px;"
                      src="./assets/img/auto-win-text-icon.png">
                    <p class="p-text-other mb-0 pl-1" style="display:inline">฿15,000</p>
                  </div>
                </div>
                <div class="col-6 pl-1">
                  <div class="img-card-time text-right">
                    <p class="p-text-other mb-0 pr-1" style="display:inline">฿10,500</p>
                    <img class="img-fluid img-time-other" style="display: inline; margin: -25px -17px -20px 0px;"
                      src="./assets/img/Clock.png">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card-body-padding">
            <h5 class="card-title font-product-topic">Herschel Supply Retreat Backpack...</h5>
            <p class="card-text font-product-des">กระเป๋ารุ่นยอดนิยมของ...</p>
            <ul class="rating-stars">
              <li>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
                <i class="fa fa-star-o" style="color: #FFA101;"></i>
              </li>
            </ul>
            <var class="float-right">
              <i class="fa fa-heart" style="color: #FE5721"></i>
            </var>
          </div>
        </div>
      </div>
    </div>
    <!-- End Product List Row 2 -->

    <!-- Backward - Forward -->
    <div class="row mt-3 mb-3">
      <div class="col">
        <a style="text-decoration: none; cursor: pointer;">
          <i class="fa fa-angle-left font-weight-bold" aria-hidden="true"></i>
          ก่อนหน้า
        </a>
      </div>
      <div class="col text-right">
        <a style="text-decoration: none; cursor: pointer;">
          ถัดไป
          <i class="fa fa-angle-right font-weight-bold" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <!-- Backward - Forward -->

  </div>
  <!-- End card-collection -->

  <!-- <div class="card-collection">
    <h5 class="mb-3">เงื่อนไข</h5>
    <p class="mb-1">การรับประกันสินค้า 7 วัน</p>
    <p class="mb-1">• หากเกิดปัญหากับสินค้าคุณสามารถติดต่อและแจ้งเหตุผลการคืนสินค้าผ่านช่องทางการแชท</p>
    <p class="mb-1">• เมื่อได้รับการยืนยันการคืนสินค้า</p>
    <p class="mb-1">• คุณต้องส่งสินค้าคืนไปยังผู้ขายเพื่อการตรวจสอบและพิจารณาการคืนเงิน</p>
  </div> -->




</div>
<!-- End Container -->