<div class="container">
  <div class="card card-radius">
    <div class="pt-3 pb-3 card-tab-radius">
      <p class="text-white text-center mb-0">การแจ้งเตือน</p>
    </div>
  
    <div class="card-body">
      <!-- List 1 -->
      <div class="card-list card-padding">
        <div class="row">
          <div class="col-auto sm-pr">
            <img class="img-fluid rounded-circle img-store" src="./assets/img/noti-noti-icon.png">
            <span class="badge badge-pill" style="position: relative; top: -19px; right: -7px; padding: 2px 8px; margin-left: -23px; color: #E54040; background-color: #E54040; border: 1px solid #EEE;">
              .
            </span>
          </div>
          <div class="col pl-0 align-self-center">
            <h5 class="mb-0 font-topic">ขอบคุณสำหรับการรีวิว</h5>
            <p class="mb-0 font-date">20/03/2020</p>
          </div>
        </div>
        <div class="row p-des">
          <div class="col-auto sm-pr">
            <img class="img-fluid img-store" style="border-radius: 10px;" src="./assets/img/bag.png">
          </div>
          <div class="col pl-0 align-self-center">
            <h5 class="mb-0 font-topic">คำสั่งซื้อ #002135698</h5>
            <p class="mb-0 font-des">Adidas NMD</p>
            <p class="mb-0 font-des">Adidas NMD R1 เป็นรองเท้าสำหรับใส่วิ่งมากพอๆ กับที่มันเป็นรอง...</p>
          </div>
        </div>
      </div>
      <!-- List 2 -->
      <div class="card-list card-padding">
        <div class="row">
          <div class="col-auto sm-pr">
            <img class="img-fluid rounded-circle img-store" src="./assets/img/noti-noti-icon.png">
            <span class="badge badge-pill" style="position: relative; top: -19px; right: -7px; padding: 2px 8px; margin-left: -23px; color: #E54040; background-color: #E54040; border: 1px solid #EEE;">
              .
            </span>
          </div>
          <div class="col pl-0 align-self-center">
            <h5 class="mb-0 font-topic">ขอบคุณสำหรับการรีวิว</h5>
            <p class="mb-0 font-date">20/03/2020</p>
          </div>
        </div>
        <div class="row p-des">
          <div class="col-auto sm-pr">
            <img class="img-fluid img-store" style="border-radius: 10px;" src="./assets/img/bag.png">
          </div>
          <div class="col pl-0 align-self-center">
            <h5 class="mb-0 font-topic">คำสั่งซื้อ #002135698</h5>
            <p class="mb-0 font-des">Adidas NMD</p>
            <p class="mb-0 font-des">Adidas NMD R1 เป็นรองเท้าสำหรับใส่วิ่งมากพอๆ กับที่มันเป็นรอง...</p>
          </div>
        </div>
      </div>
      <!-- List 3 -->
      <div class="card-list card-padding">
        <div class="row">
          <div class="col-auto sm-pr">
            <img class="img-fluid rounded-circle img-store" src="./assets/img/noti-noti-icon.png">
            <span class="badge badge-pill" style="position: relative; top: -19px; right: -7px; padding: 2px 8px; margin-left: -23px; color: #E54040; background-color: #E54040; border: 1px solid #EEE;">
              .
            </span>
          </div>
          <div class="col pl-0 align-self-center">
            <h5 class="mb-0 font-topic">ขอบคุณสำหรับการรีวิว</h5>
            <p class="mb-0 font-date">20/03/2020</p>
          </div>
        </div>
        <div class="row p-des">
          <div class="col-auto sm-pr">
            <img class="img-fluid img-store" style="border-radius: 10px;" src="./assets/img/bag.png">
          </div>
          <div class="col pl-0 align-self-center">
            <h5 class="mb-0 font-topic">คำสั่งซื้อ #002135698</h5>
            <p class="mb-0 font-des">Adidas NMD</p>
            <p class="mb-0 font-des">Adidas NMD R1 เป็นรองเท้าสำหรับใส่วิ่งมากพอๆ กับที่มันเป็นรอง...</p>
          </div>
        </div>
      </div>

  
  </div>
  <!-- Card Body -->
  </div>


  </div>
  <!-- End Container -->