<div class="container">
  <div class="card card-radius">
    <div class="pt-3 pb-3 card-tab-radius">
      <p class="text-white text-center mb-0">การแจ้งเตือน</p>
    </div>

    <div *ngIf="notiList.length != 0" class="card-body">
      <!-- NOTIFICATION LIST -->
      <div (click)="gotoNotiDes(noti.key, noti.value)" *ngFor="let noti of notiList" class="card-list card-padding"
        style="cursor: pointer;">
        <div class="row">
          <div class="col-auto sm-pr">
            <img class="img-fluid rounded-circle img-store" src="./assets/img/noti-noti-icon.svg">
            <span *ngIf="!noti.value.readed" class="dot-unread"></span>
          </div>
          <div class="col pl-0 align-self-center">
            <h5 class="mb-0 font-topic">{{ noti.value.topic }}</h5>
            <p class="mb-0">{{ noti.value.description }}</p>
            <p class="mb-0 font-date">{{ noti.value.createAt.seconds*1000 | date: 'd/M/yyyy' }} {{
              noti.value.createAt.seconds*1000 | date: "HH:mm:ss" }}</p>
          </div>
        </div>
        <div *ngIf="noti.value.type == 'order' || noti.value.type == 'review'" class="row p-des">
          <div class="col-auto sm-pr">
            <img class="img-fluid img-store" style="border-radius: 10px;"
              src="{{ noti.value.product.imgProduct1.imgUrl }}">
          </div>
          <div class="col pl-0 align-self-center">
            <h5 class="mb-0 font-topic">คำสั่งซื้อ #{{ noti.value.product.orderNo }}</h5>
            <p class="mb-0 font-des">{{ noti.value.product.productName | slice:0:30 }}<a *ngIf="noti.value.product.productName.length > 30">...</a>{{ noti.value.product.productName.length }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>