<div class="container">
  <div class="card card-radius">
    <div class="pt-3 pb-3 card-tab-radius">
      <p class="text-white text-center mb-0">STORE NAME</p>
      <!-- <div class="row m-0">
        <div class="col-auto pr-0">
          <button type="button" class="btn btn-circle">
            <i class="fa fa-angle-left font-weight-bold"></i>
          </button>
        </div>
        <div class="col pl-0 align-self-center">
          <p class="text-white text-center mb-0">STORE NAME</p>
        </div>
      </div> -->
    </div>
  
    <div class="card-body">
      <div>
        <p class="mt-2 float-right msg-right">สอบถามการนัดรับสินค้าที่หน้าร้านครับ</p>
        <p class="text-date text-right float-right mb-0">15 มี.ค. 12:31</p>
      </div>
      <div>
        <p class="mt-2 float-left msg-left">สวัสดีครับคุณลูกค้า สามารถเข้ามา
          รับสินค้าได้ที่หน้าร้านSTORE NAME
          BTS สถานีสยาม ทางออก 2</p>
        <!-- <p class="text-date text-left float-left mb-0">15 มี.ค. 12:31</p> -->
      </div>
      <div>
        <p class="mt-2 float-left msg-left">โดยคุณลูกค้าต้องทำการกดชำระเงิน
          ผ่านทางแอพและทำการนัดเวลาเข้า
          รับของผ่านทางข้อความแอพได้เลยค่ะ</p>
        <p class="text-date text-left float-left mb-0">15 มี.ค. 12:31</p>
      </div>

      <div>
        <p class="mt-2 float-right msg-right">ร้านเปิดวันเวลาไหนบ้างครับ</p>
        <p class="text-date text-right float-right mb-0">15 มี.ค. 12:31</p>
      </div>

      <div>
        <p class="mt-2 float-left msg-left">ร้านเปิดทุกวันค่ะ</p>
        <p class="text-date text-left float-left mb-0">15 มี.ค. 12:31</p>
      </div>
  </div>
  <!-- Card Body -->

  <div class="card-footer ">
    <div class="row">
      <div class="col">
        <!-- msg-Input -->
        <form class="d-flex">
          <input id="search-input" class="form-control search-input" style="box-shadow: none;" type="text" placeholder="ค้นหา...">
        </form>      
      </div>
      <div class="col-auto pl-0 align-self-center">
        <p class="mb-0" style="color: #F26262;">ส่ง</p>
      </div>
    </div>
  </div>

  </div>


  </div>
  <!-- End Container -->