.container {
  margin-bottom: 16px;
}

.card-collection {
  margin-top: 1rem!important;
  padding: 4rem!important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 3px solid #E7EDF4; 
  border-radius: 15px;
}

.border-ra13 {
  border-radius: 13px 13px 13px 13px;
}

.img-cover {
  /* opacity: 30%; */
  border-radius: 13px 13px 13px 13px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  color: #FFF;
  background-color: #dd5252;
}

.col-auto-bank {
  padding-left: 0;
  padding-right: 10px;
}

.img-bank {
  max-width: 70px;
  max-height: 70px;
  /* border: 2.5px solid #E7EDF4;  */
}

.img-wallet {
  max-width: 40px;
  max-height: 40px;
}

.col-icon {
  padding-top: 35px;
  padding-bottom: 35px;
  border-radius: 13px 13px 13px 13px;
}

.list {
  padding: 15px;
  border: 3px solid #E7EDF4; 
  border-radius: 15px; 
  cursor: pointer;
}

.list-color {
  color: #FFF;
  background-color: #FE5721;
  border: 3px solid #FE5721;
}

.text-color {
  color: #FE5721;
}

/* MODAL */
.modal.fade .modal-bottom {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal .modal-bottom {
  margin:0;
  margin-top:auto;
  padding: 0;
  position:absolute;
  bottom:0;
  top:auto;
  left:auto;
  right:0;
  height:calc(55% + 160px); /* default height:45% its just for demo*/
}
.modal .modal-bottom>.modal-content{
  height:100%;
  border-color: #fff;
  border-radius:0;
  margin:0;
}
.modal-bottom .modal-body
{
  height: calc(100% - 140px);overflow-y:auto;
}
@media (min-width: 1px){
  .modal-bottom {max-width: 100%;width:100%;}
}
/*Custume scroll bar*/
.modal-bottom ::-webkit-scrollbar {width:8px}
.modal-bottom ::-webkit-scrollbar-button {width:8px;height:5px}
.modal-bottom ::-webkit-scrollbar-thumb:hover {background: #ccc}
.modal-bottom ::-webkit-scrollbar-thumb {	background:#f1f1f1;border: thin solid white;border-radius: 10px}
.modal-bottom ::-webkit-scrollbar-track {background: #fff;border:thin solid white}   
/* MODAL END */

.input-style {
  padding: 16px 16px 16px 24px; 
  border-radius: 10px; 
  background-color: #F2F6FA;
}

.col-coin-l {
  padding-left: 0px;
  padding-right: 4px;
}

.col-coin-r {
  padding-left: 4px;
  padding-right: 0px;
}

.img-payment {
  max-width: 60px;
  max-height: 60px; 
}

.modal-p {
  padding: 48px;
}

.book-bank {
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
}

.withdrawconclude {
  padding: 30px;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.btn-submit {
  border: none; 
  border-radius: 1.5rem; 
  width: 100%; 
  color: #fff; 
  background-color: #FE5721;
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {

  .col-coin-l {
    padding-left: 0px;
    padding-right: 4px;
  }

  .col-coin-r {
    padding-left: 4px;
    padding-right: 0px;
  }

  .list {
    padding: 10px;
    border: 2px solid #E7EDF4; 
  }

  .text-price {
    font-size: 1.3rem;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.4;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 480px) {
  .container {
    padding: 0px;
    margin-bottom: 0px;
  }

  .card-collection {
    margin-top: 0rem!important;
    padding: 0.5rem!important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: none;
    border-radius: 0px;
  }

  .overlay-cover {
    padding: 15px;
  }

  .col-auto-bank {
    padding-left: 0;
    padding-right: 8px;
  }

  .img-bank {
    max-width: 50px;
    max-height: 50px;
    /* border: 1.5px solid #E7EDF4; */
  }

  .text-bank {
    font-size: 0.8rem;
  }

  .text-bank-1 {
    font-size: 1rem;
  }

  .img-wallet {
    max-width: 40px;
    max-height: 40px;
  }

  .text-icon {
    font-size: 0.8rem;
  }

  .col-icon {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .input-style {
    padding: 10px 10px 10px 15px; 
    border-radius: 10px; 
    background-color: #F2F6FA;
  }

  .col-coin-l {
    padding-left: 0px;
    padding-right: 4px;
  }

  .col-coin-r {
    padding-left: 4px;
    padding-right: 0px;
  }

  .text-price {
    font-size: 1.5rem;
  }

  .text-coin {
    font-size: 0.8rem;
  }

  .list {
    border: 2px solid #E7EDF4; 
  }

  .modal-col {
    padding: 0px;
  }

  .col-card {
    margin-top: 8px;
    padding-left: 0px;
    padding-right: 0px;

  }

  .modal-p {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
  }

  .book-bank {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }

  .book-bank-font {
    font-size: 0.8rem;
  }

  .withdrawconclude {
    padding: 20px;
  }

  .row-mlr {
    margin-left: -8px;
    margin-right: -8px;
  }
  
  .col-plr {
    padding-left: 8px;
    padding-right: 8px;
  }




}