<div class="container">
  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <!-- Search-Input -->
      <form class="d-flex">
        <input id="search-input" class="form-control search-input" style="box-shadow: none;" type="text"
          placeholder="ค้นหา...">
        <div class="input-group-addon search-symbol">
          <span class="fa fa-search search-symbol2"></span>
        </div>
      </form>
    </div>
  
    <div class="card-body">
      <!-- List 1 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col">
            <div class="row">
              <div class="col-auto pl-0 sm-pr">
                <img class="img-fluid rounded-circle img-store" src="./assets/img/store-band-name.png">
              </div>
              <div class="col-auto pl-0 align-self-center">
                <h5 class="mb-0 font-store">STORE NAME 1</h5>
                <ul class="rating-stars">
                  <li>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star-o" style="color: #FFA101;"></i>
                    <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-auto align-self-center">
            <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- List 2 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col">
            <div class="row">
              <div class="col-auto pl-0 sm-pr">
                <img class="img-fluid rounded-circle img-store" src="./assets/img/store-band-name.png">
              </div>
              <div class="col-auto pl-0 align-self-center">
                <h5 class="mb-0 font-store">STORE NAME 2</h5>
                <ul class="rating-stars">
                  <li>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star-o" style="color: #FFA101;"></i>
                    <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-auto align-self-center">
            <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- List 3 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col">
            <div class="row">
              <div class="col-auto pl-0 sm-pr">
                <img class="img-fluid rounded-circle img-store" src="./assets/img/store-band-name.png">
              </div>
              <div class="col-auto pl-0 align-self-center">
                <h5 class="mb-0 font-store">STORE NAME 3</h5>
                <ul class="rating-stars">
                  <li>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star-o" style="color: #FFA101;"></i>
                    <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-auto align-self-center">
            <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- List 4 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col">
            <div class="row">
              <div class="col-auto pl-0 sm-pr">
                <img class="img-fluid rounded-circle img-store" src="./assets/img/store-band-name.png">
              </div>
              <div class="col-auto pl-0 align-self-center">
                <h5 class="mb-0 font-store">STORE NAME 4</h5>
                <ul class="rating-stars">
                  <li>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star-o" style="color: #FFA101;"></i>
                    <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-auto align-self-center">
            <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button>
          </div>
        </div>
      </div>
      

  
  </div>
  <!-- Card Body -->
  </div>


  </div>
  <!-- End Container -->