<div class="container">
  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <!-- Search-Input -->
      <form class="d-flex">
        <input (keyup)='searchShopName($event)' id="search-input" class="form-control search-input" style="box-shadow: none;" type="text"
          placeholder="ค้นหาร้านกำลังติดตาม">
        <div class="input-group-addon search-symbol">
          <span class="fa fa-search search-symbol2"></span>
        </div>
      </form>
    </div>

    <div *ngIf="showContent" class="card-body">
      <div *ngIf="showNoFollowingText" class="text-white text-center" style="margin-top: 48px; margin-bottom: 48px;">
        <p class="mb-0" style="font-size: .8rem;">ไม่พบร้านที่กำลังติดตาม</p>
        <p class="mb-0" style="font-size: .8rem;">เริ่มต้นติดตามร้านค้าง่าย ๆ เพียงค้นหาร้านค้าและกดติดตาม</p>
      </div>
      <!-- List 1 -->
      <div (click)="gotoShopDes(shopDes.uid)" *ngFor="let shopDes of followingList"
        class="router card-list card-padding">
        <div class="row mt-set ml-0 mr-0">
          <div class="col">
            <div class="row">
              <div class="col-auto pl-0 sm-pr">
                <img class="img-fluid rounded-circle img-store" src="{{ shopDes.profileImg.imgUrl }}">
              </div>
              <div class="col-auto pl-0 align-self-center">
                <h5 class="mb-0 font-store">{{ shopDes.shopName }}</h5>
                <!-- <ul class="rating-stars">
                  <li>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star-o" style="color: #FFA101;"></i>
                    <i class="fa fa-star-o" style="color: #FFA101;"></i>
                  </li>
                </ul> -->
              </div>
            </div>
          </div>
          <div class="col-auto align-self-center">
            <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Card Body -->
  </div>
</div>
<!-- End Container -->