<div class="container">

  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <div class="row m-0">
        <div class="col-auto pl-0 sm-pr">
          <div class="card bg-dark border-0 rounded-circle">
            <img class="img-fluid rounded-circle img-store card-img img-cover" src="./assets/img/business-man.png">
            <div class="card-img-overlay overlay-cover text-center d-flex flex-column justify-content-center">
              <p class="text-white font-weight-bold mb-0" style="font-size: 1.3rem;">+</p>
            </div>
          </div>
        </div>
        <div class="col-auto pl-0 align-self-center">
          <h5 class="mb-0 text-white font-store">canm****</h5>
        </div>
      </div>
    </div>
  
    <div class="card-body">
      <!-- List 1 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col">
            <div class="row">
              <div class="col-auto pl-0 sm-pr">
                <img class="img-fluid rounded-circle img-store" src="./assets/img/setting-icon.png">
              </div>
              <div class="col-auto pl-0 align-self-center">
                <h5 class="mb-0 font-store">หน้าโปรไฟล์</h5>
              </div>
            </div>
          </div>
          <div class="col-auto align-self-center">
            <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- List 2 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col">
            <div class="row">
              <div class="col-auto pl-0 sm-pr">
                <img class="img-fluid rounded-circle img-store" src="./assets/img/setting-icon.png">
              </div>
              <div class="col-auto pl-0 align-self-center">
                <h5 class="mb-0 font-store">ที่อยู่ของฉัน</h5>
              </div>
            </div>
          </div>
          <div class="col-auto align-self-center">
            <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- List 3 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col">
            <div class="row">
              <div class="col-auto pl-0 sm-pr">
                <img class="img-fluid rounded-circle img-store" src="./assets/img/setting-icon.png">
              </div>
              <div class="col-auto pl-0 align-self-center">
                <h5 class="mb-0 font-store">ข้อมูลบัตร</h5>
              </div>
            </div>
          </div>
          <div class="col-auto align-self-center">
            <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button>
          </div>
        </div>
      </div>
      
      

  
  </div>
  <!-- Card Body -->
  </div>


  </div>
  <!-- End Container -->