<div class="container">
  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <p class="text-white text-center mb-0">รอยืนยันชำระเงิน</p>
    </div>

    <div *ngIf="item != null" class="card-body">
      <!-- Payment Method -->
      <div class="card-store-met">
        <p class="mb-2">ช่องทางการชำระเงิน</p>
        <div class="p-3" style="background-color: #20232A; border-radius: 13px;">
          <div class="row">
            <div class="col-auto">
              <img *ngIf="item.channel_list == 'promptpay'" class="img-fluid" style="max-width: 100px;" src="./assets/img/PaymentMethod/qr-icon.png">
              <img *ngIf="item.channel_list == 'truemoney'" class="img-fluid" style="max-width: 100px;" src="./assets/img/PaymentMethod/svg/TrueMoney-Wallet-vector.svg">>
              <img *ngIf="item.channel_list == 'wechat'" class="img-fluid" style="max-width: 100px;" src="./assets/img/PaymentMethod/svg/wechat-pay-logo-icon.svg">
              <img *ngIf="item.channel_list == 'alipay'" class="img-fluid" style="max-width: 100px;" src="./assets/img/PaymentMethod/svg/alipay.svg">
              <img *ngIf="item.channel_list == 'airpay'" class="img-fluid" style="max-width: 100px;"src="./assets/img/PaymentMethod/ShopeePay.png">
            </div>
            <div class="col align-self-center">
              <p *ngIf="item.channel_list == 'promptpay'" class="mb-0 text-white">Qr Payment</p>
              <p *ngIf="item.channel_list == 'truemoney'" class="mb-0 text-white">TrueMoney</p>
              <p *ngIf="item.channel_list == 'wechat'" class="mb-0 text-white">WeChat Pay</p>
              <p *ngIf="item.channel_list == 'alipay'" class="mb-0 text-white">ALIPAY</p>
              <p *ngIf="item.channel_list == 'airpay'" class="mb-0 text-white">ShopeePay</p>
            </div>
          </div>
        </div>

        <!-- <div class="col-icon" style="background-color: #20232A;">
          <img class="img-fluid img-payment" src="./assets/img/PaymentMethod/debit-credit-icon-noBG.png">
          <p class="mt-3 mb-0 text-icon">Debit/Credit</p>
        </div> -->
        
        <!-- <div class="card border-0 border-ra13">
          <img class="card-img img-cover shadow" src="./assets/img/card/kbank-card-low.png">
          <div class="card-img-overlay overlay-cover">
            <div class="row m-0">
              <div class="col-auto col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 p-0 align-self-center">
                <div class="row m-0">
                  <div class="col-auto-bank">
                    <img class="img-fluid rounded-circle img-bank" src="./assets/img/card/kbank-icon.png">
                  </div>
                  <div class="col-auto pl-0 align-self-center text-white text-bank">
                    <h5 class="mb-0 text-bank text-left">KBANK</h5>
                    <p class="mb-0">บัตรเดบิต</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
              <h4 class="mb-0 text-right card-number text-white">**** **** **** 6666</h4>
            </div>
          </div>
        </div> -->
      </div>
      <!-- End Payment Method -->

      <!-- Store Item 1 -->
      <div class="card-store-p mt-3">
        <p class="text-white mb-2">{{ item.shopName }}</p>
        <!-- Item 1 -->
        <div class="card-list card-padding">
          <div class="row row-mlr">
            <div class="col col-plr align-self-center">
              <h5 class="mb-0 font-topic">คำสั่งซื้อ #{{ item.orderNo }}</h5>
            </div>
            <div class="col-auto col-plr align-self-center text-right">
              <p class="mb-0 font-des">{{ item.createAt.seconds*1000 | date: 'd/M/yyyy' }}</p>
            </div>
          </div>
          <div class="row row-mlr mt-2">
            <div class="col-auto col-product col-plr">
              <img (click)="gotoProductDes(item.productKey)" class="img-fluid align-self-center img-product" style="border-radius: 10px; cursor: pointer;"
                src="{{ item.imgProduct[0].imgUrl }}">
            </div>
            <div class="col pl-0 col-plr">
              <h5 (click)="gotoProductDes(item.productKey)" class="mb-0 font-topic productName" style=" cursor: pointer;">{{ item.productName | slice:0:30 }}<a *ngIf="item.productName.length > 30">...</a></h5>
              <p class="mb-0 text-left font-sm-7">ที่อยู่ : {{ item.delivery.buyyerAddress.addressString }}</p>
            </div>
          </div>
          <div class="row row-mlr mt-3">
            <div class="col col-md-6 col-xl-6 col-plr align-self-center">
              <div class="row row-mlr">
                <div class="col-auto col-plr">
                  <p class="mb-0 font-sm-7">ขนส่ง : {{ item.delivery.priceDelivery.deliveryName }}</p>
                </div>
                <div class="col-auto col-sm-pl col-plr">
                  <p class="mb-0 font-sm-7" style="color: #FE5721;">฿{{ item.delivery.priceDelivery.priceDeliveryInput | currency: 'THB' : '' : '0.0' }}</p>
                </div>
              </div>
            </div>
            <div class="col-auto col-md-6 col-xl-6 col-plr text-right align-self-center" style="color: #FE5721;">
              <a class="font-sm-1 font-sm-show">ราคา </a>
              <a class="font-sm-1">฿{{ item.priceOfProduct | currency: 'THB' : '' : '0.0' }}</a>
            </div>
          </div>
        </div>
        <!-- End Item 1 -->
        <div class="row row-mlr mt-3 mb-1">
          <div class="col col-plr align-self-center">
            <p *ngIf="transaction == null" class="mb-0 font-topic text-white">สถานะ : รอการตรวจสอบ</p>
            <p *ngIf="transaction != null && transaction.status == 'request'" class="mb-0 font-topic text-white">สถานะ : รอการตรวจสอบ</p>
            <p *ngIf="transaction != null && transaction.status == 'waiting'" class="mb-0 font-topic text-white">สถานะ : รอการชำระเงิน</p>
            <p *ngIf="transaction != null && transaction.status == 'fail'" class="mb-0 font-topic text-white">สถานะ : การชำระเงินไม่สำเร็จ</p>
            <!-- Show When Payment Was Declined -->
            <!-- <p class="mb-0 font-topic text-white">สถานะ : การชำระถูกปฏิเสธ</p> -->
          </div>
          <div class="col-auto col-plr align-self-center text-right">
            <h5 class="text-right mb-0 font-store-price">ราคารวม ฿{{ (item.priceOfProduct + item.delivery.priceDelivery.priceDeliveryInput) | currency: 'THB' : '' : '0.0' }}</h5>
          </div>
        </div>
        <!-- BUTTON -->
        <!-- <div *ngIf="transaction != null && (transaction.status == 'request' || transaction.status == 'waiting' || transaction.status == 'fail')" class="row row-mlr">
          <div class="col col-plr pr-1">
            <button (click)="editOrderPayment()" type="button" class="router btn mt-2"
            style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #a8a8a8;">
            แก้ไขข้อมูล
          </button>
          </div>
          <div class="col col-plr pl-1">
            <button (click)="paymentAgain()" type="button" class="router btn mt-2"
            style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #FE5721;">
            ชำระเงินอีกครั้ง
            </button>
          </div>
        </div> -->
        <div class="row row-mlr">
          <div class="col col-plr pr-1">
            <button [class.disabled]="transaction == null || (transaction != null && transaction.status == 'success')" (click)="editOrderPayment()" type="button" class="router btn mt-2"
            style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #a8a8a8;">
            แก้ไขข้อมูล
          </button>
          </div>
          <div class="col col-plr pl-1">
            <button [class.disabled]="transaction == null || (transaction != null && transaction.status == 'success')" (click)="paymentAgain()" type="button" class="router btn mt-2"
            style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #FE5721;">
            ชำระเงินอีกครั้ง
            </button>
          </div>
        </div>
      </div>
      <!-- End Store Item 1 -->
    </div>
    <!-- End Card Body -->
  </div>
  <!-- End Card -->

  <!-- MODAL POPUP QR PAYMENT -->
  <!-- <div class="modal fade" [class.show]="qrPayment" [class.modalShow]="qrPayment" id="ModalPopupQrPayment" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
        <h5 class="font-weight-bold text-center">การชำระเงิน</h5>
        
        <p *ngIf="transaction != null && transaction.channel_list == 'promptpay'" class="text-center mb-0">ช่องทางการชำระเงิน : Qr Payment</p>
        <p *ngIf="transaction != null && transaction.channel_list == 'truemoney'" class="text-center mb-0">ช่องทางการชำระเงิน : TrueMoney</p>
        <p *ngIf="transaction != null && transaction.channel_list == 'wechat'" class="text-center mb-0">ช่องทางการชำระเงิน : WeChat Pay</p>
        <p *ngIf="transaction != null && transaction.channel_list == 'alipay'" class="text-center mb-0">ช่องทางการชำระเงิน : ALIPAY</p>
        <p *ngIf="transaction != null && transaction.channel_list == 'linepay'" class="text-center mb-0">ช่องทางการชำระเงิน : Line Pay</p>
        <p *ngIf="item != null && transaction != null" class="text-center">จำนวนเงิน : ฿{{ (item.priceOfProduct + item.delivery.priceDelivery.priceDeliveryInput) | currency: 'THB' : '' : '0.0' }}</p>

        <div *ngIf="transaction != null && transaction.response == undefined" class="text-center mt-2 mb-2">
          <img class="rounded mx-auto d-block" style="width: 80px;" src="../../assets/img/loadingpage-final.png">
          <p class="text-center mb-0">Loading...</p>      
        </div>
        <div *ngIf="transaction != null && transaction.response != undefined" class="text-center">
          <img class="img-fluid" style="max-width: 250px;" src="{{ transaction.response.imgdat }}">
        </div>
      </div>
    </div>
  </div> -->
  <!-- END MODAL POPUP QR PAYMENT -->

  <!-- MODAL POPUP QR PAYMENT -->
  <div class="modal fade" [class.show]="qrPayment" [class.modalShow]="qrPayment" id="ModalPopupQrPayment" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
        <h5 class="font-weight-bold text-center">การชำระเงิน</h5>
        <!-- CHANNEL -->
        <div class="row">
          <div class="col align-self-center">
            <div *ngIf="item != null && item.channel_list == 'promptpay'" class="text-center"
              style="background-color: #20232A; padding-top: 15px; padding-bottom: 15px; border-radius: 13px 13px 13px 13px;">
              <img class="img-fluid" style="max-height: 30px;" src="./assets/img/PaymentMethod/qr-icon.png">
              <p class="mt-1 mb-0 text-white" style="font-size: 1rem;">Qr Payment</p>
            </div>
            <div *ngIf="item != null && item.channel_list == 'truemoney'" class="text-center"
              style="background-color: #20232A; padding-top: 15px; padding-bottom: 15px; border-radius: 13px 13px 13px 13px;">
              <img class="img-fluid" style="max-height: 30px;"
                src="./assets/img/PaymentMethod/svg/TrueMoney-Wallet-vector.svg">
              <p class="mt-1 mb-0 text-white" style="font-size: 1rem;">TrueMoney</p>
            </div>
            <div *ngIf="item != null && item.channel_list == 'wechat'" class="text-center"
              style="background-color: #20232A; padding-top: 15px; padding-bottom: 15px; border-radius: 13px 13px 13px 13px;">
              <img class="img-fluid" style="max-height: 30px;"
                src="./assets/img/PaymentMethod/svg/wechat-pay-logo-icon.svg">
              <p class="mt-1 mb-0 text-white" style="font-size: 1rem;">WeChat Pay</p>
            </div>
            <div *ngIf="item != null && item.channel_list == 'alipay'" class="text-center"
              style="background-color: #20232A; padding-top: 15px; padding-bottom: 15px; border-radius: 13px 13px 13px 13px;">
              <img class="img-fluid" style="max-height: 30px;" src="./assets/img/PaymentMethod/svg/alipay.svg">
              <p class="mt-1 mb-0 text-white" style="font-size: 1rem;">ALIPAY</p>
            </div>
            <div *ngIf="item != null && item.channel_list == 'airpay'" class="text-center"
              style="background-color: #20232A; padding-top: 15px; padding-bottom: 15px; border-radius: 13px 13px 13px 13px;">
              <img class="img-fluid" style="max-height: 30px;" src="./assets/img/PaymentMethod/ShopeePay.png">
              <p class="mt-1 mb-0 text-white" style="font-size: 1rem;">ShopeePay</p>
            </div>
          </div>
          <div class="col-auto align-self-center sm-p-0">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="col align-self-center">
            <div class="text-center"
              style="background-color: #20232A; padding-top: 15px; padding-bottom: 15px; border-radius: 13px 13px 13px 13px;">
              <img class="img-fluid" style="max-height: 30px;" src="./assets/img/seller-profile/store-icon-color.svg">
              <p class="mt-1 mb-0 text-white" style="font-size: 1rem;">เคเชอร์เพย์</p>
            </div>
          </div>
        </div>
        <!-- END CHANNEL -->
        <!-- SUM PRICE -->
        <div *ngIf="item != null" class="text-center mt-2 mb-2">
          <p class="mb-0" style="font-size: 1.4rem; line-height: 1; color: #FE5721;">฿{{ item.priceOfProduct + item.delivery.priceDelivery.priceDeliveryInput | currency: 'THB' : '' : '0.0' }}</p>
          <p class="mb-0" style="font-size: 1rem;">จำนวนเงิน</p>
        </div>
        <!-- END SUM PRICE -->
        <!-- RENDER QR PAYMENT -->
        <div *ngIf="transaction != null && transaction.response == undefined" class="text-center mt-2 mb-2">
          <img class="rounded mx-auto d-block" style="width: 80px;" src="../../assets/img/loadingpage-final.png">
          <p class="text-center mb-0">Loading...</p>
        </div>
        <div *ngIf="transaction != null && transaction.response != undefined">
          <div *ngIf="transaction.channel_list == 'promptpay'" class="ref-code mb-1">
            <p class="mb-0">หมายเลขอ้างอิง1:
              <a style="color: #FE5721;"> {{ transaction.response.stalls_name }} </a>
              <button (click)="copyRef1()" type="button" class="btn btn-primary" style="border: none; border-radius: 1.5rem; background-color: #FE5721;">คัดลอก</button></p>
            <p class="mb-0">หมายเลขอ้างอิง2:
              <a style="color: #FE5721;"> {{ transaction.response.ksher_order_no }} </a>
              <button (click)="copyRef2()" type="button" class="btn btn-primary" style="border: none; border-radius: 1.5rem; background-color: #FE5721;">คัดลอก</button>
            </p>
          </div>
          <div class="text-center mb-1">
            <p *ngIf="minutesToDday == 10 && secondsToDday == 00" class="mb-0">(ชำระเงินภายใน Loading...)</p>
            <p *ngIf="minutesToDday != 10 && secondsToDday != 00" class="mb-0">(ชำระเงินภายใน {{ minutesToDday }}:{{ secondsToDday }})</p>
            <img class="img-fluid" style="max-width: 250px;" src="{{ transaction.response.imgdat }}">
          </div>
        </div>
        <div class="mt-4">
          <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
            <button [class.disabled]="transaction != null && transaction.response == undefined" type="button"
              class="btn btn-primary" style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
              data-dismiss="modal" (click)="editOrderPayment()">แก้ไขข้อมูล</button>
          </div>
          <div class="mt-2">
            <a (click)="hideModalQrPayment()" style="cursor: pointer;">
              <p class="text-center mb-0">ชำระเงินภายหลัง</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MODAL POPUP QR PAYMENT -->

<!-- MODAL POPUP QR PAYMENT -->
<div class="modal fade" [class.show]="modalTransactionShow" [class.modalShow]="modalTransactionShow" id="ModalPopupPaymentStauts" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">การชำระเงิน{{ modalTransacStatus }}</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;" data-dismiss="modal"
            (click)="modalPaymentStauts()">ตกลง</button>
        </div>
      </div>
      <!-- <div class="mt-2">
        <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
          <p class="text-center">ยกเลิก</p>
        </a>
      </div> -->
    </div>
  </div>
</div>
<!-- END MODAL POPUP QR PAYMENT -->

</div>
<!-- End Container -->