<div class="container">
  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <p class="text-white text-center mb-0">รอยืนยันชำระเงิน</p>
    </div>

    <div class="card-body">
      <!-- Payment Method -->
      <div class="card-store-met">
        <p class="mb-2">ช่องทางการชำระเงิน</p>
        <div class="card border-0 border-ra13">
          <img class="card-img img-cover shadow" src="./assets/img/card/kbank-card-low.png">
          <div class="card-img-overlay overlay-cover">
            <div class="row m-0">
              <div class="col-auto col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 p-0 align-self-center">
                <div class="row m-0">
                  <div class="col-auto-bank">
                    <img class="img-fluid rounded-circle img-bank" src="./assets/img/card/kbank-icon.png">
                  </div>
                  <div class="col-auto pl-0 align-self-center text-white text-bank">
                    <h5 class="mb-0 text-bank text-left">KBANK</h5>
                    <p class="mb-0">บัตรเดบิต</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
              <h4 class="mb-0 text-right card-number text-white">**** **** **** 6666</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End Payment Method -->

      <!-- Store Item 1 -->
      <div class="card-store-p mt-3">
        <p class="text-white mb-2">STORE NAME 1</p>
        <!-- Item 1 -->
        <div class="card-list card-padding">
          <div class="row">
            <div class="col align-self-center">
              <h5 class="mb-0 font-topic">คำสั่งซื้อ #002135111</h5>
            </div>
            <div class="col-auto align-self-center text-right">
              <p class="mb-0 font-des">17/03/2020</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-auto col-product">
              <img class="img-fluid align-self-center img-product" style="border-radius: 10px;"
                src="./assets/img/bag.png">
            </div>
            <div class="col pl-0">
              <h5 class="mb-0 font-topic">Adidas NMD</h5>
              <p class="mb-0 font-des">Adidas NMD R1 เป็นรองเท้าสำหรับใส่วิ่งมากพอๆ กับที่มันเป็นรอง...</p>
              <p class="mb-0 text-left font-sm-7">ที่อยู่ : (บ้าน) 167 ซอยสุขุมวิท 107 (แบรริ่ง 16) เขตบางนา...</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col col-md-6 col-xl-6 align-self-center">
              <div class="row">
                <div class="col-auto">
                  <p class="mb-0 font-sm-7">ขนส่ง : Kerry Express</p>
                </div>
                <div class="col-auto col-sm-pl">
                  <p class="mb-0 font-sm-7" style="color: #FE5721;">฿100</p>
                </div>
              </div>
            </div>
            <div class="col-auto col-md-6 col-xl-6 text-right align-self-center" style="color: #FE5721;">
              <a class="font-sm-1 font-sm-show">ราคา </a>
              <a class="font-sm-1">฿15,000</a>
            </div>
          </div>
        </div>
        <!-- End Item 1 -->
        <div class="row mt-3 mb-1">
          <div class="col align-self-center">
            <p class="mb-0 font-topic text-white">สถานะ : รอการตรวจสอบ</p>
            <!-- Show When Payment Was Declined -->
            <!-- <p class="mb-0 font-topic text-white">สถานะ : การชำระถูกปฏิเสธ</p> -->
          </div>
          <div class="col-auto align-self-center text-right">
            <h5 class="text-right mb-0 font-store-price">ราคารวม ฿15,100</h5>
          </div>
        </div>
      </div>
      <!-- End Store Item 1 -->
    </div>
    <!-- End Card Body -->
    
    <!-- Show When Payment Was Declined -->
    <!-- <div class="card-tab card-tab-radius">
      <div class="row mb-2">
        <div class="col">
          <p class="text-white mb-0">• ยอดรวม ฿15,000</p>
          <p class="text-white mb-0">• ค่าจัดส่ง ฿100</p>
        </div>
        <div class="col-auto text-right align-self-center">
          <h3 class="mb-0 font-total-price">ราคารวม ฿15,100</h3>
          <p class="mb-0 text-white font-sm-7">ยอดรวมทั้งสิ้น</p>
        </div>
      </div>
      <button type="button" class="btn mt-2"
        style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #FE5721;"
        data-toggle="modal" data-target="#modalDepositCredit">
        ชำระเงินอีกครั้ง
      </button>
    </div> -->
  </div>
  <!-- End Card -->
</div>
<!-- End Container -->