<div class="container">
  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <p class="text-white text-center mb-0">รายละเอียด</p>
    </div>

    <div *ngIf="item != null" class="card-body">
      <!-- ORDER ITEM -->
      <!-- STATUS CANCEL BY BUYER -->
      <div *ngIf="item.status == 'cancelByBuyer'" class="card-list card-padding">
        <div class="row row-mlr mt-2">
          <div class="col-auto col-product col-plr">
            <img (click)="gotoProductDes(item.productKey)" class="img-fluid align-self-center img-product"
              style="border-radius: 10px; cursor: pointer;" src="{{ item.imgProduct[0].imgUrl }}">
          </div>
          <div class="col col-plr pl-0">
            <div class="row row-mlr">
              <div class="col col-plr align-self-center">
                <h5 class="mb-0 font-topic">คำสั่งซื้อ #{{ item.orderNo }}</h5>
              </div>
              <div class="col-auto col-plr align-self-center text-right">
                <p class="mb-0 font-des">{{ item.createAt.seconds*1000 | date: 'd/M/yyyy' }}</p>
              </div>
            </div>
            <h5 (click)="gotoProductDes(item.productKey)" class="mb-0 font-topic productName" style="cursor: pointer;">
              {{ item.productName | slice:0:30 }}<a *ngIf="item.productName.length > 30">...</a></h5>
            <p class="mb-0 text-left font-sm-7">ที่อยู่ : ยังไม่ได้เพิ่มที่อยู่</p>
          </div>
        </div>
        <div class="row row-mlr mt-3">
          <div class="col col-md-6 col-xl-6 col-plr align-self-center">
            <p class="mb-0 font-sm-7">สถานะ : ยกเลิกคำสั่งซื้อจากรถเข็น ({{ item.deleteAt.seconds*1000 | date:
              'd/M/yyyy' }})</p>
          </div>
          <div class="col-auto col-md-6 col-xl-6 col-plr text-right align-self-center" style="color: #FE5721;">
            <a class="font-sm-1">ราคาสินค้า </a>
            <a class="font-sm-1">฿{{ item.priceOfProduct | currency: 'THB' : '' : '0.0' }}</a>
          </div>
        </div>
      </div>

      <!-- STATUS CANCEL BY SELLER -->
      <div *ngIf="item.status == 'cancelBySeller'" class="card-list card-padding">
        <div class="row row-mlr mt-2">
          <div class="col-auto col-product col-plr">
            <img (click)="gotoProductDes(item.productKey)" class="img-fluid align-self-center img-product"
              style="border-radius: 10px; cursor: pointer;" src="{{ item.imgProduct[0].imgUrl }}">
          </div>
          <div class="col col-plr pl-0">
            <div class="row row-mlr">
              <div class="col col-plr align-self-center">
                <h5 class="mb-0 font-topic">คำสั่งซื้อ #{{ item.orderNo }}</h5>
              </div>
              <div class="col-auto col-plr align-self-center text-right">
                <p class="mb-0 font-des">{{ item.createAt.seconds*1000 | date: 'd/M/yyyy' }}</p>
              </div>
            </div>
            <h5 (click)="gotoProductDes(item.productKey)" class="mb-0 font-topic productName" style="cursor: pointer;">
              {{ item.productName | slice:0:30 }}<a *ngIf="item.productName.length > 30">...</a></h5>
            <p class="mb-0 text-left font-sm-7">ที่อยู่ : {{ item.delivery.buyyerAddress.addressString }}</p>
          </div>
        </div>
        <div class="row row-mlr mt-3">
          <div class="col col-md-6 col-xl-6 col-plr align-self-center">
            <div class="row row-mlr">
              <div class="col-auto col-plr">
                <p class="mb-0 font-sm-7">ขนส่ง : {{ item.delivery.priceDelivery.deliveryName }}</p>
              </div>
              <div class="col-auto col-sm-pl col-plr">
                <p class="mb-0 font-sm-7" style="color: #FE5721;">฿{{ item.delivery.priceDelivery.priceDeliveryInput |
                  currency: 'THB' : '' : '0.0' }}</p>
              </div>
            </div>
          </div>
          <div class="col-auto col-md-6 col-xl-6 col-plr text-right align-self-center" style="color: #FE5721;">
            <a class="font-sm-1">ราคาสินค้า </a>
            <a class="font-sm-1">฿{{ item.priceOfProduct | currency: 'THB' : '' : '0.0' }}</a>
          </div>
        </div>
        <div class="row row-mlr">
          <div class="col col-plr align-self-center">
            <p class="mb-0 font-sm-7">สถานะ : ยกเลิกคำสั่งโดยร้านค้า ({{ item.cancelAt.seconds*1000 | date: 'd/M/yyyy'
              }})</p>
          </div>
          <div class="col-auto col-plr text-right align-self-center" style="color: #FE5721;">
            <a class="font-sm-1">ราคารวมที่จะได้คืน </a>
            <a class="font-sm-1">฿{{ (item.priceOfProduct + item.delivery.priceDelivery.priceDeliveryInput) | currency:
              'THB' : '' : '0.0' }}</a>
          </div>
        </div>
      </div>

      <!-- STATUS RETURN -->
      <div *ngIf="item.status == 'return'" class="card-list card-padding">
        <div class="row row-mlr mt-2">
          <div class="col-auto col-product col-plr">
            <img (click)="gotoProductDes(item.productKey)" class="img-fluid align-self-center img-product"
              style="border-radius: 10px; cursor: pointer;" src="{{ item.imgProduct[0].imgUrl }}">
          </div>
          <div class="col col-plr pl-0">
            <div class="row row-mlr">
              <div class="col col-plr align-self-center">
                <h5 class="mb-0 font-topic">คำสั่งซื้อ #{{ item.orderNo }}</h5>
              </div>
              <div class="col-auto col-plr align-self-center text-right">
                <p class="mb-0 font-des">{{ item.createAt.seconds*1000 | date: 'd/M/yyyy' }}</p>
              </div>
            </div>
            <h5 (click)="gotoProductDes(item.productKey)" class="mb-0 font-topic productName" style="cursor: pointer;">
              {{ item.productName | slice:0:30 }}<a *ngIf="item.productName.length > 30">...</a></h5>
            <p class="mb-0 text-left font-sm-7">ที่อยู่ : {{ item.delivery.buyyerAddress.addressString }}</p>
          </div>
        </div>
        <div class="row row-mlr mt-3">
          <div class="col col-md-6 col-xl-6 col-plr align-self-center">
            <div class="row row-mlr">
              <div class="col-auto col-plr">
                <p class="mb-0 font-sm-7">ขนส่ง : {{ item.delivery.priceDelivery.deliveryName }}</p>
              </div>
              <div class="col-auto col-sm-pl col-plr">
                <p class="mb-0 font-sm-7" style="color: #FE5721;">฿{{ item.delivery.priceDelivery.priceDeliveryInput |
                  currency: 'THB' : '' : '0.0' }}</p>
              </div>
            </div>
          </div>
          <div class="col-auto col-md-6 col-xl-6 col-plr text-right align-self-center" style="color: #FE5721;">
            <a class="font-sm-1">ราคาสินค้า </a>
            <a class="font-sm-1">฿{{ item.priceOfProduct | currency: 'THB' : '' : '0.0' }}</a>
          </div>
        </div>
        <div class="row row-mlr">
          <div class="col-12 col-plr text-right align-self-center" style="color: #FE5721;">
            <a class="font-sm-1">ราคารวม </a>
            <a class="font-sm-1">฿{{ (item.priceOfProduct + item.delivery.priceDelivery.priceDeliveryInput) | currency:
              'THB' : '' : '0.0' }}</a>
          </div>
        </div>
      </div>
      <!-- END ORDER ITEM -->

      <!-- TRANSPORT DESCRIPTION -->
      <div *ngIf="item.status == 'return'" class="card-list card-padding mt-3">
        <p class="mb-0">ผู้ส่งสินค้า : {{ item.delivery.priceDelivery.deliveryName }}</p>
        <div class="row row-mlr">
          <div class="col-auto pr-0 col-plr">
            <p *ngIf="transport == null" class="mb-0">ข้อมูลการติดตาม : ไม่พบรหัสติดตามสินค้า</p>
            <p *ngIf="transport != null" class="mb-0">ข้อมูลการติดตาม : {{ transport.pno }}</p>
          </div>
          <div *ngIf="transport != null" class="col-auto col-plr">
            <button type="button" class="btn btn-circle-clone" data-toggle="modal" data-target="#ModalPopupCopyTrackNumber" (click)="copyTrackNumber()">
              <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <!-- DESCRIPTION-->
        <div class="mt-2" style="background-color: #373E48; border-radius: 5px; padding: 15px;">
          <!-- TRANSPORT -->
          <p class="text-white mb-0">การขนส่ง</p>
          <!-- TRANSPORT EMPTY -->
          <div *ngIf="transport == null" class="mt-4 mb-4">
            <p class="text-center text-danger mb-0">ไม่พบข้อมูลรายละเอียดการจัดส่ง</p>
            <p class="text-center text-danger mb-0">โปรดติดตามสินค้าผ่านเว็บไซต์</p>
          </div>
          <!-- TRANSPORT !EMPTY -->
          <div *ngIf="transport != null">
            <div *ngFor="let data of transport.routes; let i = index;" class="row row-mlr mt10">
              <div class="col-auto col-plr pr-0 align-self-center">
                <div [class.dot-start]="i+1 < transport.routes.length"></div>
                <div [class.line-start]="i+1 > 1 && i+1 != transport.routes.length"></div>
                <div [class.dot-now-opa]="i+1 == transport.routes.length"></div>
                <div [class.dot-now]="i+1 == transport.routes.length"></div>
                <div [class.line-start]="i+1 != 1 && i+1 == transport.routes.length"></div>
              </div>
              <div class="col col-plr">
                <!-- FOR FLASH EX -->
                <div *ngIf="item.delivery.priceDelivery.deliveryName == 'Flash Express'">
                  <p class="mb-0 text-white font-sm-1">{{ data.stateTextTH }}</p>
                  <p class="mb-0 font-sm-7" style="color: #A2A2A2;">{{ data.stateDate | date: 'd/M/yyyy' }} {{ data.stateDate | date: "HH:mm" }}</p>
                </div>
                <!-- FOR THAI POST -->
                <div *ngIf="item.delivery.priceDelivery.deliveryName == 'Thailand Post'">
                  <p class="mb-0 text-white font-sm-1">{{ data.statusDescription }}</p>
                  <p class="mb-0 font-sm-7" style="color: #A2A2A2;">{{ data.statusDate }}</p>
                </div>
              </div>
              <!-- <div class="col col-plr">
                <p class="mb-0 text-white font-sm-1">{{ data.stateTextTH }}</p>
                <p class="mb-0 font-sm-7" style="color: #A2A2A2;">{{ data.stateDate | date: 'd/M/yyyy' }} {{ data.stateDate | date: "HH:mm" }}</p>
              </div> -->
            </div>
          </div>
          <!-- END TRANSPORT -->
        </div>
        <div class="mt-2">
          <a class="mb-0">คุณสามารถติดตามสถานะสินค้าที่คุณสั่งซื้อจาก </a>
          <a class="mb-0" style="color: #FE5721;">{{ item.delivery.priceDelivery.deliveryName }}</a>
          <a class="mb-0"> เว็บไซต์สำหรับการติดตามสถานะสินค้า</a>
        </div>
        <button *ngIf="item.delivery.priceDelivery.deliveryName == 'Kerry Express'" 
        type="button" class="btn mt-2" style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #FE5721;"
        onclick="window.open('https://th.kerryexpress.com/th/track/')" target="_blank">ติดตามสินค้าผ่านเว็บไซต์</button>
        <button *ngIf="item.delivery.priceDelivery.deliveryName == 'Thailand Post'" 
        type="button" class="btn mt-2" style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #FE5721;"
        onclick="window.open('https://track.thailandpost.co.th/')" target="_blank">ติดตามสินค้าผ่านเว็บไซต์</button>
        <button *ngIf="item.delivery.priceDelivery.deliveryName == 'SCG Express'" 
        type="button" class="btn mt-2" style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #FE5721;"
        onclick="window.open('https://www.scgexpress.co.th/tracking')" target="_blank">ติดตามสินค้าผ่านเว็บไซต์</button>
        <button *ngIf="item.delivery.priceDelivery.deliveryName == 'Flash Express'" 
        type="button" class="btn mt-2" style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #FE5721;"
        onclick="window.open('https://www.flashexpress.com/th/tracking')" target="_blank">ติดตามสินค้าผ่านเว็บไซต์</button>
      </div>
      <!-- END TRANSPORT DESCRIPTION -->
      
      <!-- RETURN DESCRIPTION -->
      <div *ngIf="item.status == 'return'" class="card-list card-padding mt-3">
        <p class="text-dark mb-0">รายละเอียดการคืนสินค้า</p>
        <p class="text-dark mb-0">เหตุผล: {{ item.returnProduct.buyerRequestReason }}</p>
        <p class="text-dark mb-0">รายละเอียด: {{ item.returnProduct.buyerRequestDes }}</p>
        <div class="row row-img-m mt-2" style="margin-top: -8px;">
          <div class="col-6 col-md-6 col-lg-2 col-img-p mt-2"
            *ngFor="let _dataImg of item.returnProduct.buyerRequestImg;">
            <img src="{{ _dataImg.imgUrl }}" class="img-fluid border-radius-10">
          </div>
        </div>
      </div>
      <!-- RETURN DESCRIPTION -->

      <!-- DELIVERY DESCRIPTION -->
      <div *ngIf="item.status == 'return'" class="card-list card-padding mt-3">
        <div class="" style="background-color: #373E48; border-radius: 5px; padding: 15px;">
          <p class="text-white mb-0">สถานะการคืนสินค้า</p>
          <!-- BUYER REQUEST RETURN PRODUCT -->
          <div *ngIf="item.returnProduct.status == 'buyerRequest' 
            || item.returnProduct.status == 'sellerArgueRequest' 
            || item.returnProduct.status == 'returnProductShipping' 
            || item.returnProduct.status == 'returnProductShippingAdmin' 
            || item.returnProduct.status == 'sellerArgueReceive' 
            || item.returnProduct.status == 'success'" class="row row-mlr">
            <!-- DOT -->
            <div class="col-auto col-plr pr-0 align-self-center">
              <div class="dot-start"></div>
            </div>
            <!-- DETAIL -->
            <div class="col col-plr">
              <h5 class="mb-0 text-white font-sm-1">แจ้งการคืนสินค้า</h5>
              <p class="mb-0 font-sm-7" style="color: #A2A2A2;">{{ item.returnProduct.buyerRequestAt.seconds*1000 |
                date: 'd/M/yyyy' }}</p>
            </div>
          </div>
          <!-- ADDMIN APPROVE RETURN PRODUCT -->
          <div *ngIf="(item.returnProduct.status == 'sellerArgueRequest' && item.returnProduct.adminRequestAt != undefined)
            || item.returnProduct.status == 'returnProductShipping' 
            || item.returnProduct.status == 'returnProductShippingAdmin' 
            || item.returnProduct.status == 'sellerArgueReceive' 
            || item.returnProduct.status == 'success'" class="row row-mlr"
            style="margin-top: 15px; margin-bottom: 15px;">
            <!-- DOT -->
            <div class="col-auto col-plr pr-0 align-self-center">
              <div class="dot-start"></div>
              <div class="line-start"></div>
              <!-- <div class="line-end"></div> -->
            </div>
            <!-- DETAIL -->
            <div class="col col-plr">
              <p class="mb-0 text-white font-sm-1">อนุมัติการคืนสินค้า</p>
              <!-- ORIGINAL VERSION -->
              <a class="mb-0 mr-2 text-white font-sm-1">ใบนำส่งหน้ากล่องพัสดุ</a>
              <button type="button" class="btn btn-circle"><i class="fa fa-file" aria-hidden="true"></i></button>
              <p class="mb-0 mr-2 text-white font-sm-1" style="cursor: pointer;" data-toggle="modal"
                data-target="#ModalPopupAddressReturn" data-backdrop="static" data-keyboard="false">ที่อยู่ส่งกลับ: (แสดงที่อยู่)</p>
              <p class="mb-0 font-sm-7" style="color: #A2A2A2;">{{ item.returnProduct.adminRequestAt.seconds*1000 | date: 'd/M/yyyy' }}</p>
              <!-- <a class="mb-0 mr-2 text-white font-sm-1" style="cursor: pointer;" data-toggle="modal"
                data-target="#ModalPopupAddressReturn" data-backdrop="static" data-keyboard="false">ที่อยู่ส่งกลับ: (แสดงที่อยู่)</a> -->
              <!-- <p class="mb-0 font-sm-7" style="color: #A2A2A2;">{{ item.returnProduct.adminRequestAt.seconds*1000 | date: 'd/M/yyyy' }} (โปรดส่งกลับตามที่อยู่และแจ้งในระบบข้อความ)</p> -->
            </div>
          </div>
          <!-- DELIVERING RETURN TO SHOP -->
          <!-- <div class="row row-mlr" style="margin-top: 15px; margin-bottom: 15px;">
          <div class="col-auto col-plr pr-0 align-self-center">
            <div class="dot-start"></div>
            <div class="line-start"></div>
            <div class="line-end"></div>
          </div>
          <div class="col col-plr">
            <p class="mb-0 text-white font-sm-1">ส่งสินค้ากลับคืนร้านค้า</p>
            <p class="mb-0 font-sm-7" style="color: #A2A2A2;">18/03/2020 17:44</p>
          </div>
          </div> -->
          <!-- SELLER APPROVE RECIVE RETURN PRODUCT -->
          <div class="row row-mlr" style="margin-top: 15px; margin-bottom: 15px;" *ngIf="(item.returnProduct.status == 'sellerArgueRequest' && item.returnProduct.adminRequestAt != undefined)
          || (item.returnProduct.status == 'returnProductShipping' && item.returnProduct.acceptReceiveAt != undefined)
          || (item.returnProduct.status == 'returnProductShippingAdmin' && item.returnProduct.acceptReceiveAt != undefined)
          || item.returnProduct.status == 'sellerArgueReceive' 
          || (item.returnProduct.status == 'success' && item.returnProduct.adminReceiveAt == undefined)">
            <div class="col-auto col-plr pr-0 align-self-center">
              <div class="dot-start"></div>
              <div class="line-start"></div>
              <!-- <div class="line-end"></div> -->
            </div>
            <div class="col col-plr">
              <p class="mb-0 text-white font-sm-1">สินค้าถึงร้านค้าเรียบร้อย</p>
              <p class="mb-0 font-sm-7" style="color: #A2A2A2;">{{ item.returnProduct.acceptReceiveAt.seconds*1000 |
                date: 'd/M/yyyy' }}</p>
            </div>
          </div>
          <!-- SELLER ARGUE RECIVE RETURN PRODUCT -->
          <div class="row row-mlr" style="margin-top: 15px; margin-bottom: 15px;" *ngIf="(item.returnProduct.status == 'sellerArgueRequest' && item.returnProduct.adminRequestAt != undefined)
          || (item.returnProduct.status == 'returnProductShipping' && item.returnProduct.acceptReceiveAt != undefined)
          || (item.returnProduct.status == 'returnProductShippingAdmin' && item.returnProduct.acceptReceiveAt != undefined)
          || (item.returnProduct.status == 'sellerArgueReceive' && item.returnProduct.sellerArgueReceiveAt != undefined)
          || (item.returnProduct.status == 'success' && item.returnProduct.adminReceiveAt == undefined)">
            <div class="col-auto col-plr pr-0 align-self-center">
              <div class="dot-start"></div>
              <div class="line-start"></div>
              <!-- <div class="line-end"></div> -->
            </div>
            <div class="col col-plr">
              <p class="mb-0 text-white font-sm-1">สินค้าส่งกลับมีปัญหารอการตรวจสอบ</p>
              <p class="mb-0 font-sm-7" style="color: #A2A2A2;">{{ item.returnProduct.sellerArgueReceiveAt.seconds*1000
                | date: 'd/M/yyyy' }}</p>
            </div>
          </div>
          <!-- APPROVE REFUND -->
          <div class="row row-mlr" style="margin-top: 15px; margin-bottom: 15px;"
            *ngIf="(item.returnProduct.status == 'sellerArgueRequest' && item.returnProduct.adminRequestAt != undefined)
            || (item.returnProduct.status == 'returnProductShipping' && item.returnProduct.acceptReceiveAt != undefined)
            || (item.returnProduct.status == 'returnProductShippingAdmin' && item.returnProduct.acceptReceiveAt != undefined)
            || (item.returnProduct.status == 'sellerArgueReceive' && item.returnProduct.sellerArgueReceiveAt != undefined)
            || (item.returnProduct.status == 'success' && (item.returnProduct.adminReceiveAt != undefined || item.returnProduct.sellerArgueReceiveAt != undefined || item.returnProduct.adminReceiveAt != undefined))">
            <div class="col-auto col-plr pr-0 align-self-center">
              <div class="dot-start"></div>
              <div class="line-start"></div>
              <!-- <div class="line-end"></div> -->
            </div>
            <div class="col col-plr">
              <p class="mb-0 text-white font-sm-1">อนุมัติการคืนเงิน</p>
              <!-- <p class="mb-0 font-sm-7" style="color: #A2A2A2;">20/03/2020 14:56</p> -->
              <p class="mb-0 font-sm-7" style="color: #A2A2A2;">(โปรดแจ้งในระบบข้อความเพื่อดำเนินการคืนเงิน)</p>
            </div>
          </div>
          <!-- REFUND DETAIL -->
          <div class="row row-mlr" style="margin-top: 15px; margin-bottom: 15px;"
            *ngIf="(item.returnProduct.status == 'sellerArgueRequest' && item.returnProduct.adminRequestAt != undefined)
            || (item.returnProduct.status == 'returnProductShipping' && item.returnProduct.acceptReceiveAt != undefined)
            || (item.returnProduct.status == 'returnProductShippingAdmin' && item.returnProduct.acceptReceiveAt != undefined)
            || (item.returnProduct.status == 'sellerArgueReceive' && item.returnProduct.sellerArgueReceiveAt != undefined)
            || (item.returnProduct.status == 'success' && (item.returnProduct.adminReceiveAt != undefined || item.returnProduct.sellerArgueReceiveAt != undefined || item.returnProduct.adminReceiveAt != undefined))">
            <div class="col-auto col-plr pr-0 align-self-center">
              <div class="dot-now-opa"></div>
              <div class="dot-now"></div>
              <div class="line-start"></div>
            </div>
            <div class="col col-plr">
              <p class="mb-0 text-white font-sm-1">การคืนเงินสำเร็จ ฿{{ (item.priceOfProduct +
                item.delivery.priceDelivery.priceDeliveryInput) | currency: 'THB' : '' : '0.0' }}</p>
              <p class="mb-0 font-sm-7" style="color: #A2A2A2;">(โปรดแจ้งในระบบข้อความเพื่อดำเนินการคืนเงิน)</p>
            </div>
          </div>
          <!-- END TIMELINE PROCESS -->
        </div>
        <div class="mt-2">
          <p class="mb-0">• เมื่ออนุมัติการคืนสินค้า จะต้องส่งคืนสินค้ากลับเพื่อตรวจสอบและคืนเงิน</p>
          <p class="mb-0">• การตรวจสอบและดำเนินการอาจใช้เวลา 10-14 วันทำการ</p>
        </div>
      </div>
      <!-- END DELIVERY DESCRIPTION -->
    </div>
    <!-- End Card Body -->
  </div>
  <!-- End Card -->

  <!-- MODAL POPUP SUBMIT ADD -->
  <div class="modal fade" id="ModalPopupAddressReturn" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
        <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
        <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
        <p class="text-center" *ngIf="item != null">{{ item.returnProduct.returnProductShippingAddress }}</p>
        <p class="text-center" style="cursor: pointer;" (click)="copySekkerAddress()">(คัดลอกที่อยู่ร้านค้า)</p>
        <div class="mt-4">
          <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
            <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
              style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
              data-dismiss="modal">ตกลง</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MODAL POPUP SUBMIT ADD -->
</div>
<!-- End Container -->