<div class="container">
  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <p class="text-white text-center mb-0">รายละเอียด</p>
    </div>

    <div class="card-body">
      <!-- Order Item 1 -->
      <div class="card-list card-padding">
        <div class="row mt-2">
          <div class="col-auto col-product">
            <img class="img-fluid align-self-center img-product" style="border-radius: 10px;"
              src="./assets/img/bag.png">
          </div>
          <div class="col pl-0">
            <div class="row">
              <div class="col align-self-center">
                <h5 class="mb-0 font-topic">คำสั่งซื้อ #002135111</h5>
              </div>
              <div class="col-auto align-self-center text-right">
                <p class="mb-0 font-des">17/03/2020</p>
              </div>
            </div>
            <h5 class="mb-0 font-topic">Adidas NMD</h5>
            <p class="mb-0 font-des">Adidas NMD R1 เป็นรองเท้าสำหรับใส่วิ่งมากพอๆ กับที่มันเป็นรอง...</p>
            <p class="mb-0 text-left font-sm-7">ที่อยู่ : (บ้าน) 167 ซอยสุขุมวิท 107 (แบรริ่ง 16) เขตบางนา...</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col col-md-6 col-xl-6 align-self-center">
            <div class="row">
              <div class="col-auto">
                <p class="mb-0 font-sm-7">ขนส่ง : Kerry Express</p>
              </div>
              <div class="col-auto col-sm-pl">
                <p class="mb-0 font-sm-7" style="color: #FE5721;">฿100</p>
              </div>
            </div>
          </div>
          <div class="col-auto col-md-6 col-xl-6 text-right align-self-center" style="color: #FE5721;">
            <a class="font-sm-1">ราคาสินค้า </a>
            <a class="font-sm-1">฿15,000</a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-right align-self-center" style="color: #FE5721;">
            <a class="font-sm-1">ราคารวม </a>
            <a class="font-sm-1">฿15,100</a>
          </div>
        </div>
      </div>
      <!-- End Order Item 1 -->

      <!-- Transport Description -->
      <div class="card-list card-padding mt-3">
        
        <!-- Description -->
        <div class="" style="background-color: #373E48; border-radius: 5px; padding: 15px;">
          <p class="text-white mb-0">สถานะการคืนสินค้า</p>
          <!-- Start -->
          <div class="row">
            <div class="col-auto pr-0 align-self-center">
              <div class="dot-start"></div>
            </div>
            <div class="col">
              <h5 class="mb-0 text-white font-sm-1">แจ้งการคืนสินค้า</h5>
              <p class="mb-0 font-sm-7" style="color: #A2A2A2;">17/03/2020 10:17</p>
            </div>
          </div>
          <!-- Status -->
          <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
            <div class="col-auto pr-0 align-self-center">
              <div class="dot-start"></div>
              <div class="line-start"></div>
              <div class="line-end"></div>
            </div>
            <div class="col">
              <p class="mb-0 text-white font-sm-1">อนุมัติการคืนสินค้า</p>
              <a class="mb-0 mr-2 text-white font-sm-1">ใบนำส่งหน้ากล่องพัสดุ</a>
              <button type="button" class="btn btn-circle">
                <i class="fa fa-file" aria-hidden="true"></i>
              </button>
              <p class="mb-0 font-sm-7" style="color: #A2A2A2;">18/03/2020 17:44</p>
            </div>
          </div>
          <!-- Status -->
          <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
            <div class="col-auto pr-0 align-self-center">
              <div class="dot-start"></div>
              <div class="line-start"></div>
              <div class="line-end"></div>
            </div>
            <div class="col">
              <p class="mb-0 text-white font-sm-1">ส่งสินค้ากลับคืนร้านค้า</p>
              <p class="mb-0 font-sm-7" style="color: #A2A2A2;">18/03/2020 17:44</p>
            </div>
          </div>
          <!-- Status -->
          <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
            <div class="col-auto pr-0 align-self-center">
              <div class="dot-start"></div>
              <div class="line-start"></div>
              <div class="line-end"></div>
            </div>
            <div class="col">
              <p class="mb-0 text-white font-sm-1">สินค้าถึงร้านค้าเรียบร้อย</p>
              <p class="mb-0 font-sm-7" style="color: #A2A2A2;">20/03/2020 12:13</p>
            </div>
          </div>
          <!-- Status -->
          <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
            <div class="col-auto pr-0 align-self-center">
              <div class="dot-start"></div>
              <div class="line-start"></div>
              <div class="line-end"></div>
            </div>
            <div class="col">
              <p class="mb-0 text-white font-sm-1">อนุมัติการคืนเงิน</p>
              <p class="mb-0 font-sm-7" style="color: #A2A2A2;">20/03/2020 14:56</p>
            </div>
          </div>
          <!-- End -->
          <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
            <div class="col-auto pr-0 align-self-center">
              <div class="dot-now-opa"></div>
              <div class="dot-now"></div>
              <div class="line-start"></div>
            </div>
            <div class="col">
              <p class="mb-0 text-white font-sm-1">การคืนเงินสำเร็จ ฿15,100 เข้าบัญชี xxx-xxx-x-234</p>
              <p class="mb-0 font-sm-7" style="color: #A2A2A2;">20/03/2020 15:26</p>
            </div>
          </div>
        </div>
        <!-- End Description -->
        <div class="mt-2">
          <p class="mb-0">• เมื่ออนุมัติการคืนสินค้า จะต้องส่งคืนสินค้ากลับเพื่อตรวจสอบและคืนเงิน</p>
          <p class="mb-0">• การตรวจสอบและดำเนินการอาจใช้เวลา 10-14 วันทำการ</p>
        </div>
      </div>
      <!-- End Transport Description -->
    </div>
    <!-- End Card Body -->
  </div>
  <!-- End Card -->
</div>
<!-- End Container -->