<div class="container">
  <div class="card card-set">
    <div class="card-tab-radius">
      <!-- <p class="text-white text-center mb-0">input</p> -->
      <!-- Search-Input -->
      <form class="d-flex">
        <input id="search-input" class="form-control search-input" style="box-shadow: none;" type="text"
          placeholder="ค้นหา...">
        <div class="input-group-addon search-symbol">
          <span class="fa fa-search search-symbol2"></span>
        </div>
      </form>
    

    </div>
  
    <div class="card-body">
    <!-- MSG Row 1 -->
    <div class="row mt-set ml-0 mr-0 chat-list">
      <div class="col">
        <div class="row">
          <div class="col-auto sm-pr">
            <img class="img-fluid rounded-circle img-store" src="./assets/img/store-band-name.png">
          </div>
          <div class="col-auto pl-0 align-self-center">
            <h5 class="mb-0 font-store">STORE NAME</h5>
            <p class="mb-0 font-msg">ข้อความล่าสุด · 15 มี.ค. 12:31</p>
          </div>
        </div>
      </div>
      <div class="col-auto align-self-center">
        <span class="badge badge-pill text-white" style="padding: 1px 7px; background-color: #E54040;">
          9
        </span>
      </div>
    </div>
    <!-- End MSG Row 1 -->

    <!-- MSG Row 2 -->
    <div class="row mt-set ml-0 mr-0 chat-list">
      <div class="col">
        <div class="row">
          <div class="col-auto sm-pr">
            <img class="img-fluid rounded-circle img-store" src="./assets/img/store-band-name.png">
          </div>
          <div class="col-auto pl-0 align-self-center">
            <h5 class="mb-0 font-store">STORE NAME</h5>
            <p class="mb-0 font-msg">ข้อความล่าสุด · 15 มี.ค. 12:31</p>
          </div>
        </div>
      </div>
      <div class="col-auto align-self-center">
        <span class="badge badge-pill text-white" style="padding: 1px 7px; background-color: #E54040;">
          9
        </span>
      </div>
    </div>
    <!-- End MSG Row 2 -->

    <!-- MSG Row 3 -->
    <div class="row mt-set ml-0 mr-0 chat-list">
      <div class="col">
        <div class="row">
          <div class="col-auto sm-pr">
            <img class="img-fluid rounded-circle img-store" src="./assets/img/store-band-name.png">
          </div>
          <div class="col-auto pl-0 align-self-center">
            <h5 class="mb-0 font-store">STORE NAME</h5>
            <p class="mb-0 font-msg">ขอบคุณครับ · 15 มี.ค. 12:31</p>
          </div>
        </div>
      </div>
      <div class="col-auto align-self-center">
        <!-- <span class="badge badge-pill text-white" style="padding: 1px 7px; background-color: #E54040;">
          9
        </span> -->
      </div>
    </div>
    <!-- End MSG Row 3 -->

    <!-- MSG Row 4 -->
    <div class="row mt-set ml-0 mr-0 chat-list">
      <div class="col">
        <div class="row">
          <div class="col-auto sm-pr">
            <img class="img-fluid rounded-circle img-store" src="./assets/img/store-band-name.png">
          </div>
          <div class="col-auto pl-0 align-self-center">
            <h5 class="mb-0 font-store">STORE NAME</h5>
            <p class="mb-0 font-msg">ติดต่อขนส่งได้เลย · 15 มี.ค. 12:31</p>
          </div>
        </div>
      </div>
      <div class="col-auto align-self-center">
        <!-- <span class="badge badge-pill text-white" style="padding: 1px 7px; background-color: #E54040;">
          9
        </span> -->
      </div>
    </div>
    <!-- End MSG Row 4 -->

  
  </div>
  <!-- Card Body -->
  </div>


  </div>
  <!-- End Container -->