<div class="container">
  <div class="card card-set">
    <div class="card-tab-radius">
      <form class="d-flex">
        <input (keyup)='searchChat($event)' class="form-control search-input" style="box-shadow: none;" type="text"
          placeholder="ค้นหาด้วยชื่อร้านค้า">
        <div class="input-group-addon search-symbol">
          <span class="fa fa-search search-symbol2"></span>
        </div>
      </form>
    </div>

    <div class="card-body">
      <!-- CHAT LIST -->
      <div *ngIf="showChatList">
        <!-- NO CHAT LIST -->
        <div *ngIf="chatListNonRead.length == 0 && chatListReaded.length == 0" class="text-center" style="padding-top: 48px; padding-bottom: 48px;">
          <p class="mb-0" style="font-size: .8rem;">เริ่มต้นสนทนาง่าย ๆ เพียงค้นหาร้านค้าและกดส่งข้อความ</p>
        </div>
        <!-- MES NON READ LIST -->
        <div (click)="gotoChatRoom(chatNonRead.key, chatNonRead.uid, chatNonRead.displayName)" *ngFor="let chatNonRead of chatListNonRead.sort(sortFunc)" class="row mt-set ml-0 mr-0 chat-list" style="cursor: pointer;">
          <div class="col">
            <div class="row">
              <div class="col-auto sm-pr">
                <img class="img-fluid rounded-circle img-store" src="{{ chatNonRead.value.chatTo.imgUrl }}">
              </div>
              <div class="col-auto pl-0 align-self-center">
                <h5 class="mb-0 font-store">{{ chatNonRead.value.chatTo.displayName }}</h5>
                <p class="mb-0 font-msg">{{ chatNonRead.value.lastMessage.message }} · {{
                  chatNonRead.value.updateAt.seconds*1000 | date: 'd/M/yyyy' }} | {{ chatNonRead.value.updateAt.seconds*1000
                  | date: "HH:mm" }}</p>
              </div>
            </div>
          </div>
          <div class="col-auto align-self-center">
            <span class="dot-notiChat"></span>
          </div>
        </div>
        <!-- MES NON READ LIST -->
        <!-- MES READED LIST -->
        <div (click)="gotoChatRoom(chatReaded.key, chatReaded.uid, chatReaded.displayName)" *ngFor="let chatReaded of chatListReaded.sort(sortFunc)" class="row mt-set ml-0 mr-0 chat-list" style="cursor: pointer;">
          <div class="col">
            <div class="row">
              <div class="col-auto sm-pr">
                <img class="img-fluid rounded-circle img-store" src="{{ chatReaded.value.chatTo.imgUrl }}">
              </div>
              <div class="col-auto pl-0 align-self-center">
                <h5 class="mb-0 font-store">{{ chatReaded.value.chatTo.displayName }}</h5>
                <p class="mb-0 font-msg readed-msg-color">{{ chatReaded.value.lastMessage.message }} · {{
                  chatReaded.value.updateAt.seconds*1000 | date: 'd/M/yyyy' }} | {{ chatReaded.value.updateAt.seconds*1000 |
                  date: "HH:mm" }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- MES READED LIST -->
      </div>

      <!-- SEARCH -->
      <!-- NO MES SEARCH LIST -->
      <div *ngIf="showNoChatList" class="text-center" style="padding-top: 48px; padding-bottom: 48px;">
        <p class="mb-0" style="font-size: .8rem;">ไม่พบข้อความ</p>
        <p class="mb-0" style="font-size: .8rem;">เริ่มต้นสนทนาง่าย ๆ เพียงค้นหาร้านค้าและกดส่งข้อความ</p>
      </div>
      <!-- NO MES SEARCH LIST -->
      <!-- MES SEARCH NON READ LIST -->
      <div (click)="gotoChatRoom(chatNonRead.key, chatNonRead.uid, chatNonRead.displayName)" *ngFor="let chatNonRead of chatSearchNonRead.sort(sortFunc)" class="row mt-set ml-0 mr-0 chat-list" style="cursor: pointer;">
        <div class="col">
          <div class="row">
            <div class="col-auto sm-pr">
              <img class="img-fluid rounded-circle img-store" src="{{ chatNonRead.value.chatTo.imgUrl }}">
            </div>
            <div class="col-auto pl-0 align-self-center">
              <h5 class="mb-0 font-store">{{ chatNonRead.value.chatTo.displayName }}</h5>
              <p class="mb-0 font-msg">{{ chatNonRead.value.lastMessage.message }} · {{
                chatNonRead.value.updateAt.seconds*1000 | date: 'd/M/yyyy' }} | {{ chatNonRead.value.updateAt.seconds*1000 |
                date: "HH:mm" }}</p>
            </div>
          </div>
        </div>
        <div class="col-auto align-self-center">
          <span class="dot-notiChat"></span>
        </div>
      </div>
      <!-- MES SEARCH NON READ LIST -->
      <!-- MES SEARCH READED LIST -->
      <div (click)="gotoChatRoom(chatReaded.key, chatReaded.uid, chatReaded.displayName)" *ngFor="let chatReaded of chatSearchReaded.sort(sortFunc)" class="row mt-set ml-0 mr-0 chat-list" style="cursor: pointer;">
        <div class="col">
          <div class="row">
            <div class="col-auto sm-pr">
              <img class="img-fluid rounded-circle img-store" src="{{ chatReaded.value.chatTo.imgUrl }}">
            </div>
            <div class="col-auto pl-0 align-self-center">
              <h5 class="mb-0 font-store">{{ chatReaded.value.chatTo.displayName }}</h5>
              <p class="mb-0 font-msg readed-msg-color">{{ chatReaded.value.lastMessage.message }} · {{
                chatReaded.value.updateAt.seconds*1000 | date: 'd/M/yyyy' }} | {{ chatReaded.value.updateAt.seconds*1000 |
                date: "HH:mm" }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- MES SEARCH READED LIST -->
    </div>
    <!-- Card Body -->
  </div>
</div>
<!-- End Container -->