<div class="body-color">
  <app-navbar></app-navbar>
  <!-- router -->
  <router-outlet></router-outlet>
  <!-- FOOTER -->
  <app-footer></app-footer>
  <!-- MODAL -->
  <app-modal-popup-instruction></app-modal-popup-instruction>
  <app-modal-privacy-policy></app-modal-privacy-policy>
  <app-modal-invite-friend></app-modal-invite-friend>
  <app-modal-language-settings></app-modal-language-settings>
  <app-modal-popup-ads></app-modal-popup-ads>
  <!-- FOOTER -->
  <!-- <app-footer></app-footer> -->
</div>