<div class="body-color">

  <app-navbar></app-navbar>
  
  <div class="container">
    <!-- <app-carousel></app-carousel> -->
    <!-- <app-test></app-test> -->
    <!-- <app-search></app-search> -->
    <!-- <app-auction-list></app-auction-list> -->
  </div>
  <!-- <app-test></app-test> -->
  <app-product-description></app-product-description>
  <!-- <app-auction-list></app-auction-list> -->
  <!-- <app-like-list></app-like-list> -->
  <!-- <app-chat-list></app-chat-list> -->
  <!-- <app-chat-message></app-chat-message> -->
  <!-- <app-notification-list></app-notification-list> -->
  <!-- <app-promotion-list></app-promotion-list> -->
  <!-- <app-following-list></app-following-list> -->
  <!-- <app-shop-description></app-shop-description> -->
  <!-- <app-profile-settings></app-profile-settings> -->
  <!-- <app-profile-settings-list></app-profile-settings-list> -->
  <!-- <app-settings-name></app-settings-name> -->
  <!-- <app-settings-lastname></app-settings-lastname> -->
  <!-- <app-settings-phonenumber></app-settings-phonenumber> -->
  <!-- <app-settings-email></app-settings-email> -->
  <!-- <app-address-settings-list></app-address-settings-list> -->
  <!-- <app-card-settings-list></app-card-settings-list> -->
  <!-- <app-wallet-credit></app-wallet-credit> -->
  <!-- <app-buy-menu-list></app-buy-menu-list> -->
  <!-- <app-payment-items></app-payment-items> -->
  <!-- <app-payment-total></app-payment-total> -->
  <!-- <app-payment-confirm-list></app-payment-confirm-list> -->
  <!-- <app-payment-confirm-description></app-payment-confirm-description> -->
  <!-- <app-transport-prepare-list></app-transport-prepare-list> -->
  <!-- <app-transport-list></app-transport-list> -->
  <!-- <app-transport-description></app-transport-description> -->
  <!-- <app-transport-success-list></app-transport-success-list> -->
  <!-- <app-transport-success-description></app-transport-success-description> -->
  <!-- <app-order-confirm></app-order-confirm> -->
  <!-- <app-order-return></app-order-return> -->
  <!-- <app-order-cancel></app-order-cancel> -->
  <!-- <app-order-cancel-description></app-order-cancel-description> -->


  <app-footer></app-footer>

</div>