<!-- <div class="container-sm">
  <div class="card" style="background-color: cornflowerblue;">
    100% wide until medium breakpoint SM
  </div>
</div>
<div class="container-md">
  <div class="card" style="background-color:rgb(248, 149, 83);">
    100% wide until medium breakpoint MD
  </div>
</div>
<div class="container-lg">
  <div class="card" style="background-color: cornflowerblue;">
    100% wide until medium breakpoint LG
  </div>
</div>
<div class="container-xl">
  <div class="card" style="background-color:rgb(248, 149, 83);">
    100%  wide until medium breakpoint XL
  </div>
</div> -->

<div class="container-sm">
  <div class="card-collection-show">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-left-img">
        <img class="card-img-top img-border-radius" src="./assets/img/bag.png">
        <div class="row row-img-show">
          <div class="col pr-0">
            <img class="card-img-top img-border-radius" src="./assets/img/bag.png">
          </div>
          <div class="col pl-3 pr-0">
            <img class="card-img-top img-border-radius" src="./assets/img/bag.png">
          </div>
          <div class="col pl-3 pr-0">
            <img class="card-img-top img-border-radius" src="./assets/img/bag.png">
          </div>
          <div class="col pl-3 pr-0">
            <img class="card-img-top img-border-radius" src="./assets/img/bag.png">
          </div>
          <div class="col pl-3 pr-0">
            <img class="card-img-top img-border-radius" src="./assets/img/bag.png">
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-right-des">
        <div class="card" style="border: 3px solid #E7EDF4; border-radius: 10px;">

          <div class="row ml-0 mr-0">
            <div class="col" style="padding-top: 15px; padding-bottom: 15px; border-right: 0.5px solid #E7EDF4; border-bottom: 0.5px solid #E7EDF4;">

              <div style="display:flex; align-items:center;">
                <div class="row">
                  <div class="col-auto">
                    <img class="img-sm" src="./assets/img/Clock.png">
                  </div>
                  <div class="col pl-0 align-self-center">
                    <p class="mb-0 font-weight-bold">฿7,500</p>
                    <p class="mb-0">canm****</p>
                  </div>
                </div>
              </div>


              <!-- TEST -->
              <!-- You can now use it in app.component.html -->
                <!-- <circle-progress
                  [percent]="85"
                  [radius]="100"
                  [outerStrokeWidth]="6"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#FE5721'"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="300"
                  [title]="20"
                ></circle-progress> -->
              <!-- TEST -->

            </div>
            
            <div class="col" style="padding-top: 15px; border-bottom: 0.5px solid #E7EDF4;">
            <div class="mt-set-price d-flex justify-content-center align-items-center">
              <a href="#">
                <i class="fa fa-minus-circle fa-2x" style="color: #F35F30;" aria-hidden="true"></i>
              </a>
              <p class="mb-0 ml-3 mr-3 font-weight-bold" style="display: inline;">฿7,500</p>
              <a href="#">
                <i class="fa fa-plus-circle fa-2x" style="color: #F35F30;" aria-hidden="true"></i>
              </a>
            </div>
            <div style="position: absolute; bottom: 0; right: 0;">
              <p class="mr-1 mb-1 p-text-des">เครดิตคงเหลือ 10,000</p>
            </div>
            </div>
          </div>
          <div class="row ml-0 mr-0">
            <div class="col" style="padding-top: 15px; padding-bottom: 15px; border-right: 0.5px solid #E7EDF4;">
              <div style="position: absolute; top: 0; right: 0;">
                <a href="#" class="text-dark mr-1 mt-1 p-text-des" style="text-decoration: none; cursor: pointer;">
                  เพิ่มสินค้าลงรถเข็น<i class="fa fa-question-circle ml-1" aria-hidden="true"></i>
                </a>
              </div>

              <div class="mt-4 mb-4" style="display:flex; align-items:center;">
                <div class="row">
                  <div class="col-auto">
                    <img class="img-sm" src="./assets/img/auto-win-text-icon.png">
                  </div>
                  <div class="col pl-0 align-self-center">
                    <p class="mb-0 font-weight-bold">฿15,000</p>
                    <p class="mb-0 p-text-des">ซื้อในราคาเต็ม</p>
                  </div>
                </div>
              </div>

              <div class="ml-1 mb-1" style="position: absolute; bottom: 0; left: 0;">
                <a class="text-dark p-text-des" style="text-decoration: none; cursor: pointer;" data-toggle="modal" data-target="#modalAutoWin">
                  <i class="fa fa-question-circle mr-1" aria-hidden="true"></i>รายละเอียด
                </a>
              </div>
            </div>

            <div class="col" style="padding-top: 15px; padding-bottom: 15px;">
              <div class="mr-2 mt-1" style="position: absolute; top: 0; right: 0;">
                <div class="checkbox checkbox-circle">
                  <input id="checkbox7" class="styled" type="checkbox">
                  <label for="checkbox7"></label>
                </div>
              </div>

              <div class="mt-4 mb-4" style="display:flex; align-items:center;">
                <div class="row">
                  <div class="col-auto">
                    <img class="img-fluid img-sm" src="./assets/img/auto-bid-text-icon.png">
                  </div>
                  <div class="col pl-0 pr-0 align-self-center">
                    <!-- <p class="mb-0 font-weight-bold p-text-set-price">กำหนดราคา</p> -->
                    <a class="text-dark mb-0 font-weight-bold p-text-set-price" style="text-decoration: none; cursor: pointer;" data-toggle="modal" data-target="#modalAutoBidSetPrice">
                        กำหนดราคา
                    </a>
                  </div>
                </div>
              </div>

              <div class="ml-1 mb-1" style="position: absolute; bottom: 0; left: 0;">
                <a class="text-dark p-text-des" style="text-decoration: none; cursor: pointer;" data-toggle="modal" data-target="#modalAutoBid">
                  <i class="fa fa-question-circle mr-1" aria-hidden="true"></i>รายละเอียด
                </a>
              </div>

              <div class="mr-1 mb-1 p-text-des" style="position: absolute; bottom: 0; right: 0;">
                <img class="card-img-top img-border-radius img-coins-color" src="./assets/img/coins_color_2-1.png">
                  x 127
              </div>
              
            </div>
          </div>
        </div>

        <button type="button" class="btn button-border-radius mt-3 text-white">ร่วมประมูล</button>

        <div class="card mt-3 p-history" style="border: 3px solid #E7EDF4; border-radius: 10px;">
          <div class="row">
            <div class="col-8">
              <h5>ประวัติการประมูล</h5>
            </div>
            <div class="col-4 text-right">
              <div class="text-dark mt-2" style="line-height: 1;">
                <a style="text-decoration: none; cursor: pointer;" data-toggle="modal" data-target="#modalHistory">เพิ่มเติม</a>
              </div>
            </div>
          </div>
          <!-- THIS TABLE WHEN PHONE HIDE -->
          <table class="table table-borderless mt-2 mb-0">
          <thead>
            <tr>
              <th class="text-center p-text-history p-0" scope="col">ชื่อผู้ใช้</th>
              <th class="text-center p-text-history p-0" scope="col">ราคา</th>
              <th class="text-center p-text-history p-0" scope="col">วันที่</th>
              <th class="text-center p-text-history p-0" scope="col">เวลา</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="p-text-history pt-0 pb-0">• canm****</th>
              <td class="p-text-history pt-0 pb-0">฿7,000</td>
              <td class="p-text-history pt-0 pb-0">2020/04/04</td>
              <td class="p-text-history pt-0 pb-0">12:05:00</td>
            </tr>
            <tr>
              <th scope="row" class="p-text-history pt-0 pb-0">• canm****</th>
              <td class="p-text-history pt-0 pb-0">฿7,000</td>
              <td class="p-text-history pt-0 pb-0">2020/04/04</td>
              <td class="p-text-history pt-0 pb-0">12:05:00</td>
            </tr>
            <tr>
              <th scope="row" class="p-text-history pt-0 pb-0">• canm****</th>
              <td class="p-text-history pt-0 pb-0">฿7,000</td>
              <td class="p-text-history pt-0 pb-0">2020/04/04</td>
              <td class="p-text-history pt-0 pb-0">12:05:00</td>
            </tr>
            <tr>
              <th scope="row" class="p-text-history pt-0 pb-0">• canm****</th>
              <td class="p-text-history pt-0 pb-0">฿7,000</td>
              <td class="p-text-history pt-0 pb-0">2020/04/04</td>
              <td class="p-text-history pt-0 pb-0">12:05:00</td>
            </tr>
            <tr>
              <th scope="row" class="p-text-history pt-0 pb-0">• canm****</th>
              <td class="p-text-history pt-0 pb-0">฿7,000</td>
              <td class="p-text-history pt-0 pb-0">2020/04/04</td>
              <td class="p-text-history pt-0 pb-0">12:05:00</td>
            </tr>
          </tbody>
        </table>

        </div>

      </div>
    </div>
  </div>


  <div class="card-collection">
    <h5 class="mb-3">ตัวเลือกสินค้า</h5>
    <p class="mb-1">สี</p>
    <div class="row mr-0 ml-0">
      <button type="button" class="btn btn-color mr-2 mb-2">ดำ</button>
      <button type="button" class="btn btn-outline-color mr-2 mb-2">เทาเข้ม</button>
      <button type="button" class="btn btn-outline-color mr-2 mb-2">เทาอ่อน</button>
      <button type="button" class="btn btn-outline-color mb-2">ลายทหาร</button>
    </div>
    <p class="mt-3 mb-1">ขนาด</p>
    <div class="row mr-0 ml-0">
      <button type="button" class="btn btn-color mr-2 mb-2">9 US</button>
      <button type="button" class="btn btn-outline-color mr-2 mb-2">10 US</button>
      <button type="button" class="btn btn-outline-color mr-2 mb-2">11 US</button>
      <button type="button" class="btn btn-outline-color mb-2">12 US</button>
    </div>
  </div>

  <div class="card-collection">
    <h5 class="mb-3">การจัดส่ง</h5>
    <div class="row mr-0 ml-0">
      <p class="mb-1">• ไปรษณีย์ไทย (EMS)</p>
      <p class="ml-3 mb-1" style="color: #FE5721;">฿100</p>
    </div>
    <div class="row mr-0 ml-0">
      <p class="mb-1">• ไปรษณีย์ไทย (EMS)</p>
      <p class="ml-3 mb-1" style="color: #FE5721;">฿100</p>
    </div>
    <div class="row mr-0 ml-0">
      <p class="mb-1">• ไปรษณีย์ไทย (EMS)</p>
      <p class="ml-3 mb-1" style="color: #FE5721;">฿100</p>
    </div>
    <div class="row mr-0 ml-0">
      <p class="mb-1">• ไปรษณีย์ไทย (EMS)</p>
      <p class="ml-3 mb-1" style="color: #FE5721;">฿100</p>
    </div>
  </div>

  <div class="card-collection">
    <h5 class="mb-3">เงื่อนไข</h5>
    <p class="mb-1">การรับประกันสินค้า 7 วัน</p>
    <p class="mb-1">• หากเกิดปัญหากับสินค้าคุณสามารถติดต่อและแจ้งเหตุผลการคืนสินค้าผ่านช่องทางการแชท</p>
    <p class="mb-1">• เมื่อได้รับการยืนยันการคืนสินค้า</p>
    <p class="mb-1">• คุณต้องส่งสินค้าคืนไปยังผู้ขายเพื่อการตรวจสอบและพิจารณาการคืนเงิน</p>
  </div>

  <div class="card-collection">
    <h5 class="mb-3">รายละเอียด</h5>
    <p class="mb-1">เทียบไซส์<br />
      7.5UK/ 8US/ 41/ 260<br />
      8UK/ 8.5US/ 42/ 265<br />
      8.5UK/ 9US/ 42⅔/ 270<br />
      9UK/ 9.5US/ 43⅓/ 275<br />
      9.5UK/ 10US/ 44/ 280<br />
      10UK/ 10.5US/ 45⅓/285</p>
    <p class="mt-3 mb-1">
      Adidas NMD R1 เป็นรองเท้าสำหรับใส่วิ่งมากพอๆ กับที่มันเป็นรองเท้าคู่สวยที่ใส่ไปได้ในทุกที่
      และตอบรับไลฟ์สไตล์ของผู้สวมใส่ได้อย่างลงตัว
      เพราะรองเท้าคู่นี้เกิดขึ้นจากความกล้าในการผสมผสานหลากหลายองค์ประกอบเข้าด้วยกัน ทั้งในเรื่องของรูปทรง องศา
      และวัสดุที่ใช้
      เรื่อยไปจนถึงการเลือกสีสันที่ตัดกัน การออกแบบเกิดขึ้นอย่างไม่หวั่นเกรงสิ่งใด
      ด้วยการประกอบส่วนบนของรองเท้าให้ดูโมเดิร์น
      ในโครงร่างที่ดูเหนือจริง
      พร้อมทั้งใส่รายละเอียดจากแนวทางการออกแบบของอาดิดาสที่มีมาในอดีตเข้าไปจนได้รองเท้าที่มาพร้อมคอนเซ็ปต์
      การออกแบบที่เปี่ยมด้วยเอกลักษณ์ พื้นรองเท้าชั้นกลาง (midsole) ถูกยกระดับขึ้นด้วยเทคโนโลยี BOOST ซึ่งบีบอัดเม็ด EVA
      จำนวนมากอยู่ภายในจนทำให้พื้นรองเท้ามีความคงทน ต้านทานแรง และตอบสนองได้อย่างฉับไว ในขณะที่ส่วนบนของรองเท้า
      อาดิดาสเลือกใช้เทคโนโลยี Primeknit ที่ช่วยยกระดับความยืดหยุ่น ความมั่นคง และความแข็งแกร่งของรองเท้าขึ้นอีกขั้น</p>
  </div>

  <div class="card-collection">


      <div class="row justify-content-between">
        <div class="col-8 col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 pr-0 align-self-center">
          <div class="row">
            <div class="col-auto">
              <img class="img-fluid rounded-circle img-store" src="./assets/img/store-band-name.png">
            </div>
            <div class="col-auto pl-0 align-self-center">
              <h5 class="mb-0">STORE NAME</h5>
              <i class="fa fa-users mr-2"></i>1.7k
              <i class="fa fa-star ml-3 mr-2" style="color: #FFA101;"></i>4.0
            </div>
          </div>
        </div>
  
        <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 pl-0">
          <button type="button" class="btn button-store-color text-white" style="width: 100%;">
            <i class="fa fa-users mr-2"></i>ติดตาม
          </button><br />
          <button type="button" class="btn button-store mt-2 text-dark" style="width: 100%;">
            <i class="fa fa-users mr-2"></i>ข้อความ
          </button>
        </div>
      </div>

  </div>


  <div class="card-collection-other mb-5">
    <div class="row mt-3">
      <div class="col">
        <h5>สินค้าอื่นๆ</h5>
      </div>
      <div class="col text-right">
        <a style="text-decoration: none; cursor: pointer;">
          <div class="text-dark mt-2" style="line-height: 1;">เพิ่มเติม</div>
        </a>
      </div>
    </div> 

    <div class="row">
      <div class="col-6 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2 p-1-1">
        <!-- <div style="background-color: blueviolet;"> -->
          <!-- <div class="col-2 p-1" style="min-width: 273px;"> -->
            <div class="card card-border-3">
              <div class="card" style="border: none;">
                <img class="card-img" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                  <div class="row">
                    <div class="col-6 pr-1">
                      <div class="img-card-auto-win">
                        <img class="img-fluid img-auto-win-other" style="margin: -25px 0px -20px -17px;" src="./assets/img/auto-win-text-icon.png">
                        <p class="p-text-other mb-0 pl-1" style="display:inline">฿15,000</p>
                      </div>
                    </div>
                    <div class="col-6 pl-1">
                      <div class="img-card-time text-right">
                        <p class="p-text-other mb-0 pr-1" style="display:inline">฿10,500</p>
                        <img class="img-fluid img-time-other" style="display: inline; margin: -25px -17px -20px 0px;" src="./assets/img/Clock.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="card-body card-body-padding">
                <h5 class="card-title">Herschel Supply Retreat Backpack...</h5>
                <p class="card-text">กระเป๋ารุ่นยอดนิยมของ...</p>
                <ul class="rating-stars">
                  <li>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star" style="color: #FFA101;"></i>
                    <i class="fa fa-star-o" style="color: #FFA101;"></i>
                    <i class="fa fa-star-o" style="color: #FFA101;"></i> 
                  </li>
                </ul>
                <var class="float-right">
                  <i class="fa fa-heart" style="color: #FE5721"></i>
                </var>
              </div>

            </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
      <div class="col-6 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2 p-1-2">
        <div style="background-color: cadetblue;">
          2222
        </div>
      </div>
      <div class="col-6 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2 p-2-1">
        <div style="background-color: chocolate;">
          3333
        </div>
      </div>
      <div class="col-6 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2 p-2-2">
        <div style="background-color: darkgreen;">
          4444
        </div>
      </div>
    </div>


  </div>
  




<!-- Button Modal -->
  <div class="container">
    <div class="row">
      <div class="col">
          <div class=" m-4 p-2 bg-faded">
             <p class="p-3" style="background-color:#fff">
                 <button class="btn btn-primary" data-toggle="modal" data-target="#ModalAddCenter">Launch Demo</button>
              </p>
              Just add class <code>.modal-bottom</code> to  <span class="text-success"><div class="modal-dialog <code>modal-bottom</code>">...</div></span>
          </div>
      </div>
    </div>
  </div>
<!-- Button Modal -->

  
<!-- Modal History -->
<div class="modal fade" id="modalHistory" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-bottom">
    <div class="modal-content p-3" style="border-radius: 20px 20px 0px 0px;">

      <div class="row">
        <!-- <div class="col-auto">
          <a href="#" class="" style="text-decoration: none; cursor: pointer; color: #FE5721;">
            ยกเลิก
          </a>
        </div> -->
        <div class="col text-center">
          <p>ประวัติการประมูล</p>
        </div>
        <div class="col-auto">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      </div>

      <div class="modal-body p-0 align-self-center modal-table-width">
        <table class="table table-borderless mt-2 mb-0">
          <thead>
            <tr>
              <th class="text-center p-text-history p-0" scope="col">ชื่อผู้ใช้</th>
              <th class="text-center p-text-history p-0" scope="col">ราคา</th>
              <th class="text-center p-text-history p-0" scope="col">วันที่</th>
              <th class="text-center p-text-history p-0" scope="col">เวลา</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="text-center p-text-history p-0">• canm****</th>
              <td class="text-center p-text-history p-0">฿7,000</td>
              <td class="text-center p-text-history p-0">2020/04/04</td>
              <td class="text-center p-text-history p-0">12:05:00</td>
            </tr>
            <tr>
              <th scope="row" class="text-center p-text-history p-0">• canm****</th>
              <td class="text-center p-text-history p-0">฿7,000</td>
              <td class="text-center p-text-history p-0">2020/04/04</td>
              <td class="text-center p-text-history p-0">12:05:00</td>
            </tr>
            <tr>
              <th scope="row" class="text-center p-text-history p-0">• canm****</th>
              <td class="text-center p-text-history p-0">฿7,000</td>
              <td class="text-center p-text-history p-0">2020/04/04</td>
              <td class="text-center p-text-history p-0">12:05:00</td>
            </tr>
            <tr>
              <th scope="row" class="text-center p-text-history p-0">• canm****</th>
              <td class="text-center p-text-history p-0">฿7,000</td>
              <td class="text-center p-text-history p-0">2020/04/04</td>
              <td class="text-center p-text-history p-0">12:05:00</td>
            </tr>
            <tr>
              <th scope="row" class="text-center p-text-history p-0">• canm****</th>
              <td class="text-center p-text-history p-0">฿7,000</td>
              <td class="text-center p-text-history p-0">2020/04/04</td>
              <td class="text-center p-text-history p-0">12:05:00</td>
            </tr>
          </tbody>
        </table>
          
      </div>
    </div>
  </div>
</div>
<!-- Modal History -->


<!-- Modal Auto Win -->
<div class="modal fade" id="modalAutoWin" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-bottom">
      <div class="modal-content p-3" style="border-radius: 20px 20px 0px 0px;">
  
        <div class="row">
          <div class="col text-center">
            <p>Auto Win</p>
          </div>
          <div class="col-auto">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
        </div>
  
        <div class="modal-body p-0">
          <p>ตัวช่วยการประมูล</p>
          <p class="pl-1 mb-1">• เมื่อคุณเพิ่มสินค้าชิ้นนี้ลงในรถเข็นด้วยวิธีการ Auto Win สินค้านี้จะยังไม่จบการประมูล</p>
          <p class="pl-1 mb-1">• เมื่อคุณชำระเงินสำหรับสินค้านี้เรียบร้อย คุณจะเป็นผู้ชนะการประมูล การประมูลจะจบลงและสินค้าชิ้นนี้จะเป็นของคุณ</p>
          <p class="pl-1 mb-1">• ระบบจะทำการประมูลสู้อัตโนมัติหากคุณไม่ใช่ผู้ชนะการประมูลสินค้าชิ้นนี้</p>
          <p class="pl-1 mb-1">• หากคุณไม่ทำการชำระเงินสำหรับสินค้านี้ที่เพิ่มลงในรถเข็นด้วยวิธีการ Auto Win และมีผู้ชนะการประมูลการประมูลจบลงก่อนที่คุณจะทำการชำระเงินสินค้าชิ้นนี้จะตกเป็นของผู้ชนะการประมูลทันที</p>
        </div>

      </div>
    </div>
  </div>
  <!-- Modal Auto Win -->


  <!-- Modal Auto Bid -->
  <div class="modal fade" id="modalAutoBid" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-bottom">
      <div class="modal-content p-3" style="border-radius: 20px 20px 0px 0px;">
  
        <div class="row">
          <div class="col text-center">
            <p>Auto Bid</p>
          </div>
          <div class="col-auto">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
        </div>
  
        <div class="modal-body p-0">
          <div class="row">
            <div class="col text-right">
              <div class="align-self-center">
                <img class="img-border-radius" style="width: 70px;" src="./assets/img/wallet-modal.png">
                <p>เติมเครดิต</p>
              </div>
            </div>
            <div class="col">
              <div>
                <img class="img-border-radius" style="width: 70px;" src="./assets/img/coins_color_modal.png">
                <p class="pl-watch-vdo">ดูวิดีโอ</p>
              </div>
            </div>
          </div>

          <p>ตัวช่วยการประมูล</p>
          <p class="pl-1 mb-1">• Auto Bid เป็นตัวช่วยคุณสำหรับใช้ในการประมูล</p>
          <p class="pl-1 mb-1">• คุณสามารถตั้งราคาสูงสุดสำหรับการประมูลสินค้าชิ้นนี้และจะถูกการันตีเครดิตตามราคาที่คุณตั้ง</p>
          <p class="pl-1 mb-1">• ระบบจะทำการประมูลสู้อัตโนมัติหากคุณไม่ใช่ผู้ชนะการประมูลสินค้าชิ้นนี้</p>
          <p class="pl-1 mb-1">• การตั้งราคาเพื่อเปิดใช้งาน Auto Bid จำนวน 1 ครั้ง จะถูกหักเหรียญจำนวน 1 เหรียญโดยคุณสามารถเก็บสะสมเหรียญจาก</p>
          <p class="pl-4 mb-1 font-weight-bold" style="color: #FE5721;">• การเติมเงินเพื่อรับเครดิตการประมูล</p>
          <p class="pl-4 mb-1 font-weight-bold" style="color: #FE5721;">• การดูวิดีโอโฆษณา</p>
          <p class="pl-1 mb-1">• คุณสามารถกดยกเลิก Auto Bid ได้ทุกเมื่อ</p>
        </div>

      </div>
    </div>
  </div>
  <!-- Modal Auto Bid -->

  <!-- Modal Auto Bid Set Price -->
  <div class="modal fade" id="modalAutoBidSetPrice" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-bottom">
      <div class="modal-content p-3" style="border-radius: 20px 20px 0px 0px;">
  
        <div class="row">
          <div class="col-auto">
            <a href="#" class="" style="text-decoration: none; cursor: pointer; color: #FE5721;">
              ตกลง
            </a>
          </div>
          <div class="col text-center">
            <p>Auto Bid</p>
          </div>
          <div class="col-auto">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
        </div>

        <p class="mt-3">ตั้งราคาสูงสุดสำหรับการประมูลสินค้าชิ้นนี้</p>

        <div class="modal-body p-0 align-self-center modal-input-width">
          <div class="input-style">
            <p class="mb-0" style="font-size: 17px;">เครดิต</p>
            <input class="form-control border-0 p-0" style="box-shadow: none; background-color: #F2F6FA;" id="auto-bid-set-price" placeholder="ราคา">
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal Auto Bid Set Price -->


  <!-- Modal -->
  <div class="modal fade" id="ModalAddCenter" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
            
        <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
        
        <h5 class="font-weight-bold text-center mt-5">ต้องการบันทึกข้อมูล</h5>
        <p class="text-center">คุณต้องการตั้งราคาสูงสุดสำหรับการประมูลสินค้าชิ้นนี้ที่ 10,000 บาท</p>

        <div class="mt-4">
          <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
            <button id="Confirm-Singup-btn" type="button" class="btn btn-primary" style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;" data-dismiss="modal">ยืนยัน</button>
          </div>
          <div class="mt-2">
            <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
              <p class="text-center">ยกเลิก</p>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>