.btn-color {
  color: #fff; 
  background-color: #FE5721;
  border-color: #FE5721;
}

.btn-outline-color {
  color: #585858;
  background-color: transparent;
  background-image: none;
  border-color: #FE5721;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Big Card */
.card-collection-show {
  margin-top: 1rem!important;
  padding-left: 4rem!important;
  padding-right: 4rem!important;
  padding-bottom: 4rem!important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 3px solid #E7EDF4; 
  border-radius: 15px;
}

.card-collection {
  margin-top: 1rem!important;
  padding: 4rem!important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 3px solid #E7EDF4; 
  border-radius: 15px;
}

.card-collection-other {
  margin-top: 1rem!important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.img-border-radius {
  border-radius: 5px;
}

.row-img-show {
  margin-top: 1rem!important;
  padding-right: 1rem!important;
}

.pl-3, .px-3 {
  padding-left: 1rem!important;
}

.col-left-img {
  margin-top: 4rem!important;
}

.col-right-des {
  margin-top: 4rem!important;
}

.img-store {
  max-width: 70px;
  max-height: 70px;
}

.store-dec {
  margin-top: 10px;
}

.button-store {
  border-radius: 1.5rem;
  border: 3px solid #E7EDF4; 
  background-color: #fff;
}

.button-store-color {
  border-radius: 1.5rem; 
  background-color: #FE5721;
}

.button-border-radius {
  width: 100%; 
  border-radius: 1.5rem; 
  background-color: #FE5721;
}

.img-card-auto-win {
  background-color: #fff;
  border: 3px solid #F0F0F0; 
  border-radius: 0px 15px 15px 0px; 
}

.img-card-time {
  background-color: #fff;
  border: 3px solid #F0F0F0; 
  border-radius: 15px 0px 0px 15px; 
}

.rating-stars {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1;
}

.p-1-1 {
  padding-right: 5px;
}

.p-1-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.p-2-1 {
  padding-left: 5px;
  padding-right: 5px;
} 

.p-2-2 {
  padding-left: 5px;
}

.img-auto-win-other {
  max-width: 40px;
}

.img-time-other {
  max-width: 40px;
}

.card-border-3 {
  border: 3px solid #E7EDF4; 
  border-radius: 15px;
}

.img-sm {
  width: 80px;
}

.p-text-other {
  font-size: 1rem;
}

.p-text-des {
  font-size: 0.8rem;
}

.mt-set-price {
  margin-top: 16px;
}

.p-text-set-price {
  font-size: 1rem;
}

.p-history {
  padding: 24px;
}

.p-text-history {
  font-size: 1rem;
}

.img-coins-color {
  width: 30px;
}

.modal-table-width {
  width: 50%;
}

.pl-watch-vdo {
  padding-left: 13px;
}

.modal-input-width {
  width: 50%;
}

.input-style {
  padding: 16px 16px 16px 24px; 
  border-radius: 10px; 
  background-color: #F2F6FA;
}

/* MODAL */
.modal.fade .modal-bottom {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal .modal-bottom {
  margin:0;
  margin-top:auto;
  padding: 0;
  position:absolute;
  bottom:0;
  top:auto;
  left:auto;
  right:0;
  height:calc(55% + 160px); /* default height:45% its just for demo*/
}
.modal .modal-bottom>.modal-content{
  height:100%;
  border-color: #fff;
  border-radius:0;
  margin:0;
}
.modal-bottom .modal-body
{
  height: calc(100% - 140px);overflow-y:auto;
}
@media (min-width: 1px){
  .modal-bottom {max-width: 100%;width:100%;}
}
/*Custume scroll bar*/
.modal-bottom ::-webkit-scrollbar {width:8px}
.modal-bottom ::-webkit-scrollbar-button {width:8px;height:5px}
.modal-bottom ::-webkit-scrollbar-thumb:hover {background: #ccc}
.modal-bottom ::-webkit-scrollbar-thumb {	background:#f1f1f1;border: thin solid white;border-radius: 10px}
.modal-bottom ::-webkit-scrollbar-track {background: #fff;border:thin solid white}   
/* MODAL END */

/* CHECKBOX FOR AUTO BID */
.checkbox label {
  display: inline;
  position: relative;
}

.checkbox label::before {
  content: "";
  display: inline; 
  position: absolute;
  width: 23px;
  height: 23px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 4px;
  padding-top: 3px;
  font-size: 14px;
  color: #363D47;
  line-height: 1.4;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: 0;
}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled,
.checkbox input[type="radio"]:disabled {
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}


.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.product-top {
  position: relative;
}

.product-top-img {
  width: 100%; 
  border-radius: 5px;
}

.icon-start {
  position: absolute; 
  top: 16px; 
  right: 16px;
}

.col-icon-p {
  padding-left: 8px; 
  padding-right: 0px;
}

.icon-middle-left {
  position: absolute; 
  top: 47%; 
  left: 16px;
}

.icon-middle-right {
  position: absolute; 
  top: 47%; 
  right: 16px;
}

.icon-end {
  position: absolute; 
  bottom: 16px; 
  left: 0; 
  right: 0; 
  width: 100%;
}

.dot-active {
  padding-left: 2px; 
  padding-right: 2px; 
  font-size: .07rem;
  color: #000000; 
}

.dot {
  padding-left: 2px; 
  padding-right: 2px;  
  font-size: .07rem;
  color: #9FA0A1;
}













/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .col-left-img {
    margin-top: 3.5rem!important;
  }
  
  .col-right-des {
    margin-top: 1rem!important;
  }

}
/* Medium devices (tablets, 768px and up) */

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 480px) {
  .container-sm {
    width: 100%;
    padding-right: 0; 
    padding-left: 0; 
    margin-right: auto;
    margin-left: auto;
  }
  
  .card-collection-show {
    margin-top: 0.7rem!important;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    padding-bottom: 1rem!important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: none;
    border-radius: 0px;
  }

  .card-collection {
    margin-top: 0.7rem!important;
    padding: 1rem!important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: none;
    border-radius: 0px;
  }

  .card-collection-other {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    padding-bottom: 1rem!important;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .row-img-show {
    margin-top: .5rem!important;
    padding-right: 1rem!important;
  }

  .pl-3, .px-3 {
    padding-left: .5rem!important;
  }

  .col-left-img {
    margin-top: 1rem!important;
  }
  
  .col-right-des {
    margin-top: 1rem!important;
  }

  .img-store {
    max-width: 50px;
    max-height: 50px;
  }
  
  .store-dec {
    margin-top: -2px;
  }

  .p-1-1 {
    padding-left: 3px;
    padding-right: 3px;
  }
  
  .p-1-2 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .p-2-1 {
    padding-left: 3px;
    padding-right: 3px;
  } 

  .p-2-2 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .img-auto-win-other {
    max-width: 30px;
  }
  
  .img-time-other {
    max-width: 30px;
  }

  .p-text-other {
    font-size: 0.5rem;
  }

  .p-text-des {
    font-size: 0.5rem;
  }

  .p-text-set-price {
    font-size: 0.8rem;
  }

  .img-card-auto-win {
    background-color: #fff;
    border: 0.5px solid #F0F0F0; 
    border-radius: 0px 15px 15px 0px; 
  }

  .img-card-time {
    background-color: #fff;
    border: 0.5px solid #F0F0F0; 
    border-radius: 15px 0px 0px 15px; 
  }

  .card-border-3 {
    border: 1.5px solid #E7EDF4;
    border-radius: 15px;
  }

  .card-body-padding {
    padding: 10px;
  }

  .img-sm {
    width: 50px;
  }

  .mt-set-price {
    margin-top: 5px;
  }

  .p-history {
    padding: 8px;
  }

  .p-text-history {
    font-size: 0.8rem;
  }

  .img-coins-color {
    width: 20px;
  }

  .modal-table-width {
    width: 100%;
  }

  .modal-input-width {
    width: 100%;
  }

  .btn {
    padding: 4px;
  }

  .input-style {
    padding: 10px 10px 10px 15px; 
    border-radius: 10px; 
    background-color: #F2F6FA;
  }

  .icon-start {
    top: 8px; 
    right: 8px;
  }
  
  .col-icon-p {
    padding-left: 4px; 
    padding-right: 0px;
  }
  
  .icon-middle-left {
    left: 8px;
  }
  
  .icon-middle-right {
    right: 8px;
  }
  
  .icon-end {
    bottom: 8px;
  }


}
/* Small devices (landscape phones, 576px and up) */





