<!-- Modal invite friend -->
<div class="modal fade" id="modalLanguageSettings" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
style="display: none;" aria-hidden="true">
<div class="modal-dialog modal-bottom">
  <div class="modal-content p-3" style="border-radius: 20px 20px 0px 0px;">
    <div class="row row-mlr">
      <div class="col col-plr text-center">
        <p>ภาษา</p>
      </div>
      <div class="col-auto col-plr" data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
        <button type="button" class="close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>
    <div class="modal-body p-0">
      <div class="row row-mlr justify-content-md-center">
        <!-- TH -->
        <div class="col-6 col-md-4 col-xl-2 col-lang-th">
          <div class="text-white" style="padding: 15px; border-radius: 10px; background-color: #F95630;">
            <h1 class="text-center" style="font-size: 5rem; margin-top: 32px; margin-bottom: 32px;">ก</h1>
            <p class="mb-0">ภาษาไทย</p>
          </div>

        </div>
        <!-- EN -->
        <div class="col-6 col-md-4 col-xl-2 col-lang-en">
          <div style="padding: 15px; border: 2px solid #E7EDF4; border-radius: 10px;">
            <h1 class="text-center" style="font-size: 5rem; margin-top: 32px; margin-bottom: 32px;">A</h1>
            <p class="mb-0">English</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- End Modal invite friend -->