<div class="container">
  <!-- <button type="button" class="btn btn-sm btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
    <div class="handle"></div>
  </button> -->
  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <p class="text-white text-center mb-0">หน้าโปรไฟล์</p>
    </div>
  
    <div class="card-body">
      <!-- List 1 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col align-self-center">
            <p class="mb-0 font-store">canm****</p>
          </div>
          <div class="col-auto align-self-center text-right">
            <!-- <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button> -->
            <p class="mb-0 font-on-off" style="display: inline">เปิด-ปิดชื่อในการประมูล</p>
            <button type="button" class="btn btn-sm btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
              <div class="handle"></div>
            </button>
          </div>
        </div>
      </div>
      <!-- List 2 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col align-self-center">
            <p class="mb-0 font-store">ชื่อโปรไฟล์: canmononui</p>
          </div>
          <div class="col-auto align-self-center">
            <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- List 3 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col align-self-center">
            <p class="mb-0 font-store">ชื่อ: สุทัศน์</p>
          </div>
          <div class="col-auto align-self-center">
            <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- List 4 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col align-self-center">
            <p class="mb-0 font-store">นามสกุล: สุขจิต</p>
          </div>
          <div class="col-auto align-self-center">
            <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- List 5 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col align-self-center">
            <p class="mb-0 font-store">หมายเลขโทรศัพท์: ********15</p>
          </div>
          <div class="col-auto align-self-center">
            <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- List 6 -->
      <div class="card-list card-padding">
        <div class="row mt-set ml-0 mr-0 chat-list">
          <div class="col align-self-center">
            <p class="mb-0 font-store">E-mail: ca*****@hotmail.co.th</p>
          </div>
          <div class="col-auto align-self-center">
            <button type="button" class="btn btn-circle">
              <i class="fa fa-angle-right font-weight-bold"></i>
            </button>
          </div>
        </div>
      </div>
  
  </div>
  <!-- Card Body -->
  </div>


  </div>
  <!-- End Container -->