<div class="container">
  <div class="card card-radius">
    <div class="pt-3 pb-3 card-tab-radius">
      <p class="text-white text-center mb-0">สินค้าที่ถูกใจ</p>
    </div>
    <div *ngIf="showContent" class="card-body">
      <div *ngIf="showNoLikeText" class="text-white text-center" style="margin-top: 48px; margin-bottom: 48px;">
        <p class="mb-0" style="font-size: .8rem;">ไม่พบสินค้าที่กดถูกใจ</p>
        <p class="mb-0" style="font-size: .8rem;">เริ่มต้นใช้งานง่าย ๆ เพียงค้นหาสินค้าและกดถูกใจ</p>
      </div>
      <!-- Product List -->
      <div class="row m-row-card-product">
        <div *ngFor="let product of productLikeList" class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-col-card-product">
          <div class="card-border-3 bg-white">
            <div style="cursor: pointer;" (click)="gotoProductDes(product.key)" class="posi-card">
              <img src="{{ product.value.imgProduct[0].imgUrl }}" class="product-img-card">
              <!-- <div class="bg-left-auto">
                <a class="img-card-auto-win p-text-other">
                  <img class="img-fluid img-auto-win-other" src="./assets/img/auto-win-text-icon.png">
                  {{ product.priceData.priceAutoWin }}
                </a>
              </div> -->
              <!-- <div *ngIf="product.salesType != 'setSellingPrice'" class="bg-right-time">
                <a class="img-card-time p-text-other">
                  ฿10,000
                  <img class="img-fluid img-time-other" src="./assets/img/Clock.png">
                </a>
              </div> -->
            </div>
            <div class="card-body-padding">
              <div (click)="gotoProductDes(product.key)" style="cursor: pointer;">
                <h5 class="card-title productName">{{ product.value.name | slice:0:18 }}<a *ngIf="product.value.name.length > 18">...</a></h5>
              </div>
              <!-- <h5 class="card-title">{{ product.value.name | slice:0:18 }}...</h5> -->
              <ul class="rating-stars">
                <li>
                  <i class="fa star-color" [class.fa-star]="product.value.ratingStars >= 0.5"
                    [class.fa-star-o]="product.value.ratingStars < 0.5"></i>
                  <i class="fa star-color" [class.fa-star]="product.value.ratingStars >= 1.5"
                    [class.fa-star-o]="product.value.ratingStars < 1.5"></i>
                  <i class="fa star-color" [class.fa-star]="product.value.ratingStars >= 2.5"
                    [class.fa-star-o]="product.value.ratingStars < 2.5"></i>
                  <i class="fa star-color" [class.fa-star]="product.value.ratingStars >= 3.5"
                    [class.fa-star-o]="product.value.ratingStars < 3.5"></i>
                  <i class="fa star-color" [class.fa-star]="product.value.ratingStars >= 4.5"
                    [class.fa-star-o]="product.value.ratingStars < 4.5"></i>
                </li>
              </ul>
              <!-- <var class="float-right">
                <i class="fa fa-heart heart-color"></i>
              </var> -->
              <var (click)="likeThisProduct(product.key, product.value)" class="float-right heart" style="cursor: pointer;">
                <i class="fa fa-heart heart-color"></i>
              </var>
            </div>
          </div>
        </div>
      </div>
      <!-- End Product List -->
    </div>
    <!-- Card Body -->
  </div>

  <!-- Backward - Forward -->
  <!-- <div class="row mt-3 mb-3">
  <div class="col">
    <a style="text-decoration: none; cursor: pointer;">
      <i class="fa fa-angle-left font-weight-bold" aria-hidden="true"></i>
      ก่อนหน้า
    </a>
  </div>
  <div class="col text-right">
    <a style="text-decoration: none; cursor: pointer;">
      ถัดไป
      <i class="fa fa-angle-right font-weight-bold" aria-hidden="true"></i>
    </a>
  </div>
</div> -->
  <!-- Backward - Forward -->

  <!-- Backward - Forward -->
  <!-- <div class="row pt-3 pb-3 FB-ml-mr">
    <div class="col">
      <a style="text-decoration: none; cursor: pointer;">
        <i class="fa fa-angle-left font-weight-bold" aria-hidden="true"></i>
        ก่อนหน้า
      </a>
    </div>
    <div class="col text-right">
      <a style="text-decoration: none; cursor: pointer;">
        ถัดไป
        <i class="fa fa-angle-right font-weight-bold" aria-hidden="true"></i>
      </a>
    </div>
  </div> -->
  <!-- Backward - Forward -->

</div>
<!-- End Container -->