<div class="container">
  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <p class="text-white text-center mb-0">คืนสินค้า</p>
    </div>

    <div class="card-body">
      <!-- Order Item 1 -->
      <div class="card-list card-padding">
        <div class="row mt-2">
          <div class="col-auto col-product">
            <img class="img-fluid align-self-center img-product" style="border-radius: 10px;"
              src="./assets/img/bag.png">
          </div>
          <div class="col pl-0">
            <div class="row">
              <div class="col align-self-center">
                <h5 class="mb-0 font-topic">คำสั่งซื้อ #002135111</h5>
              </div>
              <div class="col-auto align-self-center text-right">
                <p class="mb-0 font-des">17/03/2020</p>
              </div>
            </div>
            <h5 class="mb-0 font-topic">Adidas NMD</h5>
            <p class="mb-0 font-des">Adidas NMD R1 เป็นรองเท้าสำหรับใส่วิ่งมากพอๆ กับที่มันเป็นรอง...</p>
            <p class="mb-0 text-left font-sm-7">ที่อยู่ : (บ้าน) 167 ซอยสุขุมวิท 107 (แบรริ่ง 16) เขตบางนา...</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col col-md-6 col-xl-6 align-self-center">
            <div class="row">
              <div class="col-auto">
                <p class="mb-0 font-sm-7">ขนส่ง : Kerry Express</p>
              </div>
              <div class="col-auto col-sm-pl">
                <p class="mb-0 font-sm-7" style="color: #FE5721;">฿100</p>
              </div>
            </div>
          </div>
          <div class="col-auto col-md-6 col-xl-6 text-right align-self-center" style="color: #FE5721;">
            <a class="font-sm-1">ราคาสินค้า </a>
            <a class="font-sm-1">฿15,000</a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-right align-self-center" style="color: #FE5721;">
            <a class="font-sm-1">ราคารวม </a>
            <a class="font-sm-1">฿15,100</a>
          </div>
        </div>
      </div>
      <!-- End Order Item 1 -->

      <!-- Transport Description -->
      <div class="card-list card-padding mt-3">
        
        <div class="input-style" style="cursor: pointer;" data-toggle="modal" data-target="#modalReason">
          <p class="mb-0 text-input">กรุณาเลือกความพึงพอใจ</p>
          <p class="mb-0 text-input" style="color: #B7B7B7;">เหตุผล</p>
        </div>

        <div class="input-style mt-3">
          <p class="mb-0 text-input">แนบรูปถ่ายสินค้าเพิ่มเติม (สูงสุด 5 ภาพ)</p>
          <div class="row" style="margin-left: -4px; margin-right: -4px;">
            <div class="col-auto mt-2" style="padding-left: 4px; padding-right: 4px;">
              <img class="img-fluid img-product" style="border-radius: 10px;" src="./assets/img/bag.png">
            </div>
            <div class="col-auto mt-2" style="padding-left: 4px; padding-right: 4px;">
              <img class="img-fluid img-product" style="border-radius: 10px;" src="./assets/img/bag.png">
            </div>
            <div class="col-auto mt-2" style="padding-left: 4px; padding-right: 4px;">
              <img class="img-fluid img-product" style="border-radius: 10px;" src="./assets/img/bag.png">
            </div>
            <div class="col-auto mt-2" style="padding-left: 4px; padding-right: 4px; cursor: pointer;">
              <p class="mb-0 plus">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </p>
            </div>
          </div>
        </div>
        
        <div class="input-style mt-3">
          <p class="mb-0 text-input">ความคิดเห็น</p>
          <textarea class="form-control border-0 p-0 text-placeholder"
            style="box-shadow: none; background-color: #F2F6FA;" rows="3" placeholder="ข้อความ"></textarea>
        </div>
        
        <button type="button" class="btn mt-3"
          style="border: none; border-radius: 1.5rem; width: 100%; color: #fff; background-color: #FE5721;">
          ตกลง
        </button>

      </div>
      <!-- End Transport Description -->

      <!-- Modal New Address -->
      <div class="modal fade" id="modalReason" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-bottom">
          <div class="modal-content p-3" style="border-radius: 20px 20px 0px 0px;">
            <div class="row">
              <div class="col-auto">
                <a class="" style="text-decoration: none; cursor: pointer; color: #FE5721;">
                  ตกลง
                </a>
              </div>
              <div class="col text-center">
                <p>เหตุผลการคืนสินค้า</p>
              </div>
              <div class="col-auto">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            </div>
            <div class="modal-body p-0">
              <p class="mt-1 mb-1 font-weight-bold text-center" style="cursor: pointer;">สินค้าชำรุด</p>
              <div style="border-bottom: 1.5px solid #6D6D6D;"></div>
              <p class="mt-1 mb-1 text-center" style="cursor: pointer;">สินค้าไม่ตรงตามรายระเอียด</p>
              <div style="border-bottom: 1.5px solid #6D6D6D;"></div>
              <p class="mt-1 mb-1 text-center" style="cursor: pointer;">ร้านค้าส่งสินค้าไม่ครบ</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal New Address -->
      <!-- <app-test></app-test> -->

    </div>
    <!-- End Card Body -->
  </div>
  <!-- End Card -->
</div>
<!-- End Container -->