<div *ngIf="showContent" class="container">
  <div class="card card-radius">
    <div class="card-tab card-tab-radius">
      <div class="row m-0">
        <div class="col pr-0 align-self-center">
          <p class="text-white text-center mb-0">ตั้งค่าภาพโปรไฟล์</p>
        </div>
        <div class="col-auto p-0">
          <a class="card-link add-text" style="color: #FE5721; cursor: pointer;" data-toggle="modal"
            data-target="#ModalAddBuyerImg">เพิ่มรูปภาพ</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <img class="rounded-circle mt-2" style="width: 150px; height: 150px;" src="{{ userBuyer.profileImg.imgUrl }}">
      <!-- SUBMIT BUTTON -->
      <div class="text-center mb-2">
        <button data-toggle="modal" data-target="#ModalPopupSubmit" data-backdrop="static" data-keyboard="false" 
        type="button" class="btn mt-2 text-center btn-submit" (click)="checkProfileImg()">บันทึกรูปโปรไฟล์
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL POPUP IMG -->
<div class="modal fade" id="ModalAddBuyerImg" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <label class="btn btn-up">เลือกรูปโปรไฟล์
        <input type="file" accept="image/png, image/jpeg" style="display: none;" (change)="fileChangeEvent($event)">
      </label>
      <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
        [resizeToWidth]="1000" format="png" (imageCropped)="imageCropped($event)">
      </image-cropper>

      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;" data-dismiss="modal"
            (click)="setProductImg()">ตกลง</button>
        </div>
        <div class="mt-2">
          <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
            <p class="text-center mb-0">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP IMG -->

<!-- MODAL POPUP UPDATE FILE -->
<div class="modal fade" id="ModalPopupSubmit" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">{{ textError }}</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal" (click)="addProfileImg()">ตกลง</button>
        </div>
        <div class="mt-2" *ngIf="status">
          <a data-dismiss="modal" aria-label="Close" #closeModal style="cursor: pointer;">
            <p class="text-center">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP UPDATE FILE -->

<!-- SHOW LOADING -->
<div *ngIf="showLoading">
  <div style="height: 100vh;">
    <div class="container h-100 d-flex justify-content-center">
      <div class="my-auto text-center">
        <img class="rounded-circle shadow" style="width: 60px; height: 60px;"
          src="./assets/img/WebsiteLogo-hourglass-B-Edit2_MoreBubble_shadow.svg">
        <p>Loading...</p>
      </div>
    </div>
  </div>
</div>
<!-- END SHOW LOADING -->