<div class="row">
  <div class="col-12 col-md col-lg">
    <p class="mb-0">#เสื้อผ้าผู้ชาย</p>
  </div>
  <div class="col-12 col-md-auto col-lg-auto col-btn-pr-1">
    <button type="button" class="btn btn-smp btn-outline-gray" data-toggle="modal"
    data-target="#modalSearchSetPrice">เลือกช่วงราคา</button>
  </div>
  <div class="col-12 col-md-auto col-lg-auto col-btn-pl-1">
    <button type="button" class="btn btn-smp btn-outline-gray" data-toggle="modal"
    data-target="#modalSearchSetSort">การจัดเรียง : เวลาเริ่มประมูลน้อยไปมาก</button>
  </div>
</div>

<!-- Product Search -->
<div class="row">
  <div class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-1-1">
    <div class="card card-border-3">
      <div class="card" style="border: none;">
        <img class="card-img" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <div class="row">
            <div class="col-6 pr-1">
              <div class="img-card-auto-win">
                <img class="img-fluid img-auto-win-other" style="margin: -25px 0px -20px -17px;"
                  src="./assets/img/auto-win-text-icon.png">
                <p class="p-text-other mb-0 pl-1" style="display:inline">฿15,000</p>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="img-card-time text-right">
                <p class="p-text-other mb-0 pr-1" style="display:inline">฿10,500</p>
                <img class="img-fluid img-time-other" style="display: inline; margin: -25px -17px -20px 0px;"
                  src="./assets/img/Clock.png">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body card-body-padding">
        <h5 class="card-title">Herschel Supply Retreat Backpack...</h5>
        <p class="card-text">กระเป๋ารุ่นยอดนิยมของ...</p>
        <ul class="rating-stars">
          <li>
            <i class="fa fa-star" style="color: #FFA101;"></i>
            <i class="fa fa-star" style="color: #FFA101;"></i>
            <i class="fa fa-star" style="color: #FFA101;"></i>
            <i class="fa fa-star-o" style="color: #FFA101;"></i>
            <i class="fa fa-star-o" style="color: #FFA101;"></i>
          </li>
        </ul>
        <var class="float-right">
          <i class="fa fa-heart" style="color: #FE5721"></i>
        </var>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-1-2">
    <div class="card card-border-3">
      <div class="card" style="border: none;">
        <img class="card-img" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <div class="row">
            <div class="col-6 pr-1">
              <div class="img-card-auto-win">
                <img class="img-fluid img-auto-win-other" style="margin: -25px 0px -20px -17px;"
                  src="./assets/img/auto-win-text-icon.png">
                <p class="p-text-other mb-0 pl-1" style="display:inline">฿15,000</p>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="img-card-time text-right">
                <p class="p-text-other mb-0 pr-1" style="display:inline">฿10,500</p>
                <img class="img-fluid img-time-other" style="display: inline; margin: -25px -17px -20px 0px;"
                  src="./assets/img/Clock.png">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body card-body-padding">
        <h5 class="card-title">Herschel Supply Retreat Backpack...</h5>
        <p class="card-text">กระเป๋ารุ่นยอดนิยมของ...</p>
        <ul class="rating-stars">
          <li>
            <i class="fa fa-star" style="color: #FFA101;"></i>
            <i class="fa fa-star" style="color: #FFA101;"></i>
            <i class="fa fa-star" style="color: #FFA101;"></i>
            <i class="fa fa-star-o" style="color: #FFA101;"></i>
            <i class="fa fa-star-o" style="color: #FFA101;"></i>
          </li>
        </ul>
        <var class="float-right">
          <i class="fa fa-heart" style="color: #FE5721"></i>
        </var>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-2-1">
    <div class="card card-border-3">
      <div class="card" style="border: none;">
        <img class="card-img" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <div class="row">
            <div class="col-6 pr-1">
              <div class="img-card-auto-win">
                <img class="img-fluid img-auto-win-other" style="margin: -25px 0px -20px -17px;"
                  src="./assets/img/auto-win-text-icon.png">
                <p class="p-text-other mb-0 pl-1" style="display:inline">฿15,000</p>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="img-card-time text-right">
                <p class="p-text-other mb-0 pr-1" style="display:inline">฿10,500</p>
                <img class="img-fluid img-time-other" style="display: inline; margin: -25px -17px -20px 0px;"
                  src="./assets/img/Clock.png">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body card-body-padding">
        <h5 class="card-title">Herschel Supply Retreat Backpack...</h5>
        <p class="card-text">กระเป๋ารุ่นยอดนิยมของ...</p>
        <ul class="rating-stars">
          <li>
            <i class="fa fa-star" style="color: #FFA101;"></i>
            <i class="fa fa-star" style="color: #FFA101;"></i>
            <i class="fa fa-star" style="color: #FFA101;"></i>
            <i class="fa fa-star-o" style="color: #FFA101;"></i>
            <i class="fa fa-star-o" style="color: #FFA101;"></i>
          </li>
        </ul>
        <var class="float-right">
          <i class="fa fa-heart" style="color: #FE5721"></i>
        </var>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-3 col-md-6 col-lg-3 col-xl-3 mt-2 p-2-2">
    <div class="card card-border-3">
      <div class="card" style="border: none;">
        <img class="card-img" src="./assets/img/bag.png" style="border-radius: 13px 13px 0px 0px;">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <div class="row">
            <div class="col-6 pr-1">
              <div class="img-card-auto-win">
                <img class="img-fluid img-auto-win-other" style="margin: -25px 0px -20px -17px;"
                  src="./assets/img/auto-win-text-icon.png">
                <p class="p-text-other mb-0 pl-1" style="display:inline">฿15,000</p>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="img-card-time text-right">
                <p class="p-text-other mb-0 pr-1" style="display:inline">฿10,500</p>
                <img class="img-fluid img-time-other" style="display: inline; margin: -25px -17px -20px 0px;"
                  src="./assets/img/Clock.png">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body card-body-padding">
        <h5 class="card-title">Herschel Supply Retreat Backpack...</h5>
        <p class="card-text">กระเป๋ารุ่นยอดนิยมของ...</p>
        <ul class="rating-stars">
          <li>
            <i class="fa fa-star" style="color: #FFA101;"></i>
            <i class="fa fa-star" style="color: #FFA101;"></i>
            <i class="fa fa-star" style="color: #FFA101;"></i>
            <i class="fa fa-star-o" style="color: #FFA101;"></i>
            <i class="fa fa-star-o" style="color: #FFA101;"></i>
          </li>
        </ul>
        <var class="float-right">
          <i class="fa fa-heart" style="color: #FE5721"></i>
        </var>
      </div>
    </div>
  </div>
</div>
<!-- Product Search -->

<!-- Backward - Forward -->
<div class="row mt-3 mb-3">
  <div class="col">
    <a style="text-decoration: none; cursor: pointer;">
      <i class="fa fa-angle-left font-weight-bold" aria-hidden="true"></i>
      ก่อนหน้า
    </a>
  </div>
  <div class="col text-right">
    <a style="text-decoration: none; cursor: pointer;">
      ถัดไป
      <i class="fa fa-angle-right font-weight-bold" aria-hidden="true"></i>
    </a>
  </div>
</div>
<!-- Backward - Forward -->

<!-- Modal Search Set Price -->
<div class="modal fade" id="modalSearchSetPrice" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
style="display: none;" aria-hidden="true">
<div class="modal-dialog modal-bottom">
  <div class="modal-content p-3" style="border-radius: 20px 20px 0px 0px;">

    <div class="row">
      <div class="col-auto">
        <a href="#" class="" style="text-decoration: none; cursor: pointer; color: #FE5721;">
          ตกลง
        </a>
      </div>
      <div class="col text-center">
        <p>เลือกช่วงราคา</p>
      </div>
      <div class="col-auto">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>

    <p class="mt-3">ตั้งราคาสูงสุดสำหรับการประมูลสินค้าชิ้นนี้</p>
    <div class="modal-body p-0 align-self-center modal-input-width">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 mt-2">
          <div class="input-style">
            <p class="mb-0" style="font-size: 17px;">ต่ำสุด</p>
            <input class="form-control border-0 p-0" style="box-shadow: none; background-color: #F2F6FA;"
              id="search-set-price-low" placeholder="500">
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 mt-2">
          <div class="input-style">
            <p class="mb-0" style="font-size: 17px;">สูงสุด</p>
            <input class="form-control border-0 p-0" style="box-shadow: none; background-color: #F2F6FA;"
              id="search-set-price-high" placeholder="10,000">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<!-- Modal Modal Search Set Price -->

<!-- Modal Search Set Sort -->
<div class="modal fade" id="modalSearchSetSort" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
style="display: none;" aria-hidden="true">
<div class="modal-dialog modal-bottom">
  <div class="modal-content p-3" style="border-radius: 20px 20px 0px 0px;">

    <div class="row">
      <div class="col-auto">
        <a href="#" class="" style="text-decoration: none; cursor: pointer; color: #FE5721;">
          ตกลง
        </a>
      </div>
      <div class="col text-center">
        <p>เลือกช่วงราคา</p>
      </div>
      <div class="col-auto">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>

    <p class="mt-3">ตั้งราคาสูงสุดสำหรับการประมูลสินค้าชิ้นนี้</p>
    <div class="modal-body p-0 align-self-center modal-input-width">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mt-2">
          <button type="button" class="btn btn-color" style="width: 100%;">เวลาเริ่มประมูลน้อยไปมาก</button>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-2">
          <button type="button" class="btn btn-outline-color" style="width: 100%;">เวลาเริ่มประมูลมากไปน้อย</button>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-2">
          <button type="button" class="btn btn-outline-color" style="width: 100%;">ราคาต่ำไปสูง</button>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-2">
          <button type="button" class="btn btn-outline-color" style="width: 100%;">ราคาสูงไปต่ำ</button>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<!-- Modal Modal Search Set Sort -->