/* Card Product */
.img-card-auto-win {
  padding: 0px 4px 0px 0px;
  background-color: #fff;
  border: 3px solid #F0F0F0; 
  border-radius: 0px 15px 15px 0px; 
}

/* .img-card-time {
  padding: 0px 0px 0px 4px;
  background-color: #fff;
  border: 3px solid #F0F0F0; 
  border-radius: 15px 0px 0px 15px; 
} */

.rating-stars {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1;
}

.m-row-card-product {
  margin-left: -10px; 
  margin-right: -10px;
}

.p-col-card-product {
  padding-left: 5px;
  padding-right: 5px;
}

.img-auto-win-other {
  margin: -5px 1px 0px -12px;
  max-width: 40px;
}

.img-time-other {
  margin: -5px -12px 0px 1px;
  max-width: 40px;
}

.card-border-3 {
  border: 3px solid #E7EDF4; 
  border-radius: 15px;
}

.posi-card {
  position: relative;
}

.product-img-card {
  width: 100%; 
  border-radius: 13px 13px 0px 0px;
}

.bg-left-auto {
  position: absolute; 
  bottom: 6px; 
  left: 16px;
}

.bg-right-time {
  position: absolute; 
  bottom: 6px; 
  right: 16px;
}

.p-text-other {
  font-size: 1rem;
}

.card-body-padding {
  padding: 20px;
}
/* End Card Product */

.btn-outline-gray {
  color: #585858;
  border-color: #373E48;
}

.btn-color {
  color: #fff; 
  background-color: #FE5721;
  border-color: #FE5721;
}

.btn-outline-color {
  color: #585858;
  background-color: transparent;
  background-image: none;
  border: 3px solid #E7EDF4;
}

.modal-input-width {
  width: 80%;
}

.col-btn-pr-1 {
  padding-right: 4px;
}

.col-btn-pl-1 {
  padding-left: 4px;
}

.input-style {
  padding: 16px 16px 16px 24px; 
  border-radius: 10px; 
  background-color: #F2F6FA;
}

/* MODAL */
.modal.fade .modal-bottom {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal .modal-bottom {
  margin:0;
  margin-top:auto;
  padding: 0;
  position:absolute;
  bottom:0;
  top:auto;
  left:auto;
  right:0;
  height:calc(55% + 160px); /* default height:45% its just for demo*/
}
.modal .modal-bottom>.modal-content{
  height:100%;
  border-color: #fff;
  border-radius:0;
  margin:0;
}
.modal-bottom .modal-body
{
  height: calc(100% - 140px);overflow-y:auto;
}
@media (min-width: 1px){
  .modal-bottom {max-width: 100%;width:100%;}
}
/*Custume scroll bar*/
.modal-bottom ::-webkit-scrollbar {width:8px}
.modal-bottom ::-webkit-scrollbar-button {width:8px;height:5px}
.modal-bottom ::-webkit-scrollbar-thumb:hover {background: #ccc}
.modal-bottom ::-webkit-scrollbar-thumb {	background:#f1f1f1;border: thin solid white;border-radius: 10px}
.modal-bottom ::-webkit-scrollbar-track {background: #fff;border:thin solid white}   
/* MODAL END */

.star-color {
  color: #FFA101;
}

.heart-color {
  color: #FE5721
}

.heart-grey {
  color: #A9A9A9;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}


.bg-right-time-a {
  position: absolute; 
  bottom: 6px; 
  right: 16px;
}

.time-position {
  position: relative;
  bottom: -2px;
  right: -10px;
}

.img-card-time {
  padding: 0px 10px 0px 4px;
  background-color: #fff;
  border: 3px solid #F0F0F0; 
  border-radius: 15px 0px 0px 15px; 
}

.text-date-position {
  position: absolute; 
  bottom: 8px; 
  right: -1px;
}

.text-date {
  color: #FE5721; 
  font-size: 0.9rem; 
  line-height: 0.9;
}

.img-time-other-set-price {
  /* border-radius: 100%;
  border: 2px solid #FE5721; */
  margin: -5px -12px 0px 1px;
  max-width: 40px;
}

.productName:hover {
  color: #a9a9a9;
}

.heart:hover {
  /* color: #a9a9a9; */
  opacity: 0.6;
}

.text-disabled {
  color: #A9A9A9;
}

.text-disabled {
  color: #A9A9A9;
}

.card-img-overlay {
  padding: .5rem;
}

.modalShow {
  display: block;
  overflow-y: auto; 
  padding-right: 15px;
  background: rgba(0,0,0,0.5);
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .text-date-position {
    position: absolute; 
    bottom: 10px; 
    right: 0px;
  }

  .text-date {
    font-size: 0.8rem; 
    line-height: 0.8;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 480px) {
  /* Card Product */
  .m-row-card-product {
    margin-left: -5px; 
    margin-right: -5px;
  }

  .p-col-card-product {
    padding-left: 3px;
    padding-right: 3px;
  }

  .img-auto-win-other {
    max-width: 30px;
  }
  
  .img-time-other {
    max-width: 30px;
  }

  .p-text-other {
    font-size: 0.5rem;
  }

  .img-card-auto-win {
    padding: 2px 4px 2px 0px;
    background-color: #fff;
    border: 0.5px solid #F0F0F0; 
    border-radius: 0px 15px 15px 0px; 
  }

  /* .img-card-time {
    padding: 2px 0px 2px 4px;
    background-color: #fff;
    border: 0.5px solid #F0F0F0; 
    border-radius: 15px 0px 0px 15px; 
  } */

  .img-card-time {
    padding: 2px 8px 2px 4px;
    background-color: #fff;
    border: 0.5px solid #F0F0F0; 
    border-radius: 15px 0px 0px 15px; 
  }

  .card-border-3 {
    border: 1.5px solid #E7EDF4;
    border-radius: 15px;
  }

  .card-body-padding {
    padding: 10px;
  }

  .card-title {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .card-text {
    font-size: .8rem;
    margin-bottom: 5px;
  }
  /* End Card Product */

  .modal-input-width {
    width: 100%;
  }

  .btn-smp {
    margin-top: 6px;
    width: 100%;
  }

  .col-btn-pr-1 {
    padding-right: 15px;
  }
  
  .col-btn-pl-1 {
    padding-left: 15px;
  }

  .input-style {
    padding: 10px 10px 10px 15px; 
    border-radius: 10px; 
    background-color: #F2F6FA;
  }

  .time-position {
    position: relative;
    bottom: 1px;
    right: -7px;
  }

  .text-date-position {
    position: absolute; 
    bottom: 7px; 
    right: -4px;
  }

  .text-date {
    font-size: 0.7rem; 
    line-height: 0.8;
  }

  .img-time-other-set-price {
    /* border: 1.8px solid #FE5721; */
    max-width: 30px;
  }

  .text-date-time {
    font-size: .8rem;
  }

}