<div *ngIf="showContent">
  <!-- <div class="row nav-sm p-3">
    <div class="col-auto pr-0">
      <img src="./assets/img/WebsiteLogo-hourglass-B-Edit2_MoreBubble_shadow.svg" class="align-self-center" style="width: 30px; height: 30px;">
    </div>
    <div class="col align-self-center">
      <p class="mb-0">A Bid More</p>
    </div>
  </div> -->
  <div class="h-vh">
    <div class="container h-100 d-flex justify-content-center">
      <div class="my-auto" style="width: 100%;">
        <div class="row m-0 card_">
          <!-- LEFT -->
          <div class="col-12 col-md-6 col-xl-6 col-regis">
            <div class="card border-0">
              <img class="card-img img-cover" src="./assets/img/loading-page-app.svg.svg">
              <div class="card-img-overlay overlay-cover text-center d-flex flex-column justify-content-center">
                <div class="">
                  <h2 class="mb-0 text-right">A Bid More</h2>
                  <p class="mb-0 text-right">พบสินค้าคุณภาพที่</p>
                </div>
              </div>
            </div>
          </div>
          <!-- END LEFT -->
          <!-- RIGHT -->
          <div class="col-12 col-md-6 col-xl-6">
            <!-- RIGHT INPUT EMAIL PASS -->
            <div *ngIf="showFormEmail">
              <div class="row row-right">
                <div class="col">
                  <h2 class="mb-0">สมัครสมาชิก</h2>
                </div>
              </div>
              <div class="input-style mt-4">
                <p class="mb-0 text-input">Email</p>
                <input type="email" class="form-control border-0 p-0 text-placeholder"
                  style="box-shadow: none; background-color: #F2F6FA;" #email_ 
                  maxlength="100" placeholder="email@example.com">
              </div>
              <div class="input-style mt-2">
                <p class="mb-0 text-input">รหัสผ่าน</p>
                <input type="password" class="form-control border-0 p-0 text-placeholder"
                  style="box-shadow: none; background-color: #F2F6FA;" #password_ 
                  maxlength="100" placeholder="รหัสผ่าน" (keyup)='passInput($event)'> 
                  <p *ngIf="passErr" class="mb-0 text-danger" style="font-size: .8rem;">(มากกว่า 8 ตัวอักษร ประกอบด้วยตัวพิมพ์ใหญ่และพิมพ์เล็กและตัวเลข)</p>
              </div>
              <div class="input-style mt-2">
                <p class="mb-0 text-input">ยืนยันรหัสผ่าน</p>
                <input type="password" class="form-control border-0 p-0 text-placeholder"
                  style="box-shadow: none; background-color: #F2F6FA;" #confirmPassword_ 
                  maxlength="100" placeholder="รหัสผ่าน">
              </div>
              <!-- ERROR MESS -->
              <p class="mt-2 mb-0 text-danger">{{ errorText1 }}</p>
              <!-- <p *ngIf="auth.statusloginFail" class="mb-0 text-danger">ข้อผิดพลาดอีเมล์หรือรหัสผ่านไม่ถูกต้อง</p> -->
              <!-- BUTTON SUBMIT -->
              <button (click)="goToInfo(email_.value, password_.value, confirmPassword_.value)" type="button" class="btn mt-3 btn-submit">
                สมัครสมาชิก
              </button>
            </div>
            <!-- END RIGHT INPUT EMAIL PASS -->

            <!-- RIGHT INPUT INFO -->
            <div *ngIf="showFormInfo">
                <div class="row row-right">
                  <div class="col">
                    <h2 class="mb-0">ข้อมูล</h2>
                  </div>
                  <div class="col align-self-center text-right">
                    <a (click)="backToEmail()" class="forgot-text">ย้อนกลับ</a>
                  </div>
                </div>
                <div class="input-style mt-4">
                  <p class="mb-0 text-input">ชื่อ</p>
                  <input type="email" class="form-control border-0 p-0 text-placeholder"
                    style="box-shadow: none; background-color: #F2F6FA;" #name_ placeholder="ชื่อจริง">
                </div>
                <div class="input-style mt-2">
                  <p class="mb-0 text-input">นามสกุล</p>
                  <input type="password" class="form-control border-0 p-0 text-placeholder"
                    style="box-shadow: none; background-color: #F2F6FA;" #lastName_ placeholder="นามสกุล">
                </div>
                <div class="dropdown" style="cursor: pointer;">
                  <div class="input-style mt-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p class="mb-0 text-input">เพศ</p>
                    <div style="box-shadow: none; background-color: #F2F6FA; border-radius: 5px; padding: 6px 12px 6px 8px;">
                      <div class="row">
                        <div class="col-10 pr-0">
                          <p class="mb-0 text-placeholder">{{ placeholderSex }}</p>
                        </div>
                        <div class="col-2 pl-0 text-right">
                          <p class="mb-0 dropdown-toggle"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-menu scrollable-menu">
                    <div>
                      <a class="dropdown-item" (click)="selectSex('ชาย', 'male')">ชาย</a>
                      <a class="dropdown-item" (click)="selectSex('หญิง', 'feMale')">หญิง</a>
                      <a class="dropdown-item" (click)="selectSex('ไม่ระบุ', 'NotSpecified')">ไม่ระบุ</a>
                    </div>
                  </div>
                </div>
                <div class="dropdown" style="cursor: pointer;">
                  <div class="input-style mt-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p class="mb-0 text-input">รู้จัก A Bid More จาก</p>
                    <div style="box-shadow: none; background-color: #F2F6FA; border-radius: 5px; padding: 6px 12px 6px 8px;">
                      <div class="row">
                        <div class="col-10 pr-0">
                          <p class="mb-0 text-placeholder">{{ placeholderKnow }}</p>
                        </div>
                        <div class="col-2 pl-0 text-right">
                          <p class="mb-0 dropdown-toggle"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-menu scrollable-menu">
                    <div>
                      <a class="dropdown-item" (click)="selectKnow('สื่ออนไลน์', 'onlineMedia')">สื่ออนไลน์</a>
                      <a class="dropdown-item" (click)="selectKnow('เพื่อนแนะนำ', 'recommendedFriends')">เพื่อนแนะนำ</a>
                      <a class="dropdown-item" (click)="selectKnow('พบเอง', 'findMyself')">พบเอง</a>
                    </div>
                  </div>
                </div>
                <!-- BUTTON SUBMIT -->
                <button (click)="goToRefCode(name_.value, lastName_.value)" type="button" class="btn mt-3 btn-submit">
                  สมัครสมาชิก
                </button>
            </div>
            <!-- END RIGHT INPUT INFO -->

            <!-- RIGHT INPUT REFCODE -->
            <div *ngIf="showFormRefCode">
              <div class="row row-right">
                <div class="col">
                  <h2 class="mb-0">รหัสแนะนำ</h2>
                </div>
                <div class="col align-self-center text-right">
                  <a (click)="backToInfo()" class="forgot-text">ย้อนกลับ</a>
                </div>
              </div>
              <p class="mb-0 text-dark">กรุณาเพิ่มรหัสแนะนำเพื่อรับสิทธิประโยชน์พิเศษ</p>
              <div class="input-style mt-2">
                <p class="mb-0 text-input">รหัสแนะนำ</p>
                <input class="form-control border-0 p-0 text-placeholder"
                  style="box-shadow: none; background-color: #F2F6FA;" #refCode_
                  placeholder="ตัวอย่างรหัส AB1621859416">
              </div>
              <!-- <p class="mt-2 mb-0 text-danger">{{ errorText5 }}</p> -->
              <!-- BUTTON SUBMIT -->
              <button (click)="goToPhoneNumber(refCode_.value)" type="button" class="btn mt-3 btn-submit">
                สมัครสมาชิก
              </button>
            </div>
            <!-- END RIGHT INPUT REFCODE -->

            <!-- RIGHT INPUT PHONE NUMBER -->
            <div *ngIf="showFormPhoneNumber">
              <div class="row row-right">
                <div class="col">
                  <h2 class="mb-0">หมายเลขโทรศัพท์</h2>
                </div>
                <div class="col align-self-center text-right">
                  <a (click)="backToRefCode()" class="forgot-text">ย้อนกลับ</a>
                </div>
              </div>
              <div class="input-style mt-2">
              <p class="mb-0 text-input">หมายเลขโทรศัพท์</p>
              <input class="form-control border-0 p-0 text-placeholder"
                style="box-shadow: none; background-color: #F2F6FA;" #phoneNumber_
                oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="10" placeholder="xxxxxxxxxx">
              </div>
              <!-- BUTTON SUBMIT -->
              <button (click)="goToOtp(phoneNumber_.value)" type="button" class="btn mt-3 btn-submit">
                สมัครสมาชิก
              </button>
            </div>
            <!-- END RIGHT INPUT PHONE NUMBER -->

            <!-- RIGHT INPUT OTP -->
            <div *ngIf="showFormOtp">
              <div class="row row-right">
                <div class="col">
                  <h2 class="mb-0">รหัส OTP</h2>
                </div>
                <div class="col align-self-center text-right">
                  <a (click)="backToPhoneNumber()" class="forgot-text">ย้อนกลับ</a>
                </div>
              </div>
              <div class="otp mt-2 mb-2">
                <p class="text-input text-right mb-0" style="color: #585858;">รหัสอ้างอิง QPRK</p>
                <div class="row justify-content-center otp-input" style="margin-left: -4px; margin-right: -4px;">
                  <div class="col-auto" style="padding-left: 4px; padding-right: 4px;">
                    <div class="input-otp-style">
                      <input class="form-control border-0 p-0 text-placeholder text-center"
                        style="box-shadow: none; background-color: #F2F6FA;" #no1_
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="1" placeholder="-">
                    </div>
                  </div>
                  <div class="col-auto" style="padding-left: 4px; padding-right: 4px;">
                    <div class="input-otp-style">
                      <input class="form-control border-0 p-0 text-placeholder text-center"
                        style="box-shadow: none; background-color: #F2F6FA;" #no2_
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="1" placeholder="-">
                    </div>
                  </div>
                  <div class="col-auto" style="padding-left: 4px; padding-right: 4px;">
                    <div class="input-otp-style">
                      <input class="form-control border-0 p-0 text-placeholder text-center"
                        style="box-shadow: none; background-color: #F2F6FA;" #no3_
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="1" placeholder="-">
                    </div>
                  </div>
                  <div class="col-auto" style="padding-left: 4px; padding-right: 4px;">
                    <div class="input-otp-style">
                      <input class="form-control border-0 p-0 text-placeholder text-center"
                        style="box-shadow: none; background-color: #F2F6FA;" #no4_
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="1" placeholder="-">
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-left: -4px; margin-right: -4px;">
                  <div class="col-auto" style="padding-left: 4px; padding-right: 0px;">
                    <p class="mb-0 text-input" style="color: #FE5721; cursor: pointer;">เปลี่ยนหมายเลขโทรศัพท์</p>
                  </div>
                  <div class="col text-right"  style="padding-left: 0px; padding-right: 4px;">
                    <p class="mb-0 text-input" style="color: #FE5721; cursor: pointer;">ขอรหัสใหม่อีกครั้ง</p>
                  </div>
                </div>
              </div>
              <!-- BUTTON SUBMIT -->
              <button (click)="goToCondition()" type="button" class="btn mt-3 btn-submit">
                สมัครสมาชิก
              </button>
            </div>
            <!-- END RIGHT INPUT OTP -->

            <!-- RIGHT INPUT CONDITION -->
            <div *ngIf="showFormCondition">
              <div class="row row-right">
                <div class="col">
                  <h2 class="mb-0">เงื่อนไข</h2>
                </div>
                <div class="col align-self-center text-right">
                  <a (click)="backToOtp()" class="forgot-text">ย้อนกลับ</a>
                </div>
              </div>

              <div class="mt-2">
                <p class="mb-0">เงื่อนไขข้อที่ 1</p>                
                <p class="mb-0" style="font-size: .8rem;">• รายละเอียด</p>  
                <p class="mb-0">เงื่อนไขข้อที่ 2</p>                
                <p class="mb-0" style="font-size: .8rem;">• รายละเอียด</p>   
                <p class="mb-0">เงื่อนไขข้อที่ 3</p>                
                <p class="mb-0" style="font-size: .8rem;">• รายละเอียด</p>   
                <p class="mb-0">เงื่อนไขข้อที่ 4</p>                
                <p class="mb-0" style="font-size: .8rem;">• รายละเอียด</p>                 
              </div>
              <p class="mt-2 mb-4 text-dark">กรุณาอ่านข้อตกลงการใช้งาน A BID MORE เพื่อรับทราบถึงเงื่อนไขการใช้งาน
                เมื่อกดยอมรับเงื่อนไขจะถือว่าท่านได้รับทราบถึงเงื่อนไขและยอมรับตามรายละเอียดนี้
              </p>
              <div class="custom-control custom-radio custom-control-inline" (click)="checkCon()">
                <input type="radio" id="customRadioInline5" name="customRadioInline3" class="custom-control-input">
                <label class="custom-control-label" style="color: #616a71;"
                  for="customRadioInline5">ยอมรับเงื่อนไข</label>
              </div>
              <!-- BUTTON SUBMIT -->
              <button [routerLink]="['']" [disabled]="!checkCondition" type="button" class="btn mt-3 btn-submit router">
                สมัครสมาชิก
              </button>
            </div>
            <!-- END RIGHT INPUT CONDITION -->
          </div>
          <!-- END RIGHT -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL POPUP RESET PASS -->
<div class="modal fade" id="ModalPopupResetPass" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <!-- <p class="text-center">{{ textError }}</p> -->
      <p class="text-center">MODAL POPUP RESET PASS</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <!-- <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
              style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
              data-dismiss="modal" 
              data-toggle="modal" data-target="#ModalPopupMess"
              data-backdrop="static" data-keyboard="false"
              (click)="firebaseResetPass()">ตกลง</button> -->
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;" data-dismiss="modal"
            >ตกลง</button>
        </div>
        <!-- <div *ngIf="status" class="mt-2"> -->
        <div class="mt-2">
          <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
            <p class="text-center">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP RESET PASS -->

<!-- MODAL POPUP MESS -->
<div class="modal fade" id="ModalPopupMess" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <!-- <p class="text-center">{{ textError }}</p> -->
      <p class="text-center">MODAL POPUP MESS</p>
      <div class="mt-4">
        <!-- <div *ngIf="resetPassStatus" class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal">ตกลง</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP MESS -->

<!-- SHOW LOADING -->
<div *ngIf="showLoading">
  <div style="height: 100vh;">
    <div class="container h-100 d-flex justify-content-center">
      <div class="my-auto text-center">
        <img class="rounded-circle shadow" style="width: 60px; height: 60px;"
          src="./assets/img/WebsiteLogo-hourglass-B-Edit2_MoreBubble_shadow.svg">
        <p>Loading...</p>
      </div>
    </div>
  </div>
</div>
<!-- END SHOW LOADING -->