/* You can add global styles to this file, and also import other style files */

/* TEST SET BOOTSTRAP AND FONT-AWESOME */
/* @import "~bootstrap/dist/css/bootstrap.min.css";*/
/* @import "~font-awesome/css/font-awesome.css"; */


body {
  font-family: 'Kanit', sans-serif;
 }

.body-color {
  background-color: #F5F5F5;
}

.router {
  cursor: pointer; 
  outline: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 480px) {
  .body-color {
    background-color: #383D47;
    /* background-color: #FFF; */

  }
}