.container {
  margin-bottom: 16px;
}

.card-radius {
  border-radius: 10px; 
  background-color: #383D47;
}

.card-tab-radius {
  border-radius: 10px; 
  background-color: #202229;
}

.card-list {
  margin-top: 15px;
  border-radius: 5px; 
  background-color: #FFF;
}

.card-padding {
  padding: 15px;
}

.card-body {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.card-tab {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.input-style {
  padding: 16px 16px 16px 24px; 
  border-radius: 10px; 
  background-color: #F2F6FA;
}

.btn-mt {
  margin-top: 15px;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 480px) {
  .container {
    padding: 0px;
    margin-bottom: 0px;
  }

  .card-tab {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
  }

  .card-body {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
  }

  .card-radius {
    border-radius: 0px; 
    background-color: #383D47;
  }
  
  .card-tab-radius {
    border-radius: 0px; 
    background-color: #202229;
  }

  .card-list {
    margin-top: 8px;
  }

  .card-padding {
    padding: 8px;
  }

  .btn-mt {
    margin-top: 10px;
  }

  .input-style {
    padding: 10px 10px 10px 15px; 
    border-radius: 10px; 
    background-color: #F2F6FA;
  }

}