<div class="container">
  <div class="card card-radius">
    <div class="pt-3 pb-3 card-tab-radius">
      <p class="text-white text-center mb-0">โปรโมชั่น</p>
    </div>
  
    <div class="card-body">
      <!-- List 1 -->
      <div class="card-list card-padding">
        <div class="row">
          <div class="col-auto sm-pr">
            <img class="img-fluid rounded-circle img-store" src="./assets/img/noti-pro-icon.png">
            <span class="badge badge-pill" style="position: relative; top: -19px; right: -7px; padding: 2px 8px; margin-left: -23px; color: #E54040; background-color: #E54040; border: 1px solid #EEE;">
              .
            </span>
          </div>
          <div class="col pl-0 align-self-center">
            <h5 class="mb-0 font-topic">หัวข้อโปรโมชั่น</h5>
            <p class="mb-0 font-date">20/03/2020</p>
          </div>
        </div>
        <div class="row p-des">
          <div class="col-12">
            <img class="img-fluid img-des" style="border-radius: 10px;" src="./assets/img/banner/capture2.png">
          </div>
          <div class="col-12 align-self-center">
            <p class="mt-2 mb-0 font-des">รายระเอียดโปรโมชั่นเป็นข้อความสามารถระบุหรือไม่ระบุก็ได้...</p>
          </div>
        </div>
      </div>
      <!-- List 2 -->
      <div class="card-list card-padding">
        <div class="row">
          <div class="col-auto sm-pr">
            <img class="img-fluid rounded-circle img-store" src="./assets/img/noti-pro-icon.png">
            <span class="badge badge-pill" style="position: relative; top: -19px; right: -7px; padding: 2px 8px; margin-left: -23px; color: #E54040; background-color: #E54040; border: 1px solid #EEE;">
              .
            </span>
          </div>
          <div class="col pl-0 align-self-center">
            <h5 class="mb-0 font-topic">หัวข้อโปรโมชั่น</h5>
            <p class="mb-0 font-date">20/03/2020</p>
          </div>
        </div>
        <div class="row p-des">
          <div class="col-12">
            <img class="img-fluid img-des" style="border-radius: 10px;" src="./assets/img/banner/capture2.png">
          </div>
          <div class="col-12 align-self-center">
            <p class="mt-2 mb-0 font-des">รายระเอียดโปรโมชั่นเป็นข้อความสามารถระบุหรือไม่ระบุก็ได้...</p>
          </div>
        </div>
      </div>
      <!-- List 3 -->
      <div class="card-list card-padding">
        <div class="row">
          <div class="col-auto sm-pr">
            <img class="img-fluid rounded-circle img-store" src="./assets/img/noti-pro-icon.png">
            <span class="badge badge-pill" style="position: relative; top: -19px; right: -7px; padding: 2px 8px; margin-left: -23px; color: #E54040; background-color: #E54040; border: 1px solid #EEE;">
              .
            </span>
          </div>
          <div class="col pl-0 align-self-center">
            <h5 class="mb-0 font-topic">หัวข้อโปรโมชั่น</h5>
            <p class="mb-0 font-date">20/03/2020</p>
          </div>
        </div>
        <div class="row p-des">
          <!-- <div class="col-12">
            <img class="img-fluid img-des" style="border-radius: 10px;" src="./assets/img/banner/capture2.png">
          </div> -->
          <div class="col-12 align-self-center">
            <p class="mt-2 mb-0 font-des">รายละเอียดโปรโมชั่นเป็นข้อความสามารถระบุหรือไม่ระบุก็ได้รายละเอียดโปรโมชั่นเป็นข้อความสามารถระบุหรือไม่ระบุก็ได้รายละเอียดโปรโมชั่นเป็นข้อความสามารถระบุหรือไม่ระบุก็ได้...</p>
          </div>
        </div>
      </div>

  
  </div>
  <!-- Card Body -->
  </div>


  </div>
  <!-- End Container -->